In [1]:
#working in Python 3 for maybe the second time, used Python 2.7 before this
#got the python 3 code for downloading a file from 
    #https://stackoverflow.com/questions/22676/how-do-i-download-a-file-over-http-using-python

import urllib.request

urllib.request.urlretrieve ("https://github.com/HindustanTimesLabs/nfhs-data/archive/master.zip", "nfhs-data.zip")

('nfhs-data.zip', <http.client.HTTPMessage at 0x7f81c0431978>)

In [5]:
#https://stackoverflow.com/questions/3451111/unzipping-files-in-python

import zipfile

z = zipfile.ZipFile("nfhs-data.zip", 'r')

z.extractall()

In [6]:
ls

iPython_notebook.ipynb*  nfhs-data.zip*
nfhs-data-master/        submission_notes.doc*

In [7]:
ls nfhs-data-master/

indicator-wise/  nfhs_district-wise.csv*     nfhs_state-wise.csv*
LICENSE*         nfhs_indicator_lookup.csv*  README.md*

In [8]:
ls nfhs-data-master/indicator-wise/

nfhs_10.csv*  nfhs_28.csv*  nfhs_45.csv*  nfhs_62.csv*  nfhs_7.csv*
nfhs_11.csv*  nfhs_29.csv*  nfhs_46.csv*  nfhs_63.csv*  nfhs_80.csv*
nfhs_12.csv*  nfhs_2.csv*   nfhs_47.csv*  nfhs_64.csv*  nfhs_81.csv*
nfhs_13.csv*  nfhs_30.csv*  nfhs_48.csv*  nfhs_65.csv*  nfhs_82.csv*
nfhs_14.csv*  nfhs_31.csv*  nfhs_49.csv*  nfhs_66.csv*  nfhs_83.csv*
nfhs_15.csv*  nfhs_32.csv*  nfhs_4.csv*   nfhs_67.csv*  nfhs_84.csv*
nfhs_16.csv*  nfhs_33.csv*  nfhs_50.csv*  nfhs_68.csv*  nfhs_85.csv*
nfhs_17.csv*  nfhs_34.csv*  nfhs_51.csv*  nfhs_69.csv*  nfhs_86.csv*
nfhs_18.csv*  nfhs_35.csv*  nfhs_52.csv*  nfhs_6.csv*   nfhs_87.csv*
nfhs_19.csv*  nfhs_36.csv*  nfhs_53.csv*  nfhs_70.csv*  nfhs_88.csv*
nfhs_1.csv*   nfhs_37.csv*  nfhs_54.csv*  nfhs_71.csv*  nfhs_89.csv*
nfhs_20.csv*  nfhs_38.csv*  nfhs_55.csv*  nfhs_72.csv*  nfhs_8.csv*
nfhs_21.csv*  nfhs_39.csv*  nfhs_56.csv*  nfhs_73.csv*  nfhs_90.csv*
nfhs_22.csv*  nfhs_3.csv*   nfhs_57.csv*  nfhs_74.csv*  nfhs_91.csv*
nfhs_23.csv*  nfhs_40.csv*  nfhs_58.csv*  nfhs_75.csv*  nfhs_92.csv*
nfhs_24.csv*  nfhs_41.csv*  nfhs_59.csv*  nfhs_76.csv*  nfhs_93.csv*
nfhs_25.csv*  nfhs_42.csv*  nfhs_5.csv*   nfhs_77.csv*  nfhs_9.csv*
nfhs_26.csv*  nfhs_43.csv*  nfhs_60.csv*  nfhs_78.csv*
nfhs_27.csv*  nfhs_44.csv*  nfhs_61.csv*  nfhs_79.csv*

In [1]:
import pandas as pd

district_wise = pd.read_csv('nfhs-data-master/nfhs_district-wise.csv', encoding='latin-1')

#seems the encoding had to be done in latin-1 and not utf-8 for the csvs to be read
#more info here -- https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte

district_wise.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category
0,Kupwara,Jammu & Kashmir,1,1,65.1,63.5,NaN,1,Population (female) age 6 years and above who ...,Population and Household Profile
1,Badgam,Jammu & Kashmir,2,1,55,54.3,NaN,1,Population (female) age 6 years and above who ...,Population and Household Profile
2,Leh(Ladakh),Jammu & Kashmir,3,1,60.4,55.3,71,1,Population (female) age 6 years and above who ...,Population and Household Profile
3,Kargil,Jammu & Kashmir,4,1,64.3,61.3,NaN,1,Population (female) age 6 years and above who ...,Population and Household Profile
4,Punch,Jammu & Kashmir,5,1,67.3,66.3,NaN,1,Population (female) age 6 years and above who ...,Population and Household Profile

In [4]:
#column names got with https://stackoverflow.com/questions/19482970/get-list-from-pandas-dataframe-column-headers

district_wise.columns.tolist()

['district',
 'state',
 'district_census_code',
 'state_census_code',
 'total',
 'rural',
 'urban',
 'indicator_number',
 'indicator_name',
 'indicator_category']

In [21]:
#https://chrisalbon.com/python/pandas_find_unique_values.html
#https://stackoverflow.com/questions/36139/how-to-sort-a-list-of-strings

sorted(list(district_wise['state'].unique()))

['Andaman & Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Daman & Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'NCT Delhi',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [22]:
#so a few UTs are missing: chandigarh, dadra & nagar haveli and lakshadweep

len(list(district_wise['state'].unique()))

33

In [39]:
#wanted to get an idea of the indicators and how they're categorised
    #realised later I could have just checked the csv from the repo!!
    
#seems pandas gives us truncated data frames with some rows missing, only realised that later
#the below option lets us increase the number of rows displayed
#code from https://stackoverflow.com/questions/23388810/ipython-notebook-output-cell-is-truncating-contents-of-my-list

pd.options.display.max_rows = 500

district_wise.groupby(['indicator_category','indicator_name',"indicator_number"]).count()

                                                                                                                        district  \
indicator_category                                 indicator_name                                     indicator_number
Anaemia among Children and Adults                  All women age 15-49 years who are anaemic (%)      79                     637
                                                   Children age 6-59 months who are anaemic (<11.0... 76                     637
                                                   Men age 15-49 years who are anaemic (<13.0 g/dl... 80                     637
                                                   Non-pregnant women age 15-49 years who are anae... 77                     637
                                                   Pregnant women age 15-49 years who are anaemic ... 78                     637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                     637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     84                     637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                     637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     82                     637
Characteristics of Adults (age 15-49)              Men who are literate (%)                           13                     637
                                                   Women who are literate (%)                         12                     637
                                                   Women with 10 or more years of schooling (%)       14                     637
Child Feeding Practices and Nutritional Status ... Breastfeeding children age 6-23 months receivin... 65                     637
                                                   Children age 6-8 months receiving solid or semi... 64                     637
                                                   Children under 5 years who are severely wasted ... 70                     637
                                                   Children under 5 years who are stunted (height-... 68                     637
                                                   Children under 5 years who are underweight (wei... 71                     637
                                                   Children under 5 years who are wasted (weight-f... 69                     637
                                                   Children under age 3 years breastfed within one... 62                     637
                                                   Children under age 6 months exclusively breastfed  63                     637
                                                   Non-breastfeeding children age 6-23 months rece... 66                     637
                                                   Total children age 6-23 months receiving an ade... 67                     637
Child Immunizations and Vitamin A Supplementation  Children age 12-23 months fully immunized (BCG,... 47                     637
                                                   Children age 12-23 months who have received 3 d... 50                     637
                                                   Children age 12-23 months who have received 3 d... 52                     637
                                                   Children age 12-23 months who have received 3 d... 49                     637
                                                   Children age 12-23 months who have received BCG... 48                     637
                                                   Children age 12-23 months who have received mea... 51                     637
                                                   Children age 12-23 months who received most of ... 55                     637
                                                   Children age 12-23 months who received most of ... 54                     637
                                                   Children age 9-59 months who received a vitamin... 53                     637
Delivery Care (for births in the 5 years before... Births assisted by a doctor/nurse/LHV/ANM/other... 43                     637
                                                   Births delivered by caesarean section (%)          44                     637
                                                   Births in a private health facility delivered b... 45                     637
                                                   Births in a public health facility delivered by... 46                     637
                                                   Home delivery conducted by skilled health perso... 42                     637
                                                   Institutional births (%)                           40                     637
                                                   Institutional births in public facility (%)        41                     637
Family Planning Methods (currently married wome... Any method                                         18                     637
                                                   Any modern method                                  19                     637
                                                   Condom (%)                                         24                     637
                                                   Female sterilization (%)                           20                     637
                                                   IUD/PPIUD (%)                                      22                     637
                                                   Male sterilization (%)                             21                     637
                                                   Pill (%)                                           23                     637
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                     637
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                     637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                     637
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                     637
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                     637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                     637
Marriage and Fertility                             Men age 25-29 years married before age 21 years... 16                     637
                                                   Women age 15-19 years who were already mothers ... 17                     637
                                                   Women age 20-24 years married before age 18 yea... 15                     637
Maternity Care (for last birth in the 5 years b... Average out of pocket expenditure per delivery ... 37                     637
                                                   Children born at home who were taken to a healt... 38                     637
                                                   Children who received a health check after birt... 39                     637
                                                   Mothers who consumed iron folic acid for 100 da... 32                     637
                                                   Mothers who had antenatal check-up in the first... 29                     637
                                                   Mothers who had at least 4 antenatal care visit... 30                     637
                                                   Mothers who had full antenatal care                33                     637
                                                   Mothers who received financial assistance under... 36                     637
                                                   Mothers who received postnatal care from a doct... 35                     637
                                                   Mothers whose last birth was protected against ... 31                     637
                                                   Registered pregnancies for which the mother rec... 34                     637
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                     637
                                                   Men whose Body Mass Index (BMI) is below normal... 73                     637
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                     637
                                                   Women whose Body Mass Index (BMI) is below norm... 72                     637
Population and Household Profile                   Children under age 5 years whose birth was regi... 5                      637
                                                   Households using clean fuel for cooking            9                      637
                                                   Households using improved sanitation facility      8                      637
                                                   Households using iodized salt (%)                  10                     637
                                                   Households with an improved drinking-water source  7                      637
                                                   Households with any usual member covered by a h... 11                     637
                                                   Households with electricity (%)                    6                      637
                                                   Population (female) age 6 years and above who e... 1                      637
                                                   Population below age 15 years (%)                  2                      637
                                                   Sex ratio at birth for children born in the las... 4                      637
                                                   Sex ratio of the total population (females per ... 3                      637
Quality of Family Planning Services                Current users ever told about side effects of c... 28                     637
                                                   Health worker ever talked to female non-users a... 27                     637
Treatment of Childhood Diseases (children under... Children with diarrhoea in the last 2 weeks tak... 59                     637
                                                   Children with diarrhoea in the last 2 weeks who... 57                     637
                                                   Children with diarrhoea in the last 2 weeks who... 58                     637
                                                   Children with fever or symptoms of ARI in the l... 61                     637
                                                   Prevalence of diarrhoea (reported) in the last ... 56                     637
                                                   Prevalence of symptoms of acute respiratory inf... 60                     637
Unmet Need for Family Planning (currently marri... NeeTotal unmet need (%)                            25                     637
                                                   Unmet need for spacing (%)                         26                     637
Women Age 15-49 Years Who Have Ever Undergone E... Cervix (%)                                         91                     637
                                                   Oral cavity (%)                                    93                     637
                                                   Vreast (%)                                         92                     637

                                                                                                                        state  \
indicator_category                                 indicator_name                                     indicator_number
Anaemia among Children and Adults                  All women age 15-49 years who are anaemic (%)      79                  637
                                                   Children age 6-59 months who are anaemic (<11.0... 76                  637
                                                   Men age 15-49 years who are anaemic (<13.0 g/dl... 80                  637
                                                   Non-pregnant women age 15-49 years who are anae... 77                  637
                                                   Pregnant women age 15-49 years who are anaemic ... 78                  637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     84                  637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     82                  637
Characteristics of Adults (age 15-49)              Men who are literate (%)                           13                  637
                                                   Women who are literate (%)                         12                  637
                                                   Women with 10 or more years of schooling (%)       14                  637
Child Feeding Practices and Nutritional Status ... Breastfeeding children age 6-23 months receivin... 65                  637
                                                   Children age 6-8 months receiving solid or semi... 64                  637
                                                   Children under 5 years who are severely wasted ... 70                  637
                                                   Children under 5 years who are stunted (height-... 68                  637
                                                   Children under 5 years who are underweight (wei... 71                  637
                                                   Children under 5 years who are wasted (weight-f... 69                  637
                                                   Children under age 3 years breastfed within one... 62                  637
                                                   Children under age 6 months exclusively breastfed  63                  637
                                                   Non-breastfeeding children age 6-23 months rece... 66                  637
                                                   Total children age 6-23 months receiving an ade... 67                  637
Child Immunizations and Vitamin A Supplementation  Children age 12-23 months fully immunized (BCG,... 47                  637
                                                   Children age 12-23 months who have received 3 d... 50                  637
                                                   Children age 12-23 months who have received 3 d... 52                  637
                                                   Children age 12-23 months who have received 3 d... 49                  637
                                                   Children age 12-23 months who have received BCG... 48                  637
                                                   Children age 12-23 months who have received mea... 51                  637
                                                   Children age 12-23 months who received most of ... 55                  637
                                                   Children age 12-23 months who received most of ... 54                  637
                                                   Children age 9-59 months who received a vitamin... 53                  637
Delivery Care (for births in the 5 years before... Births assisted by a doctor/nurse/LHV/ANM/other... 43                  637
                                                   Births delivered by caesarean section (%)          44                  637
                                                   Births in a private health facility delivered b... 45                  637
                                                   Births in a public health facility delivered by... 46                  637
                                                   Home delivery conducted by skilled health perso... 42                  637
                                                   Institutional births (%)                           40                  637
                                                   Institutional births in public facility (%)        41                  637
Family Planning Methods (currently married wome... Any method                                         18                  637
                                                   Any modern method                                  19                  637
                                                   Condom (%)                                         24                  637
                                                   Female sterilization (%)                           20                  637
                                                   IUD/PPIUD (%)                                      22                  637
                                                   Male sterilization (%)                             21                  637
                                                   Pill (%)                                           23                  637
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  637
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  637
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  637
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  637
Marriage and Fertility                             Men age 25-29 years married before age 21 years... 16                  637
                                                   Women age 15-19 years who were already mothers ... 17                  637
                                                   Women age 20-24 years married before age 18 yea... 15                  637
Maternity Care (for last birth in the 5 years b... Average out of pocket expenditure per delivery ... 37                  637
                                                   Children born at home who were taken to a healt... 38                  637
                                                   Children who received a health check after birt... 39                  637
                                                   Mothers who consumed iron folic acid for 100 da... 32                  637
                                                   Mothers who had antenatal check-up in the first... 29                  637

In [ ]:
#seems some districts are missing the rural and urban percentages, no biggie, it could just be that a district
    #is completely rural or urban, and so will only have one or the other percentage listed

In [45]:
#now i'm having a look at the state-wise data

state_wise = pd.read_csv('nfhs-data-master/nfhs_state-wise.csv', encoding='latin-1')

state_wise.head()

,state,indicator_id,indicator,indicator_category,urban,rural,total,total_2005-06
0,Andaman and Nicobar Islands,1,Population (female) age 6 years and above who ...,Population and Household Profile,87.6,82.6,84.7,NaN
1,Andaman and Nicobar Islands,2,Population below age 15 years (%),Population and Household Profile,23.4,24.3,23.9,NaN
2,Andaman and Nicobar Islands,3,Sex ratio of the total population (females per...,Population and Household Profile,966,984,977,NaN
3,Andaman and Nicobar Islands,4,Sex ratio at birth for children born in the la...,Population and Household Profile,708,978,859,NaN
4,Andaman and Nicobar Islands,5,Children under age 5 years whose birth was reg...,Population and Household Profile,97.2,98.4,97.9,NaN

In [3]:
state_wise.columns.tolist()

['state',
 'indicator_id',
 'indicator',
 'indicator_category',
 'urban',
 'rural',
 'total',
 'total_2005-06']

In [42]:
sorted(list(state_wise['state'].unique()))

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [41]:
len(list(state_wise['state'].unique()))

36

In [ ]:
#all 36 states and UTs are accounted for in this dataset

In [125]:
#taking a look at the indicators available in the state_wise data set
state_wise.groupby(['indicator_category','indicator','indicator_id']).count()

                                                                                                                    state  \
indicator_category                                 indicator                                          indicator_id
#VALUE!                                            #VALUE!                                            #VALUE!           1
Anaemia among Children and Adults                  All women age 15-49 years who are anaemic (%)      82               37
                                                   Children age 6-59 months who are anaemic (<11.0... 79               37
                                                   Men age 15-49 years who are anaemic (<13.0 g/dl... 83               37
                                                   Non-pregnant women age 15-49 years who are anae... 80               37
                                                   Pregnant women age 15-49 years who are anaemic ... 81               37
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          86               37
                                                   Blood sugar level - very high (>160 mg/dl) (%)     87               37
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          84               37
                                                   Blood sugar level - very high (>160 mg/dl) (%)     85               37
Characteristics of Adults (age 15-49)              Men who are literate (%)                           13               37
                                                   Women who are literate (%)                         12               37
                                                   Women with 10 or more years of schooling (%)       14               37
Child Feeding Practices and Nutritional Status ... Breastfeeding children age 6-23 months receivin... 68               37
                                                   Children age 6-8 months receiving solid or semi... 67               37
                                                   Children under 5 years who are severely wasted ... 73               37
                                                   Children under 5 years who are stunted (height-... 71               37
                                                   Children under 5 years who are underweight (wei... 74               37
                                                   Children under 5 years who are wasted (weight-f... 72               37
                                                   Children under age 3 years breastfed within one... 65               37
                                                   Children under age 6 months exclusively breastf... 66               37
                                                   Non-breastfeeding children age 6-23 months rece... 69               37
                                                   Total children age 6-23 months receiving an ade... 70               37
Child Immunizations and Vitamin A Supplementation  Children age 12-23 months fully immunized (BCG,... 50               37
                                                   Children age 12-23 months who have received 3 d... 53               37
                                                   Children age 12-23 months who have received 3 d... 55               37
                                                   Children age 12-23 months who have received 3 d... 52               37
                                                   Children age 12-23 months who have received BCG... 51               37
                                                   Children age 12-23 months who have received mea... 54               37
                                                   Children age 12-23 months who received most of ... 58               37
                                                   Children age 12-23 months who received most of ... 57               37
                                                   Children age 9-59 months who received a vitamin... 56               37
Current Use of Family Planning Methods (current... Any method (%)                                     21               37
                                                   Any modern method (%)                              22               37
                                                   Condom (%)                                         27               37
                                                   IUD/PPIUD (%)                                      25               37
                                                   Male sterilization (%)                             24               37
                                                   Pill (%)                                           26               37
Delivery Care (for births in the 5 years before... Births assisted by a doctor/nurse/LHV/ANM/other... 46               37
                                                   Births delivered by caesarean section (%)          47               37
                                                   Births in a private health facility delivered b... 48               37
                                                   Births in a public health facility delivered by... 49               37
                                                   Home delivery conducted by skilled health perso... 45               37
                                                   Institutional births (%)                           43               37
                                                   Institutional births in public facility (%)        44               37
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 92               37
                                                   Slightly above normal (Systolic 140-159 mm of H... 91               37
                                                   Very high (Systolic 180 mm of Hg and/or Diastol... 93               37
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 89               37
                                                   Slightly above normal (Systolic 140-159 mm of H... 88               36
                                                   Very high (Systolic 180 mm of Hg and/or Diastol... 90               37
Infant and Child Mortality Rates (per 1,000 liv... Infant mortality rate (IMR)                        19               37
                                                   Under-five mortality rate (U5MR)                   20               37
Knowledge of HIV/AIDS among Adults (age 15-49 y... Men who have comprehensive knowledge17 of HIV/A... 98               37
                                                   Men who know that consistent condom use can red... 100              37
                                                   Women who have comprehensive knowledge17 of HIV... 97               37
                                                   Women who know that consistent condom use can r... 99               37
Marriage and Fertility                             Men age 25-29 years married before age 21 years... 16               37
                                                   Total fertility rate (children per woman)          17               37
                                                   Women age 15-19 years who were already mothers ... 18               37
                                                   Women age 20-24 years married before age 18 yea... 15               37
Maternity Care (for last birth in the 5 years b... Average out of pocket expenditure per delivery ... 40               37
                                                   Children born at home who were taken to a healt... 41               37
                                                   Children who received a health check after birt... 42               37
                                                   Mothers who consumed iron folic acid for 100 da... 35               37
                                                   Mothers who had antenatal check-up in the first... 32               37
                                                   Mothers who had at least 4 antenatal care visit... 33               37
                                                   Mothers who had full antenatal care (%)            36               37
                                                   Mothers who received financial assistance under... 39               37
                                                   Mothers who received postnatal care from a doct... 38               37
                                                   Mothers whose last birth was protected against ... 34               37
                                                   Registered pregnancies for which the mother rec... 37               37
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 78               37
                                                   Men whose Body Mass Index (BMI) is below normal... 76               37
                                                   Women who are overweight or obese (BMI >= 25.0 ... 77               37
                                                   Women whose Body Mass Index (BMI) is below norm... 75               37
Population and Household Profile                   Children under age 5 years whose birth was regi... 5                37
                                                   Households using clean fuel for cooking (%)        9                37
                                                   Households using improved sanitation facility (%)  8                37
                                                   Households using iodized salt (%)                  10               37
                                                   Households with an improved drinking-water sour... 7                37
                                                   Households with any usual member covered by a h... 11               37
                                                   Households with electricity (%)                    6                37
                                                   Population (female) age 6 years and above who e... 1                37
                                                   Population below age 15 years (%)                  2                37
                                                   Sex ratio at birth for children born in the las... 4                37
                                                   Sex ratio of the total population (females per ... 3                37
Quality of Family Planning Services                Current users ever told about side effects of c... 31               37
                                                   Health worker ever talked to female non-users a... 30               37
Tobacco Use and Alcohol Consumption among Adult... Men who consume alcohol (%)                        112              37
                                                   Men who tried to stop smoking or using tobacco ... 114              37
                                                   Men who use any kind of tobacco (%)                110              37
                                                   Women who consume alcohol (%)                      111              37
                                                   Women who tried to stop smoking or using tobacc... 113              37
                                                   Women who use any kind of tobacco (%)              109              37
Treatment of Childhood Diseases (children under... Children with diarrhoea in the last 2 weeks tak... 62               37
                                                   Children with diarrhoea in the last 2 weeks who... 60               37
                                                   Children with diarrhoea in the last 2 weeks who... 61               37
                                                   Children with fever or symptoms of ARI in the l... 64               37
                                                   Prevalence of diarrhoea (reported) in the last ... 59               37
                                                   Prevalence of symptoms of acute respiratory inf... 63               37
Unmet Need for Family Planning (currently marri... Total unmet need (%)                               28               37
                                                   Unmet need for spacing (%)                         29               37
Women Age 15-49 Years Who Have Ever Undergone E... Breast (%)                                         95               37
                                                   Cervix (%)                                         94               37
                                                   Oral cavity (%)                                    96               37
Women's Empowerment and Gender Based Violence (... Currently married women who usually participate... 101              37
                                                   Ever-married women who have ever experienced sp... 103              37
                                                   Ever-married women who have experienced violenc... 104              37
                                                   Women age 15-24 years who use hygienic methods ... 108              37
                                                   Women having a bank or savings account that the... 106              37
                                                   Women having a mobile phone that they themselve... 107              37
                                                   Women owning a house and/or land (alone or join... 105              37
                                                   Women who worked in the last 12 months who were... 102              37

                                                                                                                    urban  \
indicator_category                                 indicator                                          indicator_id
#VALUE!                                            #VALUE!                                            #VALUE!           1
Anaemia among Children and Adults                  All women age 15-49 years who are anaemic (%)      82               36
                                                   Children age 6-59 months who are anaemic (<11.0... 79               36
                                                   Men age 15-49 years who are anaemic (<13.0 g/dl... 83               36
                                                   Non-pregnant women age 15-49 years who are anae... 80               36
                                                   Pregnant women age 15-49 years who are anaemic ... 81               35
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          86               36
                                                   Blood sugar level - very high (>160 mg/dl) (%)     87               36
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          84               36
                                                   Blood sugar level - very high (>160 mg/dl) (%)     85               36
Characteristics of Adults (age 15-49)              Men who are literate (%)                           13               36
                                                   Women who are literate (%)                         12               36
                                                   Women with 10 or more years of schooling (%)       14               36
Child Feeding Practices and Nutritional Status ... Breastfeeding children age 6-23 months receivin... 68               36
                                                   Children age 6-8 months receiving solid or semi... 67               35
                                                   Children under 5 years who are severely wasted ... 73               36
                                                   Children under 5 years who are stunted (height-... 71               36
                                                   Children under 5 years who are underweight (wei... 74               36
                                                   Children under 5 years who are wasted (weight-f... 72               36
                                                   Children under age 3 years breastfed within one... 65               36
                                                   Children under age 6 months exclusively breastf... 66               35
                                                   Non-breastfeeding children age 6-23 months rece... 69               34
                                                   Total children age 6-23 months receiving an ade... 70               36
Child Immunizations and Vitamin A Supplementation  Children age 12-23 months fully immunized (BCG,... 50               36
                                                   Children age 12-23 months who have received 3 d... 53               36
                                                   Children age 12-23 months who have received 3 d... 55               36
                                                   Children age 12-23 months who have received 3 d... 52               36
                                                   Children age 12-23 months who have received BCG... 51               36
                                                   Children age 12-23 months who have received mea... 54               36
                                                   Children age 12-23 months who received most of ... 58               35
                                                   Children age 12-23 months who received most of ... 57               35
                                                   Children age 9-59 months who received a vitamin... 56               36
Current Use of Family Planning Methods (current... Any method (%)                                     21               36
                                                   Any modern method (%)                              22               36
                                                   Condom (%)                                         27               36
                                                   IUD/PPIUD (%)                                      25               36
                                                   Male sterilization (%)                             24               36
                                                   Pill (%)                                           26               36
Delivery Care (for births in the 5 years before... Births assisted by a doctor/nurse/LHV/ANM/other... 46               36
                                                   Births delivered by caesarean section (%)          47               36
                                                   Births in a private health facility delivered b... 48               35
                                                   Births in a public health facility delivered by... 49               36
                                                   Home delivery conducted by skilled health perso... 45               36
                                                   Institutional births (%)                           43               36
                                                   Institutional births in public facility (%)        44               36

In [99]:
#why is it showing up as 37 for some states? it should be 36 (29 states, 7 UTs)

#taking a look at the states listed for indicator 82

list(state_wise[state_wise.indicator_id == '82']['state'])

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'West Bengal']

In [4]:
#ok, so west bengal was listed twice for that indicator,let's check another indicator, 102

list(state_wise[state_wise.indicator_id == '102']['state'])

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'West Bengal']

In [ ]:
#so west bengal was listed twice here for this indicator too. Am not going to get rid of the duplicate rows
    #for now, will just keep this in mind if I need to use this dataset. Will clean it up later if i need to
    
#also you'll need to check if west bengal is repeated twice for each indicator, or if there are other states 
    #that are listed twice, thrice etc.

In [ ]:
#so what I've decided to do is use district-wise as the main dataframe. I will take data for the 3 UTs that are
    #missing from it, ie. chandigarh, dadra & nagar haveli and lakshadweep, from the state-wise dataframe and append it
    #to the district-wise one
    
#am not going to take the data for all indicators though
#i'm thinking of doing something on the prevalence of obesity, high blood sugar levels & hypertension in rural india
#will have to narrow down the story angle further though

#so the categories (and indicators under them) i'm interested in are 
    
    #'Nutritional Status of Adults (age 15-49 years)' , 
        #indicator no. 78 -- Men who are overweight or obese (BMI >= 25.0 kg/m2) (%)
        #indicator no. 77 -- Women who are overweight or obese (BMI >= 25.0 kg/m2) (%)

    # 'Blood Sugar Level among Adults (age 15-49 years) - Men'
       # indicator no. 86 -- Blood sugar level - high (>140 mg/dl) (%)
    #'Blood Sugar Level among Adults (age 15-49 years) - Women'
        # indicator no. 84 -- Blood sugar level - high (>140 mg/dl) (%)
    
    #Hypertension among Adults (age 15-49 years) - Men
        #all 3 indicators under this category
    #Hypertension among Adults (age 15-49 years) - Women
        #all 3 indicators under this category


#so I'll only take the data for these categories and indicators from the state-wise dataset and append it


# a reminder of what the columns in the district-wise dataframe looks like
['district',
 'state',
 'district_census_code',
 'state_census_code',
 'total',
 'rural',
 'urban',
 'indicator_number',
 'indicator_name',
 'indicator_category']

#a reminder of what the columns in the state-wise dataframe looks like
['state',
 'indicator_id',
 'indicator',
 'indicator_category',
 'urban',
 'rural',
 'total',
 'total_2005-06']

#so looks like if I want to match the state-wise dataframe to the district-wise one
#I'll have to rearrange the order of the columns, rename a few, add a few, delete a few etc.

#let's start by restricting the state-wise dataframe to the UTs we're interested in 
# ie. chandigarh, dadra & nagar haveli and lakshadweep

In [46]:
#creating a new dataframe state_restricted for that purpose, irrelevant rows are filtered out

state_restricted = state_wise[(state_wise['state'].str.contains("Chandigarh")) |\
                              (state_wise['state'].str.contains("Haveli")) |\
                              (state_wise['state'].str.contains("Lakshadweep"))]

state_restricted.head()

,state,indicator_id,indicator,indicator_category,urban,rural,total,total_2005-06
570,Chandigarh,1,Population (female) age 6 years and above who ...,Population and Household Profile,NaN,NaN,83.7,NaN
571,Chandigarh,2,Population below age 15 years (%),Population and Household Profile,NaN,NaN,22.9,NaN
572,Chandigarh,3,Sex ratio of the total population (females per...,Population and Household Profile,NaN,NaN,934,NaN
573,Chandigarh,4,Sex ratio at birth for children born in the la...,Population and Household Profile,NaN,NaN,981,NaN
574,Chandigarh,5,Children under age 5 years whose birth was reg...,Population and Household Profile,NaN,NaN,95.1,NaN

In [47]:
#just a check that we've got things right

state_restricted['state'].unique()

array(['Chandigarh', 'Dadra and Nagar Haveli', 'Lakshadweep'], dtype=object)

In [ ]:
#now we'll restrict things further to the indicators that i'm interested in

In [48]:
#just getting the indicator numbers for the category 'Nutritional Status of Adults (age 15-49 years)'

bmi_indicators = state_restricted[\
    (state_restricted['indicator_category'].str.contains("Nutritional Status of Adults")) &\
    (state_restricted['indicator'].str.contains("overweight or obese"))]['indicator_id'].unique().tolist()
bmi_indicators

['77', '78']

In [50]:
#ok now that we have the indicator numbers for the category 'Nutritional Status of Adults (age 15-49 years)' above, let's
#get the indicator numbers for the category 'Blood Sugar Level among Adults (age 15-49 years)' for men and women

sugar_indicators = state_restricted[(state_restricted['indicator_category'].str.contains("Blood Sugar")) &\
                                    (state_restricted['indicator_category'].str.contains("Adults"))&\
                                    (state_restricted['indicator'].str.contains(">140"))]\
                                ['indicator_id'].unique().tolist()
sugar_indicators

['84', '86']

In [51]:
#now getting indicator numbers for the category 'Hypertension among Adults (age 15-49 years) for men and women

#bp in the variable names below stands for blood pressure


bp_indicators = state_restricted[(state_restricted['indicator_category'].str.contains("Hypertension")) &\
                                 (state_restricted['indicator_category'].str.contains("Adults"))]\
                                ['indicator_id'].unique().tolist()
bp_indicators

['88', '89', '90', '91', '92', '93']

In [52]:
#now let's combine all these indicators into one list

combined_list = bmi_indicators + sugar_indicators + bp_indicators
combined_list

['77', '78', '84', '86', '88', '89', '90', '91', '92', '93']

In [62]:
#now i'll filter out the indicators and categories I'm not interested in using the list above
#will create a new dataframe too
#used code from https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe

state_restricted_2 = state_restricted[state_restricted['indicator_id'].isin(combined_list)].reset_index(drop=True)

state_restricted_2

,state,indicator_id,indicator,indicator_category,urban,rural,total,total_2005-06
0,Chandigarh,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,41.5,NaN
1,Chandigarh,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,32,NaN
2,Chandigarh,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,5.6,NaN
3,Chandigarh,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,6.9,NaN
4,Chandigarh,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,NaN,NaN,7.4,NaN
5,Chandigarh,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,NaN,NaN,1.5,NaN
6,Chandigarh,90,Very high (Systolic 180 mm of Hg and/or Diasto...,Hypertension among Adults (age 15-49 years) - ...,NaN,NaN,0.4,NaN
7,Chandigarh,91,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,NaN,NaN,10.6,NaN
8,Chandigarh,92,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,NaN,NaN,2.9,NaN
9,Chandigarh,93,Very high (Systolic 180 mm of Hg and/or Diasto...,Hypertension among Adults (age 15-49 years) - Men,NaN,NaN,0,NaN
10,Dadra and Nagar Haveli,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),34.2,6.9,19.2,NaN
11,Dadra and Nagar Haveli,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),33.8,11.5,22.9,NaN
12,Dadra and Nagar Haveli,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,5.7,4,4.7,NaN
13,Dadra and Nagar Haveli,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,6.5,11.1,8.7,NaN
14,Dadra and Nagar Haveli,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,6.4,5,5.6,NaN
15,Dadra and Nagar Haveli,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,2.5,0.2,1.2,NaN
16,Dadra and Nagar Haveli,90,Very high (Systolic 180 mm of Hg and/or Diasto...,Hypertension among Adults (age 15-49 years) - ...,1.1,0.2,0.6,NaN
17,Dadra and Nagar Haveli,91,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,14.7,4.5,9.8,NaN
18,Dadra and Nagar Haveli,92,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.3,1.1,1.7,NaN
19,Dadra and Nagar Haveli,93,Very high (Systolic 180 mm of Hg and/or Diasto...,Hypertension among Adults (age 15-49 years) - Men,0,1.2,0.6,NaN
20,Lakshadweep,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),42.4,28.2,41.4,NaN
21,Lakshadweep,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),24.7,-22.2,24.6,NaN
22,Lakshadweep,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,12.2,9.2,12,NaN
23,Lakshadweep,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,13.3,-15.5,13.3,NaN
24,Lakshadweep,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,6.9,14.6,7.4,NaN
25,Lakshadweep,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,2.9,0.4,2.7,NaN
26,Lakshadweep,90,Very high (Systolic 180 mm of Hg and/or Diasto...,Hypertension among Adults (age 15-49 years) - ...,0.9,0.3,0.8,NaN
27,Lakshadweep,91,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,9.1,-11.1,9.1,NaN
28,Lakshadweep,92,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,0,0,0,NaN
29,Lakshadweep,93,Very high (Systolic 180 mm of Hg and/or Diasto...,Hypertension among Adults (age 15-49 years) - Men,0.8,0,0.8,NaN

In [ ]:
#now let's try and get state_restricted_2 into shape before we append it to the district_wise dataframe

# a reminder of what the columns in the district-wise dataframe looks like
['district',
 'state',
 'district_census_code',
 'state_census_code',
 'total',
 'rural',
 'urban',
 'indicator_number',
 'indicator_name',
 'indicator_category']

#a reminder of what the columns in the state-wise dataframe looks like
['state',
 'indicator_id',
 'indicator',
 'indicator_category',
 'urban',
 'rural',
 'total',
 'total_2005-06']

In [63]:
#am dropping the total_2005_06 column

state_restricted_2.drop('total_2005-06', axis=1, inplace=True)

In [ ]:
#now let's go about introducing columns for district data, state codes, district codes etc.

#you can get the state and district codes from here -- 
 #   http://www.censusindia.gov.in/2011census/Listofvillagesandtowns.aspx . You can get code lists in CSV,JSON from    
# http://egovstandards.gov.in/code-directories-of-generic-data-elements-for-land-region-codification

#so according to the two urls above

#chandigarh state code is 04 and there's only one district in chandigarh 'chandigarh' and its district census code is 055

#dadra & nagar haveli state code is 26 and there's only one district there - 'dadra & nagar haveli' and its dcc is 496

#lakshadweep state code is 31 and there's only one district 'lakshadweep' and its dcc is 587

In [64]:
#since the district name is the same as the state name, I'll just duplicate the 'state' column in the
#dataframe state_restricted_2

state_restricted_2['district'] = state_restricted_2['state']

In [65]:
#am renaming the columns of state_restricted_2
#am creating a new dataframe state_restricted_3

state_restricted_3 = state_restricted_2.rename(columns={'indicator': 'indicator_name',\
                                                        'indicator_id': 'indicator_number'})

state_restricted_3.head()

,state,indicator_number,indicator_name,indicator_category,urban,rural,total,district
0,Chandigarh,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,41.5,Chandigarh
1,Chandigarh,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,32,Chandigarh
2,Chandigarh,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,5.6,Chandigarh
3,Chandigarh,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,6.9,Chandigarh
4,Chandigarh,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,NaN,NaN,7.4,Chandigarh

In [66]:
#now I'm going to add a column for state census codes and one for district census codes

#chandigarh state code is 04 and there's only one district there 'chandigarh' and its district census code is 055

#dadra & nagar haveli state code is 26 and there's only one district there - 'dadra & nagar haveli' and its dcc is 496

#lakshadweep state code is 31 and there's only one district 'lakshadweep' and its dcc is 587

#code below from https://stackoverflow.com/questions/26886653/pandas-create-new-column-based-on-values-from-other-columns

def state_code (row):
    if row['state'] == 'Chandigarh':
        return '04'
    elif row['state'] == 'Dadra and Nagar Haveli':
        return '26'
    elif row['state'] == 'Lakshadweep':
        return '31'  

state_restricted_3['state_census_code'] = state_restricted_3.apply (lambda row: state_code (row),axis=1)

In [68]:
state_restricted_3.head()

,state,indicator_number,indicator_name,indicator_category,urban,rural,total,district,state_census_code
0,Chandigarh,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,41.5,Chandigarh,04
1,Chandigarh,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,32,Chandigarh,04
2,Chandigarh,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,5.6,Chandigarh,04
3,Chandigarh,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,6.9,Chandigarh,04
4,Chandigarh,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,NaN,NaN,7.4,Chandigarh,04

In [69]:
#now i'm going to create a column for district_census_code'

def dist_code (row):
    if row['district'] == 'Chandigarh':
        return '055'
    elif row['district'] == 'Dadra and Nagar Haveli':
        return '496'
    elif row['district'] == 'Lakshadweep':
        return '587'  

state_restricted_3['district_census_code'] = state_restricted_3.apply (lambda row: dist_code (row),axis=1)

In [72]:
state_restricted_3.head()

,state,indicator_number,indicator_name,indicator_category,urban,rural,total,district,state_census_code,district_census_code
0,Chandigarh,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,41.5,Chandigarh,04,055
1,Chandigarh,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),NaN,NaN,32,Chandigarh,04,055
2,Chandigarh,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,5.6,Chandigarh,04,055
3,Chandigarh,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,NaN,NaN,6.9,Chandigarh,04,055
4,Chandigarh,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,NaN,NaN,7.4,Chandigarh,04,055

In [84]:
#now to rearrange the order of the columns, have a feeling this might become important to do later on

#below is the order of the columns in the district-wise dataframe

dist_cols = district_wise.columns.tolist()
dist_cols

['district',
 'state',
 'district_census_code',
 'state_census_code',
 'total',
 'rural',
 'urban',
 'indicator_number',
 'indicator_name',
 'indicator_category']

In [74]:
#creating a new dataframe state_restricted_4 where the columns have been rearranged
#code from https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

state_restricted_4 = state_restricted_3[dist_cols]

state_restricted_4.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category
0,Chandigarh,Chandigarh,055,04,41.5,NaN,NaN,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
1,Chandigarh,Chandigarh,055,04,32,NaN,NaN,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years)
2,Chandigarh,Chandigarh,055,04,5.6,NaN,NaN,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
3,Chandigarh,Chandigarh,055,04,6.9,NaN,NaN,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
4,Chandigarh,Chandigarh,055,04,7.4,NaN,NaN,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...

In [ ]:
#I later discovered while working with the district-wise dataframe that its indicator numbers do not match the
#indicator_numbers from the state-wise dataframe

#will have to change the indicator numbers in state_restricted_4 before merging it with the district_wise dataframe
#will do that further down below

In [ ]:
#for now I'll filter out the indicators I'm not interested in from the district-wise dataframe

In [79]:
#again just at how the indicators are categorised in the district-wise dataframe

pd.options.display.max_rows = 500

district_wise.groupby(['indicator_category','indicator_name',"indicator_number"]).count()

                                                                                                                        district  \
indicator_category                                 indicator_name                                     indicator_number
Anaemia among Children and Adults                  All women age 15-49 years who are anaemic (%)      79                     637
                                                   Children age 6-59 months who are anaemic (<11.0... 76                     637
                                                   Men age 15-49 years who are anaemic (<13.0 g/dl... 80                     637
                                                   Non-pregnant women age 15-49 years who are anae... 77                     637
                                                   Pregnant women age 15-49 years who are anaemic ... 78                     637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                     637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     84                     637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                     637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     82                     637
Characteristics of Adults (age 15-49)              Men who are literate (%)                           13                     637
                                                   Women who are literate (%)                         12                     637
                                                   Women with 10 or more years of schooling (%)       14                     637
Child Feeding Practices and Nutritional Status ... Breastfeeding children age 6-23 months receivin... 65                     637
                                                   Children age 6-8 months receiving solid or semi... 64                     637
                                                   Children under 5 years who are severely wasted ... 70                     637
                                                   Children under 5 years who are stunted (height-... 68                     637
                                                   Children under 5 years who are underweight (wei... 71                     637
                                                   Children under 5 years who are wasted (weight-f... 69                     637
                                                   Children under age 3 years breastfed within one... 62                     637
                                                   Children under age 6 months exclusively breastfed  63                     637
                                                   Non-breastfeeding children age 6-23 months rece... 66                     637
                                                   Total children age 6-23 months receiving an ade... 67                     637
Child Immunizations and Vitamin A Supplementation  Children age 12-23 months fully immunized (BCG,... 47                     637
                                                   Children age 12-23 months who have received 3 d... 50                     637
                                                   Children age 12-23 months who have received 3 d... 52                     637
                                                   Children age 12-23 months who have received 3 d... 49                     637
                                                   Children age 12-23 months who have received BCG... 48                     637
                                                   Children age 12-23 months who have received mea... 51                     637
                                                   Children age 12-23 months who received most of ... 55                     637
                                                   Children age 12-23 months who received most of ... 54                     637
                                                   Children age 9-59 months who received a vitamin... 53                     637
Delivery Care (for births in the 5 years before... Births assisted by a doctor/nurse/LHV/ANM/other... 43                     637
                                                   Births delivered by caesarean section (%)          44                     637
                                                   Births in a private health facility delivered b... 45                     637
                                                   Births in a public health facility delivered by... 46                     637
                                                   Home delivery conducted by skilled health perso... 42                     637
                                                   Institutional births (%)                           40                     637
                                                   Institutional births in public facility (%)        41                     637
Family Planning Methods (currently married wome... Any method                                         18                     637
                                                   Any modern method                                  19                     637
                                                   Condom (%)                                         24                     637
                                                   Female sterilization (%)                           20                     637
                                                   IUD/PPIUD (%)                                      22                     637
                                                   Male sterilization (%)                             21                     637
                                                   Pill (%)                                           23                     637
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                     637
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                     637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                     637
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                     637
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                     637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                     637
Marriage and Fertility                             Men age 25-29 years married before age 21 years... 16                     637
                                                   Women age 15-19 years who were already mothers ... 17                     637
                                                   Women age 20-24 years married before age 18 yea... 15                     637
Maternity Care (for last birth in the 5 years b... Average out of pocket expenditure per delivery ... 37                     637
                                                   Children born at home who were taken to a healt... 38                     637
                                                   Children who received a health check after birt... 39                     637
                                                   Mothers who consumed iron folic acid for 100 da... 32                     637
                                                   Mothers who had antenatal check-up in the first... 29                     637
                                                   Mothers who had at least 4 antenatal care visit... 30                     637
                                                   Mothers who had full antenatal care                33                     637
                                                   Mothers who received financial assistance under... 36                     637
                                                   Mothers who received postnatal care from a doct... 35                     637
                                                   Mothers whose last birth was protected against ... 31                     637
                                                   Registered pregnancies for which the mother rec... 34                     637
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                     637
                                                   Men whose Body Mass Index (BMI) is below normal... 73                     637
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                     637
                                                   Women whose Body Mass Index (BMI) is below norm... 72                     637
Population and Household Profile                   Children under age 5 years whose birth was regi... 5                      637
                                                   Households using clean fuel for cooking            9                      637
                                                   Households using improved sanitation facility      8                      637
                                                   Households using iodized salt (%)                  10                     637
                                                   Households with an improved drinking-water source  7                      637
                                                   Households with any usual member covered by a h... 11                     637
                                                   Households with electricity (%)                    6                      637
                                                   Population (female) age 6 years and above who e... 1                      637
                                                   Population below age 15 years (%)                  2                      637
                                                   Sex ratio at birth for children born in the las... 4                      637
                                                   Sex ratio of the total population (females per ... 3                      637
Quality of Family Planning Services                Current users ever told about side effects of c... 28                     637
                                                   Health worker ever talked to female non-users a... 27                     637
Treatment of Childhood Diseases (children under... Children with diarrhoea in the last 2 weeks tak... 59                     637
                                                   Children with diarrhoea in the last 2 weeks who... 57                     637
                                                   Children with diarrhoea in the last 2 weeks who... 58                     637
                                                   Children with fever or symptoms of ARI in the l... 61                     637
                                                   Prevalence of diarrhoea (reported) in the last ... 56                     637
                                                   Prevalence of symptoms of acute respiratory inf... 60                     637
Unmet Need for Family Planning (currently marri... NeeTotal unmet need (%)                            25                     637
                                                   Unmet need for spacing (%)                         26                     637
Women Age 15-49 Years Who Have Ever Undergone E... Cervix (%)                                         91                     637
                                                   Oral cavity (%)                                    93                     637
                                                   Vreast (%)                                         92                     637

                                                                                                                        state  \
indicator_category                                 indicator_name                                     indicator_number
Anaemia among Children and Adults                  All women age 15-49 years who are anaemic (%)      79                  637
                                                   Children age 6-59 months who are anaemic (<11.0... 76                  637
                                                   Men age 15-49 years who are anaemic (<13.0 g/dl... 80                  637
                                                   Non-pregnant women age 15-49 years who are anae... 77                  637
                                                   Pregnant women age 15-49 years who are anaemic ... 78                  637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     84                  637
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  637
                                                   Blood sugar level - very high (>160 mg/dl) (%)     82                  637
Characteristics of Adults (age 15-49)              Men who are literate (%)                           13                  637
                                                   Women who are literate (%)                         12                  637
                                                   Women with 10 or more years of schooling (%)       14                  637
Child Feeding Practices and Nutritional Status ... Breastfeeding children age 6-23 months receivin... 65                  637
                                                   Children age 6-8 months receiving solid or semi... 64                  637
                                                   Children under 5 years who are severely wasted ... 70                  637
                                                   Children under 5 years who are stunted (height-... 68                  637
                                                   Children under 5 years who are underweight (wei... 71                  637
                                                   Children under 5 years who are wasted (weight-f... 69                  637
                                                   Children under age 3 years breastfed within one... 62                  637
                                                   Children under age 6 months exclusively breastfed  63                  637
                                                   Non-breastfeeding children age 6-23 months rece... 66                  637
                                                   Total children age 6-23 months receiving an ade... 67                  637
Child Immunizations and Vitamin A Supplementation  Children age 12-23 months fully immunized (BCG,... 47                  637
                                                   Children age 12-23 months who have received 3 d... 50                  637
                                                   Children age 12-23 months who have received 3 d... 52                  637
                                                   Children age 12-23 months who have received 3 d... 49                  637
                                                   Children age 12-23 months who have received BCG... 48                  637
                                                   Children age 12-23 months who have received mea... 51                  637
                                                   Children age 12-23 months who received most of ... 55                  637
                                                   Children age 12-23 months who received most of ... 54                  637
                                                   Children age 9-59 months who received a vitamin... 53                  637
Delivery Care (for births in the 5 years before... Births assisted by a doctor/nurse/LHV/ANM/other... 43                  637
                                                   Births delivered by caesarean section (%)          44                  637
                                                   Births in a private health facility delivered b... 45                  637
                                                   Births in a public health facility delivered by... 46                  637
                                                   Home delivery conducted by skilled health perso... 42                  637
                                                   Institutional births (%)                           40                  637
                                                   Institutional births in public facility (%)        41                  637
Family Planning Methods (currently married wome... Any method                                         18                  637
                                                   Any modern method                                  19                  637
                                                   Condom (%)                                         24                  637
                                                   Female sterilization (%)                           20                  637
                                                   IUD/PPIUD (%)                                      22                  637
                                                   Male sterilization (%)                             21                  637
                                                   Pill (%)                                           23                  637
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  637
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  637
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  637
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  637
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  637
Marriage and Fertility                             Men age 25-29 years married before age 21 years... 16                  637
                                                   Women age 15-19 years who were already mothers ... 17                  637
                                                   Women age 20-24 years married before age 18 yea... 15                  637
Maternity Care (for last birth in the 5 years b... Average out of pocket expenditure per delivery ... 37                  637
                                                   Children born at home who were taken to a healt... 38                  637
                                                   Children who received a health check after birt... 39                  637
                                                   Mothers who consumed iron folic acid for 100 da... 32                  637
                                                   Mothers who had antenatal check-up in the first... 29                  637

In [86]:
#just getting the indicator numbers for the category 'Nutritional Status of Adults (age 15-49 years)'

bmi_indicators_dist = district_wise[(district_wise['indicator_category'].str.contains("Nutritional Status of Adults"))&\
                                    (district_wise['indicator_name'].str.contains("overweight or obese"))]\
                                    ['indicator_number'].unique().tolist()
bmi_indicators_dist

[74, 75]

In [87]:
#just getting indicator numbers for the category 'Blood Sugar Level among Adults (age 15-49 years)' for men and women
    
sugar_indicators_dist = district_wise[(district_wise['indicator_category'].str.contains("Blood Sugar")) &\
                                      (district_wise['indicator_category'].str.contains("Adults"))&\
                                      (district_wise['indicator_name'].str.contains(">140"))]\
                                      ['indicator_number'].unique().tolist()
sugar_indicators_dist

[81, 83]

In [88]:
#just getting indicator numbers for the category 'Hypertension among Adults (age 15-49 years) for men and women

#bp in the variable names below stands for blood presurre

bp_indicators_dist = district_wise[(district_wise['indicator_category'].str.contains("Hypertension")) &\
                                 (district_wise['indicator_category'].str.contains("Adults"))]\
                                ['indicator_number'].unique().tolist()
bp_indicators_dist

[85, 86, 87, 88, 89, 90]

In [89]:
#will make use of the lists of indicators we created to make one combined list

combined_list_dist = bmi_indicators_dist + sugar_indicators_dist + bp_indicators_dist 
combined_list_dist

[74, 75, 81, 83, 85, 86, 87, 88, 89, 90]

In [91]:
#now we'll create a new dataframe out of the district-wise after filtering out the indicators we aren't interested in

#used code from https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe

dist_restricted = district_wise[district_wise['indicator_number'].isin(combined_list_dist)].reset_index(drop=True)
dist_restricted

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category
0,Kupwara,Jammu & Kashmir,1,1,20.5,16.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
1,Badgam,Jammu & Kashmir,2,1,31.4,29.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
2,Leh(Ladakh),Jammu & Kashmir,3,1,19.2,19.2,19.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
3,Kargil,Jammu & Kashmir,4,1,13.6,11.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
4,Punch,Jammu & Kashmir,5,1,21.1,19.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
5,Rajouri,Jammu & Kashmir,6,1,21,19.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
6,Kathua,Jammu & Kashmir,7,1,24.6,23.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
7,Baramula,Jammu & Kashmir,8,1,24.5,21.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
8,Bandipore,Jammu & Kashmir,9,1,34.1,32.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
9,Srinagar,Jammu & Kashmir,10,1,40.8,NaN,41.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
10,Ganderbal,Jammu & Kashmir,11,1,33.8,31.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
11,Pulwama,Jammu & Kashmir,12,1,34,33.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
12,Shupiyan,Jammu & Kashmir,13,1,31.3,30.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
13,Anantnag,Jammu & Kashmir,14,1,33.1,29.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
14,Kulgam,Jammu & Kashmir,15,1,31.4,30,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
15,Doda,Jammu & Kashmir,16,1,18.7,17,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
16,Ramban,Jammu & Kashmir,17,1,17.8,16.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
17,Kishtwar,Jammu & Kashmir,18,1,14.5,12.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
18,Udhampur,Jammu & Kashmir,19,1,20.3,16.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
19,Reasi,Jammu & Kashmir,20,1,16.5,15.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
20,Jammu,Jammu & Kashmir,21,1,36.9,29.6,45,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
21,Samba,Jammu & Kashmir,22,1,35.3,34.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
22,Chamba,Himachal Pradesh,23,2,20.8,18.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
23,Kangra,Himachal Pradesh,24,2,28.2,27.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
24,Lahul and Spiti,Himachal Pradesh,25,2,23.4,23.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
25,Kullu,Himachal Pradesh,26,2,26.7,25.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
26,Mandi,Himachal Pradesh,27,2,23.9,23.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
27,Hamirpur,Himachal Pradesh,28,2,30.9,30.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
28,Una,Himachal Pradesh,29,2,37.5,37.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
29,Bilaspur,Himachal Pradesh,30,2,28.4,27.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
30,Solan,Himachal Pradesh,31,2,32.7,31.5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
31,Sirmaur,Himachal Pradesh,32,2,25.2,23,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
32,Shimla,Himachal Pradesh,33,2,33.2,31.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
33,Kinnaur,Himachal Pradesh,34,2,27.6,27.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
34,Gurdaspur,Punjab,35,3,31.6,28.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
35,Kapurthala,Punjab,36,3,38.8,41.9,33.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
36,Jalandhar,Punjab,37,3,26.9,28.6,25.5,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
37,Hoshiarpur,Punjab,38,3,31,31.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
38,Sahid Bhagat Singh Nagar,Punjab,39,3,35.7,36,34.8,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
39,Fatehgarh Sahib,Punjab,40,3,41,40,43.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
40,Ludhiana,Punjab,41,3,35.5,38.1,33.8,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
41,Moga,Punjab,42,3,29.1,27.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
42,Firozpur,Punjab,43,3,27.5,25.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
43,Muktsar,Punjab,44,3,26.5,23.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
44,Faridkot,Punjab,45,3,24.5,26.6,18.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
45,Bathinda,Punjab,46,3,23.8,23.1,24.6,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
46,Mansa,Punjab,47,3,24.4,22.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
47,Patiala,Punjab,48,3,35.5,34.5,36.5,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
48,Amritsar,Punjab,49,3,30.3,30.1,30.6,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
49,Tarn Taran,Punjab,50,3,30.2,29.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
50,Rup Nagar,Punjab,51,3,43.6,42,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
51,Sahibzada Ajit Singh Nagar,Punjab,52,3,39.4,35.8,42.5,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
52,Sangrur,Punjab,53,3,30.3,28.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
53,Barnala,Punjab,54,3,32.4,31.8,33.5,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
54,Uttarkashi,Uttarakhand,56,5,11.5,10.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
55,Chamoli,Uttarakhand,57,5,16.6,12.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
56,Rudraprayag,Uttarakhand,58,5,12.4,11.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
57,Tehri Garhwal,Uttarakhand,59,5,5.3,4.5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
58,Dehradun,Uttarakhand,60,5,24.4,24.4,24.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
59,Garhwal,Uttarakhand,61,5,17.5,16.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
60,Pithoragarh,Uttarakhand,62,5,19,14.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
61,Bageshwar,Uttarakhand,63,5,10.2,9.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
62,Almora,Uttarakhand,64,5,9.2,7.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
63,Champawat,Uttarakhand,65,5,17.1,13.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
64,Nainital,Uttarakhand,66,5,27.2,23.5,32,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
65,Udham Singh Nagar,Uttarakhand,67,5,24.8,20.1,32.3,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
66,Hardwar,Uttarakhand,68,5,24,17.3,32.5,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
67,Panchkula,Haryana,69,6,22.9,21,24,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
68,Ambala,Haryana,70,6,12.7,13.3,12.1,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
69,Yamunanagar,Haryana,71,6,19,17.9,20.8,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
70,Kurukshetra,Haryana,72,6,19.6,19.5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
71,Kaithal,Haryana,73,6,25.3,22,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
72,Karnal,Haryana,74,6,26.3,23,33.7,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
73,Panipat,Haryana,75,6,25.8,24.9,26.6,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
74,Sonipat,Haryana,76,6,31.3,32.8,28.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
75,Jind,Haryana,77,6,17.5,15.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
76,Fatehabad,Haryana,78,6,15.1,13.5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
77,Sirsa,Haryana,79,6,23,19,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
78,Hisar,Haryana,80,6,17.8,15.6,22.3,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
79,Bhiwani,Haryana,81,6,22.1,19.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
80,Rohtak,Haryana,82,6,21.6,19.2,24.9,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
81,Jhajjar,Haryana,83,6,21.6,23.5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
82,Mahendragarh,Haryana,84,6,14.4,14.5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
83,Rewari,Haryana,85,6,20.1,19.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
84,Gurgaon,Haryana,86,6,20.2,20.1,20.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
85,Mewat,Haryana,87,6,12.2,9.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
86,Faridabad,Haryana,88,6,23.7,NaN,25,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
87,Palwal,Haryana,89,6,19.1,11.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
88,North West,NCT Delhi,90,7,36.4,NaN,36.6,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
89,North,NCT Delhi,91,7,38.5,NaN,38.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
90,North East,NCT Delhi,92,7,31.2,NaN,31.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
91,East,NCT Delhi,93,7,43.7,NaN,43.7,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
92,New Delhi,NCT Delhi,94,7,27.3,NaN,27.3,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
93,Central,NCT Delhi,95,7,35.6,NaN,35.6,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
94,West,NCT Delhi,96,7,33.6,NaN,33.6,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
95,South West,NCT Delhi,97,7,35.1,NaN,35.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
96,South,NCT Delhi,98,7,32.5,NaN,32.5,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
97,Ganganagar,Rajasthan,99,8,20.5,19,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
98,Hanumangarh,Rajasthan,100,8,14.8,13.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
99,Bikaner,Rajasthan,101,8,15.4,10.7,22.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
100,Churu,Rajasthan,102,8,13.5,11.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
101,Jhunjhunun,Rajasthan,103,8,17.3,16.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
102,Alwar,Rajasthan,104,8,13,10.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
103,Bharatpur,Rajasthan,105,8,14.4,12.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
104,Dhaulpur,Rajasthan,106,8,10.3,6.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
105,Karauli,Rajasthan,107,8,10.2,8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
106,Sawai Madhopur,Rajasthan,108,8,11.2,9.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
107,Dausa,Rajasthan,109,8,10.2,8.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
108,Jaipur,Rajasthan,110,8,17.4,12,22.8,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
109,Sikar,Rajasthan,111,8,18.4,14.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
110,Nagaur,Rajasthan,112,8,14.1,11.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
111,Jodhpur,Rajasthan,113,8,18.3,13.9,26.1,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
112,Jaisalmer,Rajasthan,114,8,12.8,10.5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
113,Barmer,Rajasthan,115,8,11.7,9.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
114,Jalor,Rajasthan,116,8,9.3,8.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
115,Sirohi,Rajasthan,117,8,10.1,7.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
116,Pali,Rajasthan,118,8,14.5,11.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
117,Ajmer,Rajasthan,119,8,16.8,11.6,25,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
118,Tonk,Rajasthan,120,8,10.5,7.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
119,Bundi,Rajasthan,121,8,10.9,7.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
120,Bhilwara,Rajasthan,122,8,14.1,12.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
121,Rajsamand,Rajasthan,123,8,12.5,11.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
122,Dungarpur,Rajasthan,124,8,6.2,4.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
123,Banswara,Rajasthan,125,8,9,7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
124,Chittaurgarh,Rajasthan,126,8,17.6,13.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
125,Kota,Rajasthan,127,8,20.6,11.6,26.1,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
126,Baran,Rajasthan,128,8,9.7,7.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
127,Jhalawar,Rajasthan,129,8,8.6,7.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
128,Udaipur,Rajasthan,130,8,10.4,5,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
129,Pratapgarh,Rajasthan,131,8,7.8,5.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
130,Saharanpur,Uttar Pradesh,132,9,19.7,13.6,32.7,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
131,Muzaffarnagar,Uttar Pradesh,133,9,21.7,19.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
132,Bijnor,Uttar Pradesh,134,9,20.1,17.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
133,Moradabad,Uttar Pradesh,135,9,17.8,11.7,28.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
134,Rampur,Uttar Pradesh,136,9,16,12.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
135,Jyotiba Phule Nagar,Uttar Pradesh,137,9,16.9,13.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
136,Meerut,Uttar Pradesh,138,9,29.9,22.3,33.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
137,Baghpat,Uttar Pradesh,139,9,27,23.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
138,Ghaziabad,Uttar Pradesh,140,9,30.2,25,32.1,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)

In [ ]:
#now I'll try to sort the problem of the state-wise dataframe having different indicator numbers or ids
#from the district-wise dataframe

#first I'll try to make the names of the categories and indicator names consistent between the two dataframes 
    #because that was creating problems for me while trying to put in the right indicator numberss

In [96]:
#just taking a look at the category names in the state_restricted_4 dataframe

state_restricted_4['indicator_category'].unique()

array(['Nutritional Status of Adults (age 15-49 years)',
       'Blood Sugar Level among Adults (age 15-49 years) - Women',
       'Blood Sugar Level among Adults (age 15-49 years) - Men',
       'Hypertension among Adults (age 15-49 years) - Women',
       'Hypertension among Adults (age 15-49 years) - Men'], dtype=object)

In [97]:
#just taking a look at the category names in the dist_restricted dataframe

dist_restricted['indicator_category'].unique()

array(['Nutritional Status of Adults (age 15-49 years) ',
       'Blood Sugar Level among Adults (age 15-49 years) - Women',
       'Blood Sugar Level among Adults (age 15-49 years) - Men',
       'Hypertension among Adults (age 15-49 years) - Women',
       'Hypertension among Adults (age 15-49 years) - Men'], dtype=object)

In [104]:
#above if you see closely in the category name 'Nutritional Status of Adults (age 15-49 years) ' in the district frame,
#there is an extra space at the end compared to 
#'Nutritional Status of Adults (age 15-49 years)' in the state-wise frame

#so i'll strip the trailing whitespace from the category name in the district one

dist_restricted['indicator_category'] = dist_restricted['indicator_category'].str.strip()

In [105]:
#checking
dist_restricted['indicator_category'].unique()

array(['Nutritional Status of Adults (age 15-49 years)',
       'Blood Sugar Level among Adults (age 15-49 years) - Women',
       'Blood Sugar Level among Adults (age 15-49 years) - Men',
       'Hypertension among Adults (age 15-49 years) - Women',
       'Hypertension among Adults (age 15-49 years) - Men'], dtype=object)

In [ ]:
#now I'll try to make the indicator names consistent

In [99]:
state_restricted_4['indicator_name'].unique()

array(['Women who are overweight or obese (BMI >= 25.0 kg/m2) (%)',
       'Men who are overweight or obese (BMI >= 25.0 kg/m2) (%)',
       'Blood sugar level - high (>140 mg/dl) (%)',
       'Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)',
       'Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)',
       'Very high (Systolic 180 mm of Hg and/or Diastolic 110 mm of Hg) (%)'], dtype=object)

In [100]:
dist_restricted['indicator_name'].unique()

array(['Women who are overweight or obese (BMI >= 25.0 kg/m^2) (%)',
       'Men who are overweight or obese (BMI >= 25.0 kg/m^2) (%)',
       'Blood sugar level - high (>140 mg/dl) (%)',
       'Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)',
       'Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)',
       'Very high (Systolic >=180 mm of Hg and/or Diastolic >=110 mm of Hg) (%)'], dtype=object)

In [109]:
#The differences in the indicator names were a litle harder to spot. Should have found a programmatic way of doing this.
#Anyway, there are some characters missing. So 'm^2' from the district frame is 'm2' in the state one.
#Also, '>=180 mm' and '>=110 mm' from the district frame has become '180 mm' and '110 mm' respectively

#So will change the names in the state one to match the ones in the state

state_restricted_4['indicator_name'] = state_restricted_4['indicator_name'].str.replace('kg/m2','kg/m^2')
state_restricted_4['indicator_name'] = state_restricted_4['indicator_name']\
                                        .str.replace('Systolic 180','Systolic >=180')
state_restricted_4['indicator_name'] = state_restricted_4['indicator_name']\
                                        .str.replace('Diastolic 110','Diastolic >=110')

In [110]:
state_restricted_4['indicator_name'].unique()

array(['Women who are overweight or obese (BMI >= 25.0 kg/m^2) (%)',
       'Men who are overweight or obese (BMI >= 25.0 kg/m^2) (%)',
       'Blood sugar level - high (>140 mg/dl) (%)',
       'Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)',
       'Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)',
       'Very high (Systolic >=180 mm of Hg and/or Diastolic >=110 mm of Hg) (%)'], dtype=object)

In [111]:
#I will create a dictionary below to help us replace the indicator_numbers in the state wise frame

#below is a dictionary with the indicator_number as the value and 
    #each indicator_category and indicator_name combination as the key

#got the code from https://stackoverflow.com/questions/18695605/python-pandas-dataframe-to-dictionary
    #and https://stackoverflow.com/questions/44125362/pandas-create-key-value-pair-from-grouped-by-data-frame

state_indicators_dict = \
    state_restricted_4.set_index(['indicator_category', 'indicator_name'])['indicator_number'].to_dict()

state_indicators_dict

{('Blood Sugar Level among Adults (age 15-49 years) - Men',
  'Blood sugar level - high (>140 mg/dl) (%)'): '86',
 ('Blood Sugar Level among Adults (age 15-49 years) - Women',
  'Blood sugar level - high (>140 mg/dl) (%)'): '84',
 ('Hypertension among Adults (age 15-49 years) - Men',
  'Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)'): '92',
 ('Hypertension among Adults (age 15-49 years) - Men',
  'Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)'): '91',
 ('Hypertension among Adults (age 15-49 years) - Men',
  'Very high (Systolic >=180 mm of Hg and/or Diastolic >=110 mm of Hg) (%)'): '93',
 ('Hypertension among Adults (age 15-49 years) - Women',
  'Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)'): '89',
 ('Hypertension among Adults (age 15-49 years) - Women',
  'Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)'): '88',
 ('Hypertension among Adults (age 15-49 years) - Women',
  'Very high (Systolic >=180 mm of Hg and/or Diastolic >=110 mm of Hg) (%)'): '90',
 ('Nutritional Status of Adults (age 15-49 years)',
  'Men who are overweight or obese (BMI >= 25.0 kg/m^2) (%)'): '78',
 ('Nutritional Status of Adults (age 15-49 years)',
  'Women who are overweight or obese (BMI >= 25.0 kg/m^2) (%)'): '77'}

In [112]:
#now I'll do the same for the dist_restricted dataset

dist_indicators_dict = \
    dist_restricted.set_index(['indicator_category', 'indicator_name'])['indicator_number'].to_dict()

dist_indicators_dict

{('Blood Sugar Level among Adults (age 15-49 years) - Men',
  'Blood sugar level - high (>140 mg/dl) (%)'): 83,
 ('Blood Sugar Level among Adults (age 15-49 years) - Women',
  'Blood sugar level - high (>140 mg/dl) (%)'): 81,
 ('Hypertension among Adults (age 15-49 years) - Men',
  'Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)'): 89,
 ('Hypertension among Adults (age 15-49 years) - Men',
  'Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)'): 88,
 ('Hypertension among Adults (age 15-49 years) - Men',
  'Very high (Systolic >=180 mm of Hg and/or Diastolic >=110 mm of Hg) (%)'): 90,
 ('Hypertension among Adults (age 15-49 years) - Women',
  'Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)'): 86,
 ('Hypertension among Adults (age 15-49 years) - Women',
  'Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)'): 85,
 ('Hypertension among Adults (age 15-49 years) - Women',
  'Very high (Systolic >=180 mm of Hg and/or Diastolic >=110 mm of Hg) (%)'): 87,
 ('Nutritional Status of Adults (age 15-49 years)',
  'Men who are overweight or obese (BMI >= 25.0 kg/m^2) (%)'): 75,
 ('Nutritional Status of Adults (age 15-49 years)',
  'Women who are overweight or obese (BMI >= 25.0 kg/m^2) (%)'): 74}

In [113]:
#with help from the two dictionaries above, i will create a new column in the state_restricted_4 dataframe with the
    #indicator numbers from the district frame
    
#essentially below what i'm doing is matching the state indicator number matching it to a combo of 
    #indicator category and indicator name, and then finding what the corresponding district indicator number
    #is in the dictionary we'd created

#code from https://stackoverflow.com/questions/8023306/get-key-by-value-in-dictionary

def dist_number(row):
    state_indicator_number = row['indicator_number']
    for key, value in state_indicators_dict.items():
        if value == state_indicator_number:
            state_indicator_combo = key
            return dist_indicators_dict[state_indicator_combo]

state_restricted_4['indicator_number_new'] = state_restricted_4.apply (lambda row: dist_number (row),axis=1)

state_restricted_4

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category,indicator_number_new
0,Chandigarh,Chandigarh,055,04,41.5,NaN,NaN,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),74
1,Chandigarh,Chandigarh,055,04,32,NaN,NaN,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),75
2,Chandigarh,Chandigarh,055,04,5.6,NaN,NaN,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,81
3,Chandigarh,Chandigarh,055,04,6.9,NaN,NaN,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,83
4,Chandigarh,Chandigarh,055,04,7.4,NaN,NaN,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,85
5,Chandigarh,Chandigarh,055,04,1.5,NaN,NaN,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,86
6,Chandigarh,Chandigarh,055,04,0.4,NaN,NaN,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...,87
7,Chandigarh,Chandigarh,055,04,10.6,NaN,NaN,91,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,88
8,Chandigarh,Chandigarh,055,04,2.9,NaN,NaN,92,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,89
9,Chandigarh,Chandigarh,055,04,0,NaN,NaN,93,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,90
10,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,19.2,6.9,34.2,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),74
11,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,22.9,11.5,33.8,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),75
12,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,4.7,4,5.7,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,81
13,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,8.7,11.1,6.5,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,83
14,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,5.6,5,6.4,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,85
15,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,1.2,0.2,2.5,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,86
16,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,0.6,0.2,1.1,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...,87
17,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,9.8,4.5,14.7,91,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,88
18,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,1.7,1.1,2.3,92,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,89
19,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,0.6,1.2,0,93,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,90
20,Lakshadweep,Lakshadweep,587,31,41.4,28.2,42.4,77,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),74
21,Lakshadweep,Lakshadweep,587,31,24.6,-22.2,24.7,78,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),75
22,Lakshadweep,Lakshadweep,587,31,12,9.2,12.2,84,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,81
23,Lakshadweep,Lakshadweep,587,31,13.3,-15.5,13.3,86,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,83
24,Lakshadweep,Lakshadweep,587,31,7.4,14.6,6.9,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,85
25,Lakshadweep,Lakshadweep,587,31,2.7,0.4,2.9,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,86
26,Lakshadweep,Lakshadweep,587,31,0.8,0.3,0.9,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...,87
27,Lakshadweep,Lakshadweep,587,31,9.1,-11.1,9.1,91,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,88
28,Lakshadweep,Lakshadweep,587,31,0,0,0,92,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,89
29,Lakshadweep,Lakshadweep,587,31,0.8,0,0.8,93,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,90

In [114]:
#dropping the old indicator_number column

state_restricted_4.drop('indicator_number', axis=1, inplace=True)

In [120]:
state_restricted_4.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_name,indicator_category,indicator_number_new
0,Chandigarh,Chandigarh,055,04,41.5,NaN,NaN,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),74
1,Chandigarh,Chandigarh,055,04,32,NaN,NaN,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),75
2,Chandigarh,Chandigarh,055,04,5.6,NaN,NaN,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,81
3,Chandigarh,Chandigarh,055,04,6.9,NaN,NaN,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,83
4,Chandigarh,Chandigarh,055,04,7.4,NaN,NaN,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,85

In [121]:
#changing the name of the column 'indicator_number_new' to 'indicator_number'

state_restricted_4.rename(columns = {'indicator_number_new':'indicator_number'}, inplace = True)

state_restricted_4.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_name,indicator_category,indicator_number
0,Chandigarh,Chandigarh,055,04,41.5,NaN,NaN,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),74
1,Chandigarh,Chandigarh,055,04,32,NaN,NaN,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),75
2,Chandigarh,Chandigarh,055,04,5.6,NaN,NaN,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,81
3,Chandigarh,Chandigarh,055,04,6.9,NaN,NaN,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,83
4,Chandigarh,Chandigarh,055,04,7.4,NaN,NaN,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,85

In [ ]:
#changing the order of the columns

In [122]:

state_restricted_4 = state_restricted_4[dist_cols] #dist_cols is the order of columns in the district frame
state_restricted_4.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category
0,Chandigarh,Chandigarh,055,04,41.5,NaN,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
1,Chandigarh,Chandigarh,055,04,32,NaN,NaN,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years)
2,Chandigarh,Chandigarh,055,04,5.6,NaN,NaN,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
3,Chandigarh,Chandigarh,055,04,6.9,NaN,NaN,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
4,Chandigarh,Chandigarh,055,04,7.4,NaN,NaN,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...

In [123]:
# a look at the reduced district dataframe again

dist_restricted.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category
0,Kupwara,Jammu & Kashmir,1,1,20.5,16.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
1,Badgam,Jammu & Kashmir,2,1,31.4,29.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
2,Leh(Ladakh),Jammu & Kashmir,3,1,19.2,19.2,19.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
3,Kargil,Jammu & Kashmir,4,1,13.6,11.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
4,Punch,Jammu & Kashmir,5,1,21.1,19.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)

In [125]:
#joining the two dataframes now with the concat command

combined_df = pd.concat([dist_restricted,state_restricted_4])

In [126]:
combined_df.groupby(['indicator_category','indicator_name',"indicator_number"]).count()

                                                                                                                        district  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                     640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                     640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                     640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                     640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                     640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                     640

                                                                                                                        state  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  640

                                                                                                                        district_census_code  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                                 640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                                 640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                                 640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                                 640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                                 640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                                 640

                                                                                                                        state_census_code  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                              640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                              640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                              640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                              640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                              640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                              640

                                                                                                                        total  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  640

                                                                                                                        rural  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  609
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  609
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  609
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  609
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  609
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  609

                                                                                                                        urban
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  188
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  188
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  188
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  188
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  188
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  188

In [ ]:
#so now all 640 districts of india are now in a single dataframe with just the data related to the indicators that I 
    #am interested in , will save this dataframe now as a csv

In [7]:
#creating a folder to store this subset of data and other CSVs I may be creating for visualisation etc.

mkdir my_data

In [127]:
#saving this now as a csv
combined_df.to_csv('my_data/culled.csv', index=False)

#index = False prevents the index being saved as a column in the csv 
#code from https://stackoverflow.com/questions/20845213/how-to-avoid-python-pandas-creating-an-index-in-a-saved-csv

In [1]:
import pandas as pd

culled_reload = pd.read_csv('my_data/culled.csv') #, encoding='latin-1'
culled_reload

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category
0,Kupwara,Jammu & Kashmir,1,1,20.5,16.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
1,Badgam,Jammu & Kashmir,2,1,31.4,29.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
2,Leh(Ladakh),Jammu & Kashmir,3,1,19.2,19.2,19.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
3,Kargil,Jammu & Kashmir,4,1,13.6,11.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
4,Punch,Jammu & Kashmir,5,1,21.1,19.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
5,Rajouri,Jammu & Kashmir,6,1,21.0,19.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
6,Kathua,Jammu & Kashmir,7,1,24.6,23.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
7,Baramula,Jammu & Kashmir,8,1,24.5,21.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
8,Bandipore,Jammu & Kashmir,9,1,34.1,32.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
9,Srinagar,Jammu & Kashmir,10,1,40.8,NaN,41.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
10,Ganderbal,Jammu & Kashmir,11,1,33.8,31.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
11,Pulwama,Jammu & Kashmir,12,1,34.0,33.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
12,Shupiyan,Jammu & Kashmir,13,1,31.3,30.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
13,Anantnag,Jammu & Kashmir,14,1,33.1,29.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
14,Kulgam,Jammu & Kashmir,15,1,31.4,30,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
15,Doda,Jammu & Kashmir,16,1,18.7,17,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
16,Ramban,Jammu & Kashmir,17,1,17.8,16.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
17,Kishtwar,Jammu & Kashmir,18,1,14.5,12.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
18,Udhampur,Jammu & Kashmir,19,1,20.3,16.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
19,Reasi,Jammu & Kashmir,20,1,16.5,15.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
20,Jammu,Jammu & Kashmir,21,1,36.9,29.6,45,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
21,Samba,Jammu & Kashmir,22,1,35.3,34.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
22,Chamba,Himachal Pradesh,23,2,20.8,18.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
23,Kangra,Himachal Pradesh,24,2,28.2,27.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
24,Lahul and Spiti,Himachal Pradesh,25,2,23.4,23.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
25,Kullu,Himachal Pradesh,26,2,26.7,25.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
26,Mandi,Himachal Pradesh,27,2,23.9,23.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
27,Hamirpur,Himachal Pradesh,28,2,30.9,30.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
28,Una,Himachal Pradesh,29,2,37.5,37.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
29,Bilaspur,Himachal Pradesh,30,2,28.4,27.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
...,...,...,...,...,...,...,...,...,...,...
6370,Chandigarh,Chandigarh,55,4,41.5,NaN,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
6371,Chandigarh,Chandigarh,55,4,32.0,NaN,NaN,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years)
6372,Chandigarh,Chandigarh,55,4,5.6,NaN,NaN,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
6373,Chandigarh,Chandigarh,55,4,6.9,NaN,NaN,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
6374,Chandigarh,Chandigarh,55,4,7.4,NaN,NaN,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...
6375,Chandigarh,Chandigarh,55,4,1.5,NaN,NaN,86,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...
6376,Chandigarh,Chandigarh,55,4,0.4,NaN,NaN,87,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...
6377,Chandigarh,Chandigarh,55,4,10.6,NaN,NaN,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men
6378,Chandigarh,Chandigarh,55,4,2.9,NaN,NaN,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men
6379,Chandigarh,Chandigarh,55,4,0.0,NaN,NaN,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men
6380,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,19.2,6.9,34.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
6381,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,22.9,11.5,33.8,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years)
6382,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,4.7,4,5.7,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
6383,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,8.7,11.1,6.5,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
6384,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,5.6,5,6.4,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...
6385,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,1.2,0.2,2.5,86,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...
6386,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,0.6,0.2,1.1,87,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...
6387,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,9.8,4.5,14.7,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men
6388,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,1.7,1.1,2.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men
6389,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,0.6,1.2,0,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men
6390,Lakshadweep,Lakshadweep,587,31,41.4,28.2,42.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years)
6391,Lakshadweep,Lakshadweep,587,31,24.6,-22.2,24.7,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years)
6392,Lakshadweep,Lakshadweep,587,31,12.0,9.2,12.2,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
6393,Lakshadweep,Lakshadweep,587,31,13.3,-15.5,13.3,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...
6394,Lakshadweep,Lakshadweep,587,31,7.4,14.6,6.9,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...
6395,Lakshadweep,Lakshadweep,587,31,2.7,0.4,2.9,86,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...
6396,Lakshadweep,Lakshadweep,587,31,0.8,0.3,0.9,87,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...
6397,Lakshadweep,Lakshadweep,587,31,9.1,-11.1,9.1,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men
6398,Lakshadweep,Lakshadweep,587,31,0.0,0,0,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men
6399,Lakshadweep,Lakshadweep,587,31,0.8,0,0.8,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men

In [2]:
#ok now let's check what the dtypes of this data frame is
culled_reload.dtypes

district                 object
state                    object
district_census_code      int64
state_census_code         int64
total                   float64
rural                    object
urban                    object
indicator_number          int64
indicator_name           object
indicator_category       object
dtype: object

In [3]:
#creating duplicate columns for 'total' , 'rural', 'urban', because I'll be changing the data in them
    #That'll help change the column type to float and do operations like summing etc.
    
    #will be filling any Nan or 'not a number' or null values in the duplicate columns with 0s
    #want to keep the original columns so that I know later on which rows had Nans filled in with 0s
    
culled_reload['total_filled'] = culled_reload['total']
culled_reload['rural_filled'] = culled_reload['rural']
culled_reload['urban_filled'] = culled_reload['urban']

In [4]:
#am converting total_filled column to string, or at least try to, 
    #because it helps with some calculations later on
    #and helps avoid some type confusion

culled_reload['total_filled'] = culled_reload['total_filled'].astype(str)

In [5]:
#so there are lots of NaN or 'Not a nmber' values
#am going to take care of them by putting in 0 in their place
#think I'll be alright with any analysis later on as long as the original columns let us know where the Nans were

culled_reload['total_filled'].fillna('0', inplace=True)
culled_reload['rural_filled'].fillna('0', inplace=True)
culled_reload['urban_filled'].fillna('0', inplace=True)

In [6]:
#i originally tried to convert the datatypes of the columns into float, but ran into some issues, 
#had a look at the kinds of values present in the rural_filled column and there are some weird values in it
#For example, some cells have '*' in them so they couldn't be converted to numbers

list(culled_reload['rural_filled'].unique())

#let's see what other weird values are there

['16.1',
 '29.1',
 '19.2',
 '11.2',
 '19.9',
 '19.4',
 '23.3',
 '21.1',
 '32.9',
 '0',
 '31.1',
 '33.7',
 '30.8',
 '29.8',
 '30',
 '17',
 '16.6',
 '12.8',
 '16.4',
 '15.6',
 '29.6',
 '34.6',
 '18.6',
 '27.7',
 '23.4',
 '25.7',
 '30.4',
 '37.3',
 '31.5',
 '23',
 '31.4',
 '27.6',
 '28.8',
 '41.9',
 '28.6',
 '31.2',
 '36',
 '40',
 '38.1',
 '27.4',
 '25.8',
 '23.7',
 '26.6',
 '23.1',
 '22.8',
 '34.5',
 '30.1',
 '29.9',
 '42',
 '35.8',
 '31.8',
 '10.3',
 '12.9',
 '11.4',
 '4.5',
 '24.4',
 '14.9',
 '9.7',
 '7.7',
 '13.6',
 '23.5',
 '20.1',
 '17.3',
 '21',
 '13.3',
 '17.9',
 '19.5',
 '22',
 '24.9',
 '32.8',
 '15.8',
 '13.5',
 '19',
 '19.1',
 '14.5',
 '19.8',
 '9.2',
 '11.8',
 '13.2',
 '10.7',
 '11.9',
 '10.9',
 '12.1',
 '6.3',
 '8',
 '8.2',
 '12',
 '14.8',
 '11.7',
 '13.9',
 '10.5',
 '9.8',
 '7.1',
 '11.6',
 '7.4',
 '7.3',
 '12.3',
 '11.1',
 '4.7',
 '7',
 '7.6',
 '7.2',
 '5',
 '5.9',
 '17.1',
 '13.7',
 '22.3',
 '25',
 '25.5',
 '15.1',
 '16.8',
 '12.2',
 '10.1',
 '12.6',
 '9.3',
 '15.7',
 '13.1',
 '14.2',
 '7.5',
 '11',
 '9.4',
 '10.4',
 '9.1',
 '9.6',
 '6',
 '4.4',
 '6.5',
 '6.4',
 '8.5',
 '14.4',
 '13.4',
 '14.6',
 '13',
 '12.5',
 '14.1',
 '11.5',
 '14.3',
 '8.9',
 '5.6',
 '4.6',
 '5.4',
 '5.8',
 '6.1',
 '6.7',
 '16',
 '8.4',
 '10',
 '12.7',
 '14.7',
 '9.5',
 '6.9',
 '7.8',
 '24.1',
 '26.5',
 '28',
 '29.2',
 '15',
 '21.8',
 '12.4',
 '15.9',
 '18.4',
 '3.8',
 '8.1',
 '4.8',
 '18.9',
 '23.8',
 '11.3',
 '17.7',
 '8.8',
 '6.8',
 '13.8',
 '9.9',
 '10.6',
 '15.3',
 '8.6',
 '28.1',
 '7.9',
 '3.6',
 '20.6',
 '18.5',
 '5.2',
 '4.3',
 '4.9',
 '2.5',
 '4.2',
 '2.8',
 '5.3',
 '25.2',
 '22.4',
 '18.2',
 '9',
 '5.5',
 '2.4',
 '3.1',
 '1.7',
 '10.8',
 '6.2',
 '8.7',
 '10.2',
 '8.3',
 '4',
 '5.1',
 '16.3',
 '30.3',
 '21.3',
 '21.4',
 '23.9',
 '2.3',
 '28.4',
 '20',
 '16.5',
 '16.2',
 '24.7',
 '26',
 '16.9',
 '21.5',
 '18.7',
 '32.2',
 '36.9',
 '40.9',
 '38.8',
 '29.3',
 '30.2',
 '19.6',
 '20.3',
 '22.2',
 '16.7',
 '21.7',
 '20.5',
 '21.9',
 '15.2',
 '27.5',
 '33.4',
 '33.8',
 '24.5',
 '35.3',
 '36.8',
 '39.1',
 '34.4',
 '37.6',
 '33.5',
 '26.1',
 '25.1',
 '20.7',
 '22.6',
 '20.8',
 '23.6',
 '27.1',
 '26.2',
 '22.9',
 '27.8',
 '34.1',
 '29.7',
 '25.6',
 '15.5',
 '19.3',
 '22.1',
 '21.2',
 '22.7',
 '21.6',
 '20.2',
 '30.5',
 '24.3',
 '32.4',
 '39',
 '37.2',
 '33',
 '24',
 '23.2',
 '25.4',
 '26.9',
 '18.8',
 '18.1',
 '4.1',
 '2.2',
 '6.6',
 '3.4',
 '3.7',
 '3',
 '3.5',
 '1.1',
 '14',
 '41.2',
 '*',
 '35.1',
 '26.3',
 '17.5',
 '-16.2',
 '-11.8',
 '24.8',
 '15.4',
 '17.6',
 '18.3',
 '1.3',
 '25.3',
 '19.7',
 '24.6',
 '5.7',
 '3.3',
 '2.6',
 '1.6',
 '2.9',
 '17.4',
 '22.5',
 '35',
 '33.3',
 '18',
 '-14.8',
 '39.5',
 '38.6',
 '-32.8',
 '34.8',
 '28.2',
 '-32',
 '26.7',
 '-12.9',
 '20.9',
 '27.9',
 '33.2',
 '-41.3',
 '26.8',
 '36.4',
 '30.6',
 '29',
 '24.2',
 '32.5',
 '-26.6',
 '-20.4',
 '-27.5',
 '32',
 '31.7',
 '46.1',
 '1',
 '3.2',
 '2.7',
 '1.8',
 '3.9',
 '2',
 '2.1',
 '1.9',
 '1.2',
 '0.7',
 '0.6',
 '1.5',
 '0.8',
 '-18',
 '-14.7',
 '-12.3',
 '-19.6',
 '-19',
 '-10.7',
 '20.4',
 '-13',
 '-9.9',
 '-6.3',
 '-5.8',
 '-7.3',
 '1.4',
 '0.4',
 '0.3',
 '0.9',
 '0.2',
 '0.5',
 '0.1',
 '17.2',
 '28.5',
 '17.8',
 '-22.5',
 '-12.7',
 '-19.1',
 '-9.2',
 '-6.1',
 '-13.4',
 '-6.4',
 '-8.6',
 '-17.7',
 '-22.2',
 '-14.6',
 '-10.4',
 '36.7',
 '-9.7',
 '-2.5',
 '-4.3',
 '-2.4',
 '-4.2',
 '-7.9',
 '-4.6',
 '-1.9',
 '-2.6',
 '-2.3',
 '-2',
 '-5.6',
 '-15.5',
 '-11.1']

In [7]:
#now there are asterisks and numbers with minus signs before them in the list above
#let's come up with a more programmatic way of finding all these weird characters in the 
#total, urban and rural columns

character_list = ['0','1','2','3','4','5','6','7','8','9','.']
#if there's any value with a weird character that's not in the list above, it'll get flagged in the code below

col_names = ['total_filled','rural_filled','urban_filled'] #names of columns from culled_reload that we'll be checking

weird_characters = [] #initialising an empty list, we'll be putting in our weird characters into this and printing it

for col in col_names:
    list_values = list(culled_reload[col].unique())
    for value in list_values:
        value_characters = list(str(value)) #splitting the value into the characters that form it, ie. digits etc.
        #code from https://stackoverflow.com/questions/113655/is-there-a-function-in-python-to-split-a-word-into-a-list
        for character in value_characters:
            if character not in character_list:
                if character not in weird_characters:
                    weird_characters.append(character)

print (weird_characters)

['-', '*']

In [ ]:
#ok, so we've checked all the values from the total, urban and rural columns and the only weird characters
    #that aren't the digits 0-9 or the decimal point '.' are the minus sign '-' and the asterisk '*'

#have a feeling that the minus signs or hyphens just need to be removed, asterisks replaced with 0s and we should be fine

#But to be on the safe side, I will need to check against the original data on the NFHS website 
#Have to see if the figures after removing these weird characters tallies with the figures on the NFHS website
#for that I'll need a list of districts to use for the check, districts that have these minus signs & asterisks in values

In [8]:
#the code below finds all the rows where the values in rural, urban or total columns have '*' or '-' in them

#'|' stands for the OR operator

df_for_checking = culled_reload[(culled_reload['total_filled'].str.contains('\*|-')) |\
                                  (culled_reload['rural_filled'].str.contains('\*|-')) | \
                                  (culled_reload['urban_filled'].str.contains('\*|-'))]

df_for_checking

#took me an hour to figure this out but it seems 'str.contains' uses a regex search & '*' is a wildcard symbol in regex
    #so you have to put the backslash before the '*' for python to recognise it as a character and not a wildcard
    #learnt this from https://stackoverflow.com/questions/12390238/what-is-sre-constants-error-nothing-to-repeat

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category,total_filled,rural_filled,urban_filled
675,Sahid Bhagat Singh Nagar,Punjab,39,3,27.7,27.5,*,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),27.7,27.5,*
726,North,NCT Delhi,91,7,-25.2,NaN,-23.2,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),-25.2,0,-23.2
729,New Delhi,NCT Delhi,94,7,-25.1,NaN,-25.1,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),-25.1,0,-25.1
730,Central,NCT Delhi,95,7,-17.0,NaN,-17,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),-17.0,0,-17
733,South,NCT Delhi,98,7,-29.9,NaN,-29.9,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),-29.9,0,-29.9
878,South District,Sikkim,243,11,-31.3,*,NaN,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),-31.3,*,0
897,Mokokchung,Nagaland,262,13,18.6,-16.2,NaN,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),18.6,-16.2,0
899,Wokha,Nagaland,264,13,13.9,-11.8,NaN,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),13.9,-11.8,0
972,North Twenty Four Parganas,West Bengal,337,19,16.5,16.5,-16.6,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),16.5,16.5,-16.6
973,Hugli,West Bengal,338,19,17.2,17.6,-16.6,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),17.2,17.6,-16.6
1153,Mumbai,Maharashtra,519,27,-37.9,NaN,-37.9,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),-37.9,0,-37.9
1178,Visakhapatnam,Andhra Pradesh,544,28,29.0,-14.8,40.2,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),29.0,-14.8,40.2
1181,Krishna,Andhra Pradesh,547,28,46.6,38.6,-61.3,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),46.6,38.6,-61.3
1182,Guntur,Andhra Pradesh,548,28,39.0,-32.8,48.1,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),39.0,-32.8,48.1
1185,Y.S.R. Cuddapah,Andhra Pradesh,551,28,40.8,-32,-52.1,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),40.8,-32,-52.1
1202,Shimoga,Karnataka,568,29,15.5,7.2,-39,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),15.5,7.2,-39
1209,Dakshina Kannada,Karnataka,575,29,20.4,17.7,-23.2,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),20.4,17.7,-23.2
1211,Mysore,Karnataka,577,29,20.2,18.3,-22.7,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),20.2,18.3,-22.7
1215,Kolar,Karnataka,581,29,21.3,-12.9,29.2,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),21.3,-12.9,29.2
1222,Kannur,Kerala,589,32,30.1,34.4,-26.8,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),30.1,34.4,-26.8
1228,Ernakulam,Kerala,595,32,38.9,-41.3,37.7,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),38.9,-41.3,37.7
1259,Ramanathapuram,Tamil Nadu,626,33,27.1,-26.6,28.4,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),27.1,-26.6,28.4
1260,Thoothukkudi,Tamil Nadu,627,33,22.9,-20.4,24.2,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),22.9,-20.4,24.2
1261,Tirunelveli,Tamil Nadu,628,33,30.2,-27.5,32.7,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),30.2,-27.5,32.7
1949,Sahid Bhagat Singh Nagar,Punjab,39,3,2.9,2.3,*,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,2.9,2.3,*
1950,Fatehgarh Sahib,Punjab,40,3,9.2,10.3,-6.5,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,9.2,10.3,-6.5
1999,North West,NCT Delhi,90,7,8.2,NaN,-7.2,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,8.2,0,-7.2
2000,North,NCT Delhi,91,7,-12.1,NaN,-12.7,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,-12.1,0,-12.7
2003,New Delhi,NCT Delhi,94,7,-9.3,NaN,-9.3,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,-9.3,0,-9.3
2004,Central,NCT Delhi,95,7,-10.0,NaN,-10,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,-10.0,0,-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5185,North,NCT Delhi,91,7,-2.2,NaN,-2.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,-2.2,0,-2.3
5337,South District,Sikkim,243,11,-5.6,*,NaN,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,-5.6,*,0
5356,Mokokchung,Nagaland,262,13,10.0,-9.7,NaN,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,10.0,-9.7,0
5432,Hugli,West Bengal,338,19,4.3,1.9,-8.4,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,4.3,1.9,-8.4
5612,Mumbai,Maharashtra,519,27,-9.3,NaN,-9.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,-9.3,0,-9.3
5622,Sindhudurg,Maharashtra,529,27,8.4,-9.9,NaN,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,8.4,-9.9,0
5637,Visakhapatnam,Andhra Pradesh,544,28,2.4,-2.5,2.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.4,-2.5,2.3
5641,Guntur,Andhra Pradesh,548,28,3.5,-4.3,2.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,3.5,-4.3,2.3
5644,Y.S.R. Cuddapah,Andhra Pradesh,551,28,2.9,-2.4,-3.5,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.9,-2.4,-3.5
5661,Shimoga,Karnataka,568,29,2.7,0,-10.2,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.7,0,-10.2
5668,Dakshina Kannada,Karnataka,575,29,2.0,0,-4,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.0,0,-4
5681,Kannur,Kerala,589,32,3.9,3.4,-4.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,3.9,3.4,-4.3
5687,Ernakulam,Kerala,595,32,3.0,-4.2,2.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,3.0,-4.2,2.3
5717,Virudhunagar,Tamil Nadu,625,33,5.8,-7.9,3.8,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,5.8,-7.9,3.8
5720,Tirunelveli,Tamil Nadu,628,33,2.7,-2.4,3.1,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.7,-2.4,3.1
5771,Sahid Bhagat Singh Nagar,Punjab,39,3,0.0,0,*,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,0.0,0,*
5974,South District,Sikkim,243,11,-5.2,*,NaN,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,-5.2,*,0
5993,Mokokchung,Nagaland,262,13,3.6,-4.6,NaN,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,3.6,-4.6,0
6068,North Twenty Four Parganas,West Bengal,337,19,1.5,0,-3.4,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,1.5,0,-3.4
6259,Sindhudurg,Maharashtra,529,27,1.6,-1.9,NaN,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,1.6,-1.9,0
6274,Visakhapatnam,Andhra Pradesh,544,28,1.7,-2.6,1.1,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,1.7,-2.6,1.1
6277,Krishna,Andhra Pradesh,547,28,2.0,1.8,-2.3,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,2.0,1.8,-2.3
6281,Y.S.R. Cuddapah,Andhra Pradesh,551,28,1.3,-2.3,0,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,1.3,-2.3,0
6298,Shimoga,Karnataka,568,29,3.4,3.6,-3,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,3.4,3.6,-3
6318,Kannur,Kerala,589,32,1.3,0,-2.2,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,1.3,0,-2.2
6354,Virudhunagar,Tamil Nadu,625,33,0.9,-2,0,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,0.9,-2,0
6356,Thoothukkudi,Tamil Nadu,627,33,2.9,-5.6,1.4,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,2.9,-5.6,1.4
6391,Lakshadweep,Lakshadweep,587,31,24.6,-22.2,24.7,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),24.6,-22.2,24.7
6393,Lakshadweep,Lakshadweep,587,31,13.3,-15.5,13.3,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,13.3,-15.5,13.3
6397,Lakshadweep,Lakshadweep,587,31,9.1,-11.1,9.1,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,9.1,-11.1,9.1

In [9]:
#getting a categorisation of the states and districts for which I have to check the original data 

df_for_checking.groupby(['state', 'state_census_code','district',"district_census_code"]).count()

                                                                                  total  \
state          state_census_code district                   district_census_code
Andhra Pradesh 28                Guntur                     548                       4
                                 Krishna                    547                       4
                                 Visakhapatnam              544                       5
                                 Y.S.R. Cuddapah            551                       5
Karnataka      29                Dakshina Kannada           575                       4
                                 Kolar                      581                       3
                                 Mysore                     577                       3
                                 Shimoga                    568                       5
Kerala         32                Ernakulam                  595                       4
                                 Kannur                     589                       5
Lakshadweep    31                Lakshadweep                587                       3
Maharashtra    27                Mumbai                     519                       4
                                 Sindhudurg                 529                       3
NCT Delhi      7                 Central                    95                        3
                                 New Delhi                  94                        3
                                 North                      91                        3
                                 North West                 90                        1
                                 South                      98                        3
Nagaland       13                Mokokchung                 262                       5
                                 Wokha                      264                       3
Punjab         3                 Fatehgarh Sahib            40                        3
                                 Sahid Bhagat Singh Nagar   39                        5
Sikkim         11                South District             243                       5
Tamil Nadu     33                Ramanathapuram             626                       3
                                 Thoothukkudi               627                       4
                                 Tirunelveli                628                       4
                                 Virudhunagar               625                       4
West Bengal    19                Hugli                      338                       4
                                 North Twenty Four Parganas 337                       4

                                                                                  rural  \
state          state_census_code district                   district_census_code
Andhra Pradesh 28                Guntur                     548                       4
                                 Krishna                    547                       4
                                 Visakhapatnam              544                       5
                                 Y.S.R. Cuddapah            551                       5
Karnataka      29                Dakshina Kannada           575                       4
                                 Kolar                      581                       3
                                 Mysore                     577                       3
                                 Shimoga                    568                       5
Kerala         32                Ernakulam                  595                       4
                                 Kannur                     589                       5
Lakshadweep    31                Lakshadweep                587                       3
Maharashtra    27                Mumbai                     519                       0
                                 Sindhudurg                 529                       3
NCT Delhi      7                 Central                    95                        0
                                 New Delhi                  94                        0
                                 North                      91                        0
                                 North West                 90                        0
                                 South                      98                        0
Nagaland       13                Mokokchung                 262                       5
                                 Wokha                      264                       3
Punjab         3                 Fatehgarh Sahib            40                        3
                                 Sahid Bhagat Singh Nagar   39                        5
Sikkim         11                South District             243                       5
Tamil Nadu     33                Ramanathapuram             626                       3
                                 Thoothukkudi               627                       4
                                 Tirunelveli                628                       4
                                 Virudhunagar               625                       4
West Bengal    19                Hugli                      338                       4
                                 North Twenty Four Parganas 337                       4

                                                                                  urban  \
state          state_census_code district                   district_census_code
Andhra Pradesh 28                Guntur                     548                       4
                                 Krishna                    547                       4
                                 Visakhapatnam              544                       5
                                 Y.S.R. Cuddapah            551                       5
Karnataka      29                Dakshina Kannada           575                       4
                                 Kolar                      581                       3
                                 Mysore                     577                       3
                                 Shimoga                    568                       5
Kerala         32                Ernakulam                  595                       4
                                 Kannur                     589                       5
Lakshadweep    31                Lakshadweep                587                       3
Maharashtra    27                Mumbai                     519                       4
                                 Sindhudurg                 529                       0
NCT Delhi      7                 Central                    95                        3
                                 New Delhi                  94                        3
                                 North                      91                        3
                                 North West                 90                        1
                                 South                      98                        3
Nagaland       13                Mokokchung                 262                       0
                                 Wokha                      264                       0
Punjab         3                 Fatehgarh Sahib            40                        3
                                 Sahid Bhagat Singh Nagar   39                        5
Sikkim         11                South District             243                       0
Tamil Nadu     33                Ramanathapuram             626                       3
                                 Thoothukkudi               627                       4
                                 Tirunelveli                628                       4
                                 Virudhunagar               625                       4
West Bengal    19                Hugli                      338                       4
                                 North Twenty Four Parganas 337                       4

                                                                                  indicator_number  \
state          state_census_code district                   district_census_code
Andhra Pradesh 28                Guntur                     548                                  4
                                 Krishna                    547                                  4
                                 Visakhapatnam              544                                  5
                                 Y.S.R. Cuddapah            551                                  5
Karnataka      29                Dakshina Kannada           575                                  4
                                 Kolar                      581                                  3
                                 Mysore                     577                                  3
                                 Shimoga                    568                                  5
Kerala         32                Ernakulam                  595                                  4
                                 Kannur                     589                                  5
Lakshadweep    31                Lakshadweep                587                                  3
Maharashtra    27                Mumbai                     519                                  4
                                 Sindhudurg                 529                                  3
NCT Delhi      7                 Central                    95                                   3
                                 New Delhi                  94                                   3
                                 North                      91                                   3
                                 North West                 90                                   1
                                 South                      98                                   3
Nagaland       13                Mokokchung                 262                                  5
                                 Wokha                      264                                  3
Punjab         3                 Fatehgarh Sahib            40                                   3
                                 Sahid Bhagat Singh Nagar   39                                   5
Sikkim         11                South District             243                                  5
Tamil Nadu     33                Ramanathapuram             626                                  3
                                 Thoothukkudi               627                                  4
                                 Tirunelveli                628                                  4
                                 Virudhunagar               625                                  4
West Bengal    19                Hugli                      338                                  4
                                 North Twenty Four Parganas 337                                  4

                                                                                  indicator_name  \
state          state_census_code district                   district_census_code
Andhra Pradesh 28                Guntur                     548                                4
                                 Krishna                    547                                4
                                 Visakhapatnam              544                                5
                                 Y.S.R. Cuddapah            551                                5
Karnataka      29                Dakshina Kannada           575                                4
                                 Kolar                      581                                3
                                 Mysore                     577                                3
                                 Shimoga                    568                                5
Kerala         32                Ernakulam                  595                                4
                                 Kannur                     589                                5
Lakshadweep    31                Lakshadweep                587                                3
Maharashtra    27                Mumbai                     519                                4
                                 Sindhudurg                 529                                3
NCT Delhi      7                 Central                    95                                 3
                                 New Delhi                  94                                 3
                                 North                      91                                 3
                                 North West                 90                                 1
                                 South                      98                                 3
Nagaland       13                Mokokchung                 262                                5
                                 Wokha                      264                                3
Punjab         3                 Fatehgarh Sahib            40                                 3
                                 Sahid Bhagat Singh Nagar   39                                 5
Sikkim         11                South District             243                                5
Tamil Nadu     33                Ramanathapuram             626                                3
                                 Thoothukkudi               627                                4
                                 Tirunelveli                628                                4
                                 Virudhunagar               625                                4
West Bengal    19                Hugli                      338                                4
                                 North Twenty Four Parganas 337                                4

                                                                                  indicator_category  \
state          state_census_code district                   district_census_code
Andhra Pradesh 28                Guntur                     548                                    4
                                 Krishna                    547                                    4
                                 Visakhapatnam              544                                    5
                                 Y.S.R. Cuddapah            551                                    5
Karnataka      29                Dakshina Kannada           575                                    4
                                 Kolar                      581                                    3
                                 Mysore                     577                                    3
                                 Shimoga                    568                                    5
Kerala         32                Ernakulam                  595                                    4
                                 Kannur                     589                                    5
Lakshadweep    31                Lakshadweep                587                                    3
Maharashtra    27                Mumbai                     519                                    4
                                 Sindhudurg                 529                                    3
NCT Delhi      7                 Central                    95                                     3
                                 New Delhi                  94                                     3
                                 North                      91                                     3
                                 North West                 90                                     1
                                 South                      98                                     3
Nagaland       13                Mokokchung                 262                                    5
                                 Wokha                      264                                    3
Punjab         3                 Fatehgarh Sahib            40                                     3
                                 Sahid Bhagat Singh Nagar   39                                     5
Sikkim         11                South District             243                                    5
Tamil Nadu     33                Ramanathapuram             626                                    3
                                 Thoothukkudi               627                                    4
                                 Tirunelveli                628                                    4
                                 Virudhunagar               625                                    4
West Bengal    19                Hugli                      338                                    4
                                 North Twenty Four Parganas 337                                    4

                                                                                  total_filled  \
state          state_census_code district                   district_census_code
Andhra Pradesh 28                Guntur                     548                              4
                                 Krishna                    547                              4
                                 Visakhapatnam              544                              5
                                 Y.S.R. Cuddapah            551                              5
Karnataka      29                Dakshina Kannada           575                              4
                                 Kolar                      581                              3
                                 Mysore                     577                              3
                                 Shimoga                    568                              5
Kerala         32                Ernakulam                  595                              4
                                 Kannur                     589                              5
Lakshadweep    31                Lakshadweep                587                              3
Maharashtra    27                Mumbai                     519                              4
                                 Sindhudurg                 529                              3
NCT Delhi      7                 Central                    95                               3
                                 New Delhi                  94                               3
                                 North                      91                               3
                                 North West                 90                               1
                                 South                      98                               3
Nagaland       13                Mokokchung                 262                              5
                                 Wokha                      264                              3
Punjab         3                 Fatehgarh Sahib            40                               3
                                 Sahid Bhagat Singh Nagar   39                               5
Sikkim         11                South District             243                              5
Tamil Nadu     33                Ramanathapuram             626                              3
                                 Thoothukkudi               627                              4
                                 Tirunelveli                628                              4

In [10]:
#getting a list of the districts that I have to check

df_for_checking["district_census_code"].unique()

array([ 39,  91,  94,  95,  98, 243, 262, 264, 337, 338, 519, 544, 547,
       548, 551, 568, 575, 577, 581, 589, 595, 626, 627, 628,  40,  90,
       625, 529, 587])

In [11]:
#ok so there's around 29 districts for which I have to check the original data 

#below I'm checking for the district 'Guntur' in Andhra Pradesh

df_for_checking[df_for_checking['district_census_code'] == 548]

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category,total_filled,rural_filled,urban_filled
1182,Guntur,Andhra Pradesh,548,28,39.0,-32.8,48.1,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),39.0,-32.8,48.1
2456,Guntur,Andhra Pradesh,548,28,19.0,-19.6,18.1,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,19.0,-19.6,18.1
5004,Guntur,Andhra Pradesh,548,28,8.0,-6.1,10.9,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,8.0,-6.1,10.9
5641,Guntur,Andhra Pradesh,548,28,3.5,-4.3,2.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,3.5,-4.3,2.3

In [ ]:
#below is a screengrab of the NFHS pdf for guntur

![screenshot](images/image_for_notebook.png)

In [ ]:
#seems like 'minus' signs or hyphens indicate that there were parentheses around the 
#figures in the original pdfs. They aren't some weird characters that crept in during the scraping process.

#From this report for Guntur, I got a basic idea of why some figures have parentheses
#around them and why some are just '*'. 
#So it seems figures surrounded by () are "based on 25-49 unweighted cases" 
#While if a cell has just '*', it means that the percentage is not shown; because it's "based on
#fewer than 25 unweighted cases"

#the explainer at the url below has a little more on what weighted and unweighted cases mean in surveys like NFHS - 
      #https://dhsprogram.com/pubs/pdf/DM10/DM10.pdf#page=4

#If I've understood the explainer correctly, a figure is 
#in parentheses () if the cases that are the basis of the figure aren't representative of 
#the population distribution of the district. So all the cases might be concentrated in 
#the areas of the district that were more accessible to surveyors, don't know

#I'm no expert in surveys or statistics, but if these figures surrounded by parentheses have been included 
#in the report, it's because they are worthy of some consideration, even if they are unweighted

#My view is that having some idea about the situation in a district is better than having no idea at all.
#So I'm going to remove the hyphens and keep those figures in.
#If I knew a real statistican though, i'd probably consult them on this first 
#but, on the whole, I think it's safe to do this
    
#As for the cells marked with '*', I'll replace them with 0s just so that the column type changes to float
#and I can perform any mathematical operations (sum, mean etc.) I need to
#But I will later on exclude those districts that have '*' in any cell, because the data is incomplete


#Will now check the other 28 districts that had hyphens and asterisks in values to make sure there are no other issues

In [12]:
#array([ 39,  91,  94,  95,  98, 243, 262, 264, 337, 338, 519, 544, 547,
 #      548, 551, 568, 575, 577, 581, 589, 595, 626, 627, 628,  40,  90,
  #     625, 529, 587])

df_for_checking[df_for_checking['district_census_code'] == 628]

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category,total_filled,rural_filled,urban_filled
1261,Tirunelveli,Tamil Nadu,628,33,30.2,-27.5,32.7,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),30.2,-27.5,32.7
2535,Tirunelveli,Tamil Nadu,628,33,9.0,-7.3,10.6,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,9.0,-7.3,10.6
5083,Tirunelveli,Tamil Nadu,628,33,18.2,-10.4,25.4,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,18.2,-10.4,25.4
5720,Tirunelveli,Tamil Nadu,628,33,2.7,-2.4,3.1,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.7,-2.4,3.1

In [ ]:
#ok so i've checked all the 28 districts where the hyphen or asterisk appear in the values

#As was with guntur, the hyphen indicates figures that were surrrounded by parenthese in the original pdfs

#I then started thinking there might be a scenario where there might be values surrounded by parentheses
    #but weren't marked as such in the CSVs. To make sure that wasn't the case, I checked the pdfs
    #one by one on the NFHS website
    #for all the districts of Nagaland, a less-developed and less-accessible state of the country
    #A state which is likely to have more of those asterisks and parentheses showing up in the pdfs.
    
    #There were just two district pdfs that had parentheses around values in the categories i was interested
        #the two districts that showed up in my weird character check, so we're good here

In [13]:

#Now I'm going to create three new columns that are duplicates of the total_filled,rural_filled and 
    #urban_filled columns. Then I'm going to correct the text in the cells of those duplicate columns
    #by removing the hyphen and replace the asterisks with 0s
    

culled_reload['total_corrected'] = culled_reload['total_filled']
culled_reload['rural_corrected'] = culled_reload['rural_filled']
culled_reload['urban_corrected'] = culled_reload['urban_filled']

In [14]:
#code from https://stackoverflow.com/a/28986536

#replace the asterisks with 0s
culled_reload['total_corrected'] = culled_reload['total_corrected'].str.replace('\*','0')
culled_reload['rural_corrected'] = culled_reload['rural_corrected'].str.replace('\*','0')
culled_reload['urban_corrected'] = culled_reload['urban_corrected'].str.replace('\*','0')

#replace the hyphens with nothing
culled_reload['total_corrected'] = culled_reload['total_corrected'].str.replace('-','')
culled_reload['rural_corrected'] = culled_reload['rural_corrected'].str.replace('-','')
culled_reload['urban_corrected'] = culled_reload['urban_corrected'].str.replace('-','')

In [15]:
#now to see if everything is kosher, let's check what the dataframe looks like for
#the south district of sikkim. that district had asterisks and hyphens in its values

culled_reload[culled_reload['district_census_code'] == 243]

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category,total_filled,rural_filled,urban_filled,total_corrected,rural_corrected,urban_corrected
241,South District,Sikkim,243,11,22.3,20.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),22.3,20.1,0,22.3,20.1,0
878,South District,Sikkim,243,11,-31.3,*,NaN,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),-31.3,*,0,31.3,0,0
1515,South District,Sikkim,243,11,5.2,4.5,NaN,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,5.2,4.5,0,5.2,4.5,0
2152,South District,Sikkim,243,11,-7.9,*,NaN,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,-7.9,*,0,7.9,0,0
2789,South District,Sikkim,243,11,11.2,10.7,NaN,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,11.2,10.7,0,11.2,10.7,0
3426,South District,Sikkim,243,11,1.9,2,NaN,86,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,1.9,2,0,1.9,2,0
4063,South District,Sikkim,243,11,0.7,0.7,NaN,87,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...,0.7,0.7,0,0.7,0.7,0
4700,South District,Sikkim,243,11,-19.9,*,NaN,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,-19.9,*,0,19.9,0,0
5337,South District,Sikkim,243,11,-5.6,*,NaN,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,-5.6,*,0,5.6,0,0
5974,South District,Sikkim,243,11,-5.2,*,NaN,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,-5.2,*,0,5.2,0,0

In [16]:
#after this I checked for a few other districts, and the total_corrected, rural_corrected, urban_corrected
    #columns seem to be fine
    
#am saving the df to a csv for now

culled_reload.to_csv('my_data/culled_cleaned.csv', index=False)

#will pick things up again with this new culled_cleaned.csv

In [1]:
import pandas as pd

culled_cleaned = pd.read_csv('my_data/culled_cleaned.csv') #, encoding='latin-1'
culled_cleaned

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_number,indicator_name,indicator_category,total_filled,rural_filled,urban_filled,total_corrected,rural_corrected,urban_corrected
0,Kupwara,Jammu & Kashmir,1,1,20.5,16.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),20.5,16.1,0,20.5,16.1,0.0
1,Badgam,Jammu & Kashmir,2,1,31.4,29.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),31.4,29.1,0,31.4,29.1,0.0
2,Leh(Ladakh),Jammu & Kashmir,3,1,19.2,19.2,19.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),19.2,19.2,19.2,19.2,19.2,19.2
3,Kargil,Jammu & Kashmir,4,1,13.6,11.2,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),13.6,11.2,0,13.6,11.2,0.0
4,Punch,Jammu & Kashmir,5,1,21.1,19.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),21.1,19.9,0,21.1,19.9,0.0
5,Rajouri,Jammu & Kashmir,6,1,21.0,19.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),21.0,19.4,0,21.0,19.4,0.0
6,Kathua,Jammu & Kashmir,7,1,24.6,23.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),24.6,23.3,0,24.6,23.3,0.0
7,Baramula,Jammu & Kashmir,8,1,24.5,21.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),24.5,21.1,0,24.5,21.1,0.0
8,Bandipore,Jammu & Kashmir,9,1,34.1,32.9,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),34.1,32.9,0,34.1,32.9,0.0
9,Srinagar,Jammu & Kashmir,10,1,40.8,NaN,41.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),40.8,0,41.2,40.8,0.0,41.2
10,Ganderbal,Jammu & Kashmir,11,1,33.8,31.1,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),33.8,31.1,0,33.8,31.1,0.0
11,Pulwama,Jammu & Kashmir,12,1,34.0,33.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),34.0,33.7,0,34.0,33.7,0.0
12,Shupiyan,Jammu & Kashmir,13,1,31.3,30.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),31.3,30.8,0,31.3,30.8,0.0
13,Anantnag,Jammu & Kashmir,14,1,33.1,29.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),33.1,29.8,0,33.1,29.8,0.0
14,Kulgam,Jammu & Kashmir,15,1,31.4,30,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),31.4,30,0,31.4,30.0,0.0
15,Doda,Jammu & Kashmir,16,1,18.7,17,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),18.7,17,0,18.7,17.0,0.0
16,Ramban,Jammu & Kashmir,17,1,17.8,16.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),17.8,16.6,0,17.8,16.6,0.0
17,Kishtwar,Jammu & Kashmir,18,1,14.5,12.8,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),14.5,12.8,0,14.5,12.8,0.0
18,Udhampur,Jammu & Kashmir,19,1,20.3,16.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),20.3,16.4,0,20.3,16.4,0.0
19,Reasi,Jammu & Kashmir,20,1,16.5,15.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),16.5,15.6,0,16.5,15.6,0.0
20,Jammu,Jammu & Kashmir,21,1,36.9,29.6,45,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),36.9,29.6,45,36.9,29.6,45.0
21,Samba,Jammu & Kashmir,22,1,35.3,34.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),35.3,34.6,0,35.3,34.6,0.0
22,Chamba,Himachal Pradesh,23,2,20.8,18.6,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),20.8,18.6,0,20.8,18.6,0.0
23,Kangra,Himachal Pradesh,24,2,28.2,27.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),28.2,27.7,0,28.2,27.7,0.0
24,Lahul and Spiti,Himachal Pradesh,25,2,23.4,23.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),23.4,23.4,0,23.4,23.4,0.0
25,Kullu,Himachal Pradesh,26,2,26.7,25.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),26.7,25.7,0,26.7,25.7,0.0
26,Mandi,Himachal Pradesh,27,2,23.9,23.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),23.9,23.4,0,23.9,23.4,0.0
27,Hamirpur,Himachal Pradesh,28,2,30.9,30.4,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),30.9,30.4,0,30.9,30.4,0.0
28,Una,Himachal Pradesh,29,2,37.5,37.3,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),37.5,37.3,0,37.5,37.3,0.0
29,Bilaspur,Himachal Pradesh,30,2,28.4,27.7,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),28.4,27.7,0,28.4,27.7,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6370,Chandigarh,Chandigarh,55,4,41.5,NaN,NaN,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),41.5,0,0,41.5,0.0,0.0
6371,Chandigarh,Chandigarh,55,4,32.0,NaN,NaN,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),32.0,0,0,32.0,0.0,0.0
6372,Chandigarh,Chandigarh,55,4,5.6,NaN,NaN,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,5.6,0,0,5.6,0.0,0.0
6373,Chandigarh,Chandigarh,55,4,6.9,NaN,NaN,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,6.9,0,0,6.9,0.0,0.0
6374,Chandigarh,Chandigarh,55,4,7.4,NaN,NaN,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,7.4,0,0,7.4,0.0,0.0
6375,Chandigarh,Chandigarh,55,4,1.5,NaN,NaN,86,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,1.5,0,0,1.5,0.0,0.0
6376,Chandigarh,Chandigarh,55,4,0.4,NaN,NaN,87,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...,0.4,0,0,0.4,0.0,0.0
6377,Chandigarh,Chandigarh,55,4,10.6,NaN,NaN,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,10.6,0,0,10.6,0.0,0.0
6378,Chandigarh,Chandigarh,55,4,2.9,NaN,NaN,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,2.9,0,0,2.9,0.0,0.0
6379,Chandigarh,Chandigarh,55,4,0.0,NaN,NaN,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,0.0,0,0,0.0,0.0,0.0
6380,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,19.2,6.9,34.2,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),19.2,6.9,34.2,19.2,6.9,34.2
6381,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,22.9,11.5,33.8,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),22.9,11.5,33.8,22.9,11.5,33.8
6382,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,4.7,4,5.7,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,4.7,4,5.7,4.7,4.0,5.7
6383,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,8.7,11.1,6.5,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,8.7,11.1,6.5,8.7,11.1,6.5
6384,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,5.6,5,6.4,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,5.6,5,6.4,5.6,5.0,6.4
6385,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,1.2,0.2,2.5,86,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,1.2,0.2,2.5,1.2,0.2,2.5
6386,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,0.6,0.2,1.1,87,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...,0.6,0.2,1.1,0.6,0.2,1.1
6387,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,9.8,4.5,14.7,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,9.8,4.5,14.7,9.8,4.5,14.7
6388,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,1.7,1.1,2.3,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,1.7,1.1,2.3,1.7,1.1,2.3
6389,Dadra and Nagar Haveli,Dadra and Nagar Haveli,496,26,0.6,1.2,0,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,0.6,1.2,0,0.6,1.2,0.0
6390,Lakshadweep,Lakshadweep,587,31,41.4,28.2,42.4,74,Women who are overweight or obese (BMI >= 25.0...,Nutritional Status of Adults (age 15-49 years),41.4,28.2,42.4,41.4,28.2,42.4
6391,Lakshadweep,Lakshadweep,587,31,24.6,-22.2,24.7,75,Men who are overweight or obese (BMI >= 25.0 k...,Nutritional Status of Adults (age 15-49 years),24.6,-22.2,24.7,24.6,22.2,24.7
6392,Lakshadweep,Lakshadweep,587,31,12.0,9.2,12.2,81,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,12.0,9.2,12.2,12.0,9.2,12.2
6393,Lakshadweep,Lakshadweep,587,31,13.3,-15.5,13.3,83,Blood sugar level - high (>140 mg/dl) (%),Blood Sugar Level among Adults (age 15-49 year...,13.3,-15.5,13.3,13.3,15.5,13.3
6394,Lakshadweep,Lakshadweep,587,31,7.4,14.6,6.9,85,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - ...,7.4,14.6,6.9,7.4,14.6,6.9
6395,Lakshadweep,Lakshadweep,587,31,2.7,0.4,2.9,86,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - ...,2.7,0.4,2.9,2.7,0.4,2.9
6396,Lakshadweep,Lakshadweep,587,31,0.8,0.3,0.9,87,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - ...,0.8,0.3,0.9,0.8,0.3,0.9
6397,Lakshadweep,Lakshadweep,587,31,9.1,-11.1,9.1,88,Slightly above normal (Systolic 140-159 mm of ...,Hypertension among Adults (age 15-49 years) - Men,9.1,-11.1,9.1,9.1,11.1,9.1
6398,Lakshadweep,Lakshadweep,587,31,0.0,0,0,89,Moderately high (Systolic 160-179 mm of Hg and...,Hypertension among Adults (age 15-49 years) - Men,0.0,0,0,0.0,0.0,0.0
6399,Lakshadweep,Lakshadweep,587,31,0.8,0,0.8,90,Very high (Systolic >=180 mm of Hg and/or Dias...,Hypertension among Adults (age 15-49 years) - Men,0.8,0,0.8,0.8,0.0,0.8

In [2]:
#just getting a look at the categories and the indicators again

culled_cleaned.groupby(['indicator_category','indicator_name',"indicator_number"]).count()

                                                                                                                        district  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                     640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                     640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                     640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                     640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                     640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                     640

                                                                                                                        state  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  640

                                                                                                                        district_census_code  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                                 640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                                 640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                                 640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                                 640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                                 640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                                 640

                                                                                                                        state_census_code  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                              640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                              640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                              640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                              640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                              640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                              640

                                                                                                                        total  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  640

                                                                                                                        rural  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  609
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  609
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  609
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  609
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  609
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  609

                                                                                                                        urban  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                  188
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                  188
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                  188
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                  188
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                  188
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                  188

                                                                                                                        total_filled  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                         640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                         640

                                                                                                                        rural_filled  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                         640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                         640

                                                                                                                        urban_filled  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                         640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                         640

                                                                                                                        total_corrected  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                            640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                            640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                            640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                            640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                            640

                                                                                                                        rural_corrected  \
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                            640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                            640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... 85                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 87                            640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... 75                            640
                                                   Women who are overweight or obese (BMI >= 25.0 ... 74                            640

                                                                                                                        urban_corrected
indicator_category                                 indicator_name                                     indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          81                            640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... 89                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... 88                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... 90                            640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... 86                            640

In [ ]:
'''
#having had a look at the indicators again, I've decided to combine
the indicators under the two categories
Hypertension among Adults (age 15-49 years) - Men ie. the indicators 88,89,90
Hypertension among Adults (age 15-49 years) - Women ie. the indicators 85,86,87

when we sum up the percentages for the three hypertension indicators
1) Slightly above normal (Systolic 140-159 mm of Hg and/or Diastolic 90-99 mm of Hg) (%)
2) Moderately high (Systolic 160-179 mm of Hg and/or Diastolic 100-109 mm of Hg) (%)
3) Very high (Systolic >=180 mm of Hg and/or Diastolic >=110 mm of Hg) (%)

we get the total percentage of men/women in a district that have BP
above normal (>=Systolic 140 mm of Hg and/or Diastolic >=90 mm of Hg) (%)

after that we'll have one indicator each for blood sugar, obesity and blood pressure
and given that it's for men and women, there'll be six indicators in total
'''

In [3]:
#am changing the datatype of the these columns so that we can use the string search operation on them later

culled_cleaned['total_filled'] = culled_cleaned['total_filled'].astype(str)
culled_cleaned['total_filled'] = culled_cleaned['total_filled'].astype(str)
culled_cleaned['total_filled'] = culled_cleaned['total_filled'].astype(str)

In [4]:
#since after all our operations, we're just going to have a total of six indicators, am going to create a new column
#in the dataframe called 'indicator_code', and not have to look up the indicator number every time to get data 
#for any indicator i'm interested in
#so I've settled on BMIM and BMIW , BMI indicator for Men & Women respectively
#BPM and BPW , BP indicator for men and women respectively
#SUGM and SUGW , blood sugar level indicator for men and women respectively

#note below that you can't use .isin([88,89,90]) like you would in pandas, these operations are kind of outside pandas

def indicator_code(row):
    if row['indicator_number'] == 83:
        return 'SUGM'
    elif row['indicator_number'] == 81:
        return 'SUGW'
    elif row['indicator_number'] in [88,89,90]:
        return 'BPM'  
    elif row['indicator_number'] in [85,86,87]:
        return 'BPW'  
    elif row['indicator_number'] == 75:
        return 'BMIM'  
    elif row['indicator_number'] == 74:
        return 'BMIW'  

culled_cleaned['indicator_code'] = culled_cleaned.apply (lambda row: indicator_code(row),axis=1)

In [5]:
#just checking if i've done things right

culled_cleaned.groupby(['indicator_category','indicator_name','indicator_code',"indicator_number"]).count()

                                                                                                                                       district  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                     640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                     640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                     640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                     640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                     640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                     640

                                                                                                                                       state  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  640

                                                                                                                                       district_census_code  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                                 640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                                 640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                                 640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                                 640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                                 640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                                 640

                                                                                                                                       state_census_code  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                              640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                              640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                              640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                              640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                              640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                              640

                                                                                                                                       total  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  640

                                                                                                                                       rural  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  609
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  609
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  609
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  609
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  609
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  609

                                                                                                                                       urban  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  188
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  188
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  188
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  188
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  188
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  188

                                                                                                                                       total_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                         640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                         640

                                                                                                                                       rural_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                         640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                         640

                                                                                                                                       urban_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                         640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                         640

                                                                                                                                       total_corrected  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                            640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                            640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                            640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                            640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                            640

                                                                                                                                       rural_corrected  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                            640
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                            640

In [6]:
#getting all the column names we have now
culled_cleaned.columns.tolist()

['district',
 'state',
 'district_census_code',
 'state_census_code',
 'total',
 'rural',
 'urban',
 'indicator_number',
 'indicator_name',
 'indicator_category',
 'total_filled',
 'rural_filled',
 'urban_filled',
 'total_corrected',
 'rural_corrected',
 'urban_corrected',
 'indicator_code']

In [7]:
#now what I'll do is create a separate dataframe 'culled_SUG_BMI' which has the data for the BMI and blood sugar 
#indicators. That data can be taken as is, so I'm separating them from the BP or blood pressure indicators

culled_SUG_BMI = culled_cleaned[culled_cleaned['indicator_code'].isin(['BMIM','BMIW','SUGM','SUGW'])]

culled_SUG_BMI.groupby(['indicator_category','indicator_name','indicator_code',"indicator_number"]).count()

                                                                                                                                       district  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                     640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                     640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                     640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                     640

                                                                                                                                       state  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  640

                                                                                                                                       district_census_code  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                                 640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                                 640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                                 640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                                 640

                                                                                                                                       state_census_code  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                              640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                              640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                              640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                              640

                                                                                                                                       total  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  640

                                                                                                                                       rural  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  609
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  609
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  609
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  609

                                                                                                                                       urban  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                  188
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                  188
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                  188
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                  188

                                                                                                                                       total_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                         640

                                                                                                                                       rural_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                         640

                                                                                                                                       urban_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                         640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                         640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                         640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                         640

                                                                                                                                       total_corrected  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                            640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                            640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                            640

                                                                                                                                       rural_corrected  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                            640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                            640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                            640

                                                                                                                                       urban_corrected
indicator_category                                 indicator_name                                     indicator_code indicator_number
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGM           83                            640
Blood Sugar Level among Adults (age 15-49 years... Blood sugar level - high (>140 mg/dl) (%)          SUGW           81                            640
Nutritional Status of Adults (age 15-49 years)     Men who are overweight or obese (BMI >= 25.0 kg... BMIM           75                            640
                                                   Women who are overweight or obese (BMI >= 25.0 ... BMIW           74                            640

In [8]:
#am going to create a new copy of the culled_SUG_BMI dataframe that drops several columns from it

culled_SUG_BMI_v2 = culled_SUG_BMI.drop(['total','rural', 'urban', 'indicator_number', 'total_filled',\
                        'rural_filled', 'urban_filled', 'indicator_name', 'indicator_category'], axis=1)

culled_SUG_BMI_v2.head()

,district,state,district_census_code,state_census_code,total_corrected,rural_corrected,urban_corrected,indicator_code
0,Kupwara,Jammu & Kashmir,1,1,20.5,16.1,0.0,BMIW
1,Badgam,Jammu & Kashmir,2,1,31.4,29.1,0.0,BMIW
2,Leh(Ladakh),Jammu & Kashmir,3,1,19.2,19.2,19.2,BMIW
3,Kargil,Jammu & Kashmir,4,1,13.6,11.2,0.0,BMIW
4,Punch,Jammu & Kashmir,5,1,21.1,19.9,0.0,BMIW

In [9]:
#now to go about combining the hypertension or BP indicators
#first am going to create a dataframe with just the data on BP

culled_BP = culled_cleaned[culled_cleaned['indicator_code'].isin(['BPM','BPW'])]

culled_BP.groupby(['indicator_category','indicator_name','indicator_code',"indicator_number"]).count()

                                                                                                                                       district  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                     640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                     640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                     640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                     640

                                                                                                                                       state  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  640

                                                                                                                                       district_census_code  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                                 640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                                 640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                                 640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                                 640

                                                                                                                                       state_census_code  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                              640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                              640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                              640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                              640

                                                                                                                                       total  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  640

                                                                                                                                       rural  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  609
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  609
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  609
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  609

                                                                                                                                       urban  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                  188
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                  188
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                  188
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                  188

                                                                                                                                       total_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                         640

                                                                                                                                       rural_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                         640

                                                                                                                                       urban_filled  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                         640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                         640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                         640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                         640

                                                                                                                                       total_corrected  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                            640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                            640

                                                                                                                                       rural_corrected  \
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                            640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                            640

                                                                                                                                       urban_corrected
indicator_category                                 indicator_name                                     indicator_code indicator_number
Hypertension among Adults (age 15-49 years) - Men  Moderately high (Systolic 160-179 mm of Hg and/... BPM            89                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPM            88                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPM            90                            640
Hypertension among Adults (age 15-49 years) - W... Moderately high (Systolic 160-179 mm of Hg and/... BPW            86                            640
                                                   Slightly above normal (Systolic 140-159 mm of H... BPW            85                            640
                                                   Very high (Systolic >=180 mm of Hg and/or Diast... BPW            87                            640

In [ ]:
'''
what I'm going to do is a little convoluted, but I couldn't find a better way of doing it, so bear with me

This is about avoiding the creation of false data while combining the blood pressure indicators

So the issue is that there are several districts for which there is no data on blood pressure (BP) in 
either the urban, rural or total columns (specified by Nan) or where there is insufficient data marked by '*'.

Now in the column in which we're summing up the indicators, the cells marked with '*' and Nans have been filled with 0s.

So if I just summed all three indicators, it would give a false impression in some districts 
of how many people have BP above normal (>=Systolic 140 mm of Hg and/or Diastolic >=90 mm of Hg) (%)

The summed figure would be less than what it really should be, all because some cells have been filled with 0.

So it's better to exclude those districts which have '*' or Nan in their columns.

The other thing is that some districts have '*' or Nan in the rural column or while 
different districts have it in the urban column. (None have it in the total column)

Also sometimes, it's there in men's category but not in the women's category

So what I'm going to do here is do six separate groupbys -- rural men, urban men, total men, 
        rural women, urban women, total women

And in each of the groupbys, different districts are going to be excluded if they have '*' or Nan

And once, we've combined the three BP indicators into one in each of the six groupbys, they will then
be converted into dataframes 

The men's dataframes will be merged into one. The women's dataframes will be merged separately

And then I'm going to append these two merged dataframes to the bottom of culled_SUG_BMI_v2

After that, we'll get one singlge dataframe with all 6 indicators, upon which I'll do further data analysis

'''

In [10]:
culled_BP.columns.tolist()

['district',
 'state',
 'district_census_code',
 'state_census_code',
 'total',
 'rural',
 'urban',
 'indicator_number',
 'indicator_name',
 'indicator_category',
 'total_filled',
 'rural_filled',
 'urban_filled',
 'total_corrected',
 'rural_corrected',
 'urban_corrected',
 'indicator_code']

In [11]:
#this will be the groupby for rural men

#first I have to get the list of districts where there is '*' or Nan in the rural columns

#these are the districts that will have to be excluded when i'm doing a sum of the BPM indicators for rural men

dist_drop_rural_men =\
culled_BP[((culled_BP['rural_filled'].str.contains('\*'))|\
         (culled_BP['rural'].isnull() == True))&\
         (culled_BP['indicator_code'] == 'BPM')]['district_census_code'].unique().tolist()

dist_drop_rural_men

[10,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 243,
 283,
 322,
 342,
 439,
 444,
 474,
 492,
 495,
 517,
 518,
 519,
 536,
 537,
 572,
 603,
 629,
 632,
 634,
 636,
 55]

In [12]:
# note the negation operator tilde ~ before culled_BP in the first line below

culled_BP_men_rural = culled_BP[(~culled_BP['district_census_code'].isin(dist_drop_rural_men))&\
                                (culled_BP['indicator_code'] == 'BPM')]\
                         .groupby(['state','state_census_code','district','district_census_code','indicator_code'])\
                            ["rural_corrected"].sum()
culled_BP_men_rural

state                      state_census_code  district                     district_census_code  indicator_code
Andaman & Nicobar Islands  35                 Nicobar                      638                   BPM               43.0
                                              North & Middle Andaman       639                   BPM               20.3
                                              South Andaman                640                   BPM               37.7
Andhra Pradesh             28                 Anantapur                    553                   BPM               19.3
                                              Chittoor                     554                   BPM               11.6
                                              East Godavari                545                   BPM               24.0
                                              Guntur                       548                   BPM               10.4
                                              Krishna                      547                   BPM               12.1
                                              Kurnool                      552                   BPM               16.8
                                              Prakasam                     549                   BPM               15.5
                                              Sri Potti Sriramulu Nellore  550                   BPM               15.2
                                              Srikakulam                   542                   BPM               13.0
                                              Visakhapatnam                544                   BPM               14.3
                                              Vizianagaram                 543                   BPM               19.4
                                              West Godavari                546                   BPM               18.7
                                              Y.S.R. Cuddapah              551                   BPM               18.1
Arunachal Pradesh          12                 Anjaw                        260                   BPM               37.6
                                              Changlang                    253                   BPM               15.5
                                              Dibang Valley                257                   BPM               26.4
                                              East Kameng                  247                   BPM               21.6
                                              East Siang                   251                   BPM               36.6
                                              Kurung Kumey                 256                   BPM               16.7
                                              Lohit                        259                   BPM               19.1
                                              Lower Dibang Valley          258                   BPM               17.5
                                              Lower Subansiri              255                   BPM               26.5
                                              Papumpare                    248                   BPM               16.6
                                              Tawang                       245                   BPM               38.5
                                              Tirap                        254                   BPM               10.8
                                              Upper Siang                  252                   BPM               17.4
                                              Upper Subansiri              249                   BPM               31.1
                                                                                                                   ...
Uttarakhand                5                  Bageshwar                    63                    BPM               16.7
                                              Chamoli                      57                    BPM               12.6
                                              Champawat                    65                    BPM               23.5
                                              Dehradun                     60                    BPM               15.5
                                              Garhwal                      61                    BPM               24.1
                                              Hardwar                      68                    BPM               12.8
                                              Nainital                     66                    BPM               15.2
                                              Pithoragarh                  62                    BPM               15.6
                                              Rudraprayag                  58                    BPM               14.5
                                              Tehri Garhwal                59                    BPM                4.2
                                              Udham Singh Nagar            67                    BPM               17.9
                                              Uttarkashi                   56                    BPM                7.0
West Bengal                19                 Bankura                      339                   BPM                7.7
                                              Barddhaman                   335                   BPM               10.6
                                              Birbhum                      334                   BPM                6.6
                                              Dakshin Dinajpur             331                   BPM                7.5
                                              Darjiling                    327                   BPM               20.1
                                              Haora                        341                   BPM               13.3
                                              Hugli                        338                   BPM               12.5
                                              Jalpaiguri                   328                   BPM               19.1
                                              Koch Bihar                   329                   BPM               16.7
                                              Maldah                       332                   BPM               13.9
                                              Murshidabad                  333                   BPM                6.9
                                              Nadia                        336                   BPM                9.8
                                              North Twenty Four Parganas   337                   BPM               11.7
                                              Paschim Medinipur            344                   BPM               11.5
                                              Purba Medinipur              345                   BPM                7.3
                                              Puruliya                     340                   BPM                9.5
                                              South Twenty Four Parganas   343                   BPM                9.5
                                              Uttar Dinajpur               330                   BPM               16.4
Name: rural_corrected, Length: 608, dtype: float64

In [13]:
#instead of writing the code 5 more times, I'll try to do it through loops

#am creating six different groupbys, converting them into dataframes and storing them as values in a dictionary

#code for converting groupby into dataframe from 
    #https://stackoverflow.com/questions/10373660/converting-a-pandas-groupby-object-to-dataframe

df_dict = dict()  #this is the dictionary of dataframes

for gender in ['BPM','BPW']:
    for area in ['urban','rural','total']:
        
        filled = area + '_filled'
        
        drop_list = culled_BP[((culled_BP[filled].str.contains('\*'))|\
                               (culled_BP[area].isnull() == True))&\
                              (culled_BP['indicator_code'] == gender)]['district_census_code'].unique().tolist()
        
        corrected = area + '_corrected'
        
        groupby = culled_BP[(~culled_BP['district_census_code'].isin(drop_list))&\
                            (culled_BP['indicator_code'] == gender)]\
        .groupby(['state','state_census_code','district','district_census_code','indicator_code'])\
        [corrected].sum()
        
        df_dict_value = groupby.reset_index()
        
        df_dict_key = area + '_' + gender
        
        print(df_dict_key)
        
        df_dict[df_dict_key] = df_dict_value

print('program done')

urban_BPM
rural_BPM
total_BPM
urban_BPW
rural_BPW
total_BPW
program done

In [14]:
df_dict.keys()

dict_keys(['urban_BPM', 'rural_BPM', 'total_BPM', 'urban_BPW', 'rural_BPW', 'total_BPW'])

In [15]:
#just checking one of the dataframes stored

df_dict['urban_BPM']

,state,state_census_code,district,district_census_code,indicator_code,urban_corrected
0,Andaman & Nicobar Islands,35,South Andaman,640,BPM,26.0
1,Andhra Pradesh,28,Guntur,548,BPM,13.2
2,Andhra Pradesh,28,Krishna,547,BPM,7.6
3,Andhra Pradesh,28,Visakhapatnam,544,BPM,12.2
4,Andhra Pradesh,28,Y.S.R. Cuddapah,551,BPM,26.9
5,Arunachal Pradesh,12,Papumpare,248,BPM,25.1
6,Assam,18,Kamrup Metropolitan,322,BPM,12.0
7,Bihar,10,Patna,230,BPM,10.6
8,Chhattisgarh,22,Durg,409,BPM,24.8
9,Chhattisgarh,22,Korba,404,BPM,19.0
10,Chhattisgarh,22,Korea,400,BPM,15.0
11,Chhattisgarh,22,Raipur,410,BPM,15.7
12,Dadra and Nagar Haveli,26,Dadra and Nagar Haveli,496,BPM,17.0
13,Daman & Diu,25,Daman,495,BPM,7.3
14,Daman & Diu,25,Diu,494,BPM,10.7
15,Goa,30,North Goa,585,BPM,11.7
16,Goa,30,South Goa,586,BPM,10.4
17,Gujarat,24,Ahmadabad,474,BPM,19.1
18,Gujarat,24,Anand,482,BPM,28.9
19,Gujarat,24,Bharuch,488,BPM,19.2
20,Gujarat,24,Bhavnagar,481,BPM,13.8
21,Gujarat,24,Gandhinagar,473,BPM,19.8
22,Gujarat,24,Jamnagar,477,BPM,3.2
23,Gujarat,24,Junagadh,479,BPM,11.6
24,Gujarat,24,Kachchh,468,BPM,8.9
25,Gujarat,24,Navsari,490,BPM,19.2
26,Gujarat,24,Porbandar,478,BPM,6.9
27,Gujarat,24,Rajkot,476,BPM,10.3
28,Gujarat,24,Surat,492,BPM,9.8
29,Gujarat,24,Vadodara,486,BPM,16.8
...,...,...,...,...,...,...
157,Tamil Nadu,33,Tirunelveli,628,BPM,30.4
158,Tamil Nadu,33,Tiruppur,633,BPM,9.8
159,Tamil Nadu,33,Vellore,605,BPM,14.0
160,Tamil Nadu,33,Virudhunagar,625,BPM,18.3
161,Telangana,28,Hyderabad,536,BPM,24.1
162,Telangana,28,Rangareddy,537,BPM,15.7
163,Tripura,16,West Tripura,289,BPM,11.3
164,Uttar Pradesh,9,Agra,146,BPM,11.7
165,Uttar Pradesh,9,Aligarh,143,BPM,12.7
166,Uttar Pradesh,9,Bareilly,150,BPM,10.5
167,Uttar Pradesh,9,Firozabad,147,BPM,8.7
168,Uttar Pradesh,9,Gautam Buddha Nagar,141,BPM,13.3
169,Uttar Pradesh,9,Ghaziabad,140,BPM,14.3
170,Uttar Pradesh,9,Jhansi,166,BPM,10.6
171,Uttar Pradesh,9,Kanpur Nagar,164,BPM,10.0
172,Uttar Pradesh,9,Lucknow,157,BPM,7.0
173,Uttar Pradesh,9,Meerut,138,BPM,12.4
174,Uttar Pradesh,9,Moradabad,135,BPM,14.4
175,Uttar Pradesh,9,Saharanpur,132,BPM,14.1
176,Uttar Pradesh,9,Varanasi,197,BPM,7.4
177,Uttarakhand,5,Dehradun,60,BPM,18.7
178,Uttarakhand,5,Hardwar,68,BPM,22.2
179,Uttarakhand,5,Nainital,66,BPM,21.6
180,Uttarakhand,5,Udham Singh Nagar,67,BPM,24.1
181,West Bengal,19,Barddhaman,335,BPM,17.1
182,West Bengal,19,Darjiling,327,BPM,31.7
183,West Bengal,19,Haora,341,BPM,5.1
184,West Bengal,19,Hugli,338,BPM,10.8
185,West Bengal,19,Kolkata,342,BPM,23.3
186,West Bengal,19,North Twenty Four Parganas,337,BPM,16.6

In [16]:
#getting list of column names, this will help us in merging the dataframes in the next code block

col_list = df_dict['urban_BPM'].columns.tolist()
col_list

['state',
 'state_census_code',
 'district',
 'district_census_code',
 'indicator_code',
 'urban_corrected']

In [17]:
#will now merge df_dict['urban_BPM'], df_dict['rural_BPM'] and df_dict['total_BPM'], the dataframes relating to men

#will do it through an outer join. What this means is that if there are any districts that have values in urban_BPM
    #but not in rural_BPM, it will show up as a Nan under the rural_corrected column
    
#code for chaining merges of multiple dataframes from 
    #https://stackoverflow.com/questions/23668427/pandas-joining-multiple-dataframes-on-columns


merged_BPM = df_dict['total_BPM'].merge(df_dict['rural_BPM'], on=col_list[:-1], how='outer')\
                                 .merge(df_dict['urban_BPM'], on=col_list[:-1], how='outer')

merged_BPM.head()

,state,state_census_code,district,district_census_code,indicator_code,total_corrected,rural_corrected,urban_corrected
0,Andaman & Nicobar Islands,35,Nicobar,638,BPM,43.0,43.0,NaN
1,Andaman & Nicobar Islands,35,North & Middle Andaman,639,BPM,18.6,20.3,NaN
2,Andaman & Nicobar Islands,35,South Andaman,640,BPM,30.6,37.7,26.0
3,Andhra Pradesh,28,Anantapur,553,BPM,22.7,19.3,NaN
4,Andhra Pradesh,28,Chittoor,554,BPM,14.4,11.6,NaN

In [18]:
merged_BPM.shape

(640, 8)

In [19]:
#now to merge the dataframes relating to women

merged_BPW = df_dict['total_BPW'].merge(df_dict['rural_BPW'], on=col_list[:-1], how='outer')\
                                 .merge(df_dict['urban_BPW'], on=col_list[:-1], how='outer')

merged_BPW.head()

,state,state_census_code,district,district_census_code,indicator_code,total_corrected,rural_corrected,urban_corrected
0,Andaman & Nicobar Islands,35,Nicobar,638,BPW,21.7,21.7,NaN
1,Andaman & Nicobar Islands,35,North & Middle Andaman,639,BPW,7.2,7.1,NaN
2,Andaman & Nicobar Islands,35,South Andaman,640,BPW,8.6,8.1,8.8
3,Andhra Pradesh,28,Anantapur,553,BPW,11.9,10.8,NaN
4,Andhra Pradesh,28,Chittoor,554,BPW,7.8,6.6,NaN

In [20]:
merged_BPW.shape

(640, 8)

In [21]:
#now we combine the two frames into one through concat, we can do that since the column order is the same

merged_BP_MW = pd.concat([merged_BPM,merged_BPW])
merged_BP_MW.shape

(1280, 8)

In [22]:
#now to combine this frame with culled_SUG_BMI_v2 that was created earlier
#we have to ensure the order of columns is the same in both

culled_SUG_BMI_v2.head()

,district,state,district_census_code,state_census_code,total_corrected,rural_corrected,urban_corrected,indicator_code
0,Kupwara,Jammu & Kashmir,1,1,20.5,16.1,0.0,BMIW
1,Badgam,Jammu & Kashmir,2,1,31.4,29.1,0.0,BMIW
2,Leh(Ladakh),Jammu & Kashmir,3,1,19.2,19.2,19.2,BMIW
3,Kargil,Jammu & Kashmir,4,1,13.6,11.2,0.0,BMIW
4,Punch,Jammu & Kashmir,5,1,21.1,19.9,0.0,BMIW

In [23]:

#getting the list of columns and their order from culled_SUG_BMI_v2

col_order = culled_SUG_BMI_v2.columns.tolist()
col_order

['district',
 'state',
 'district_census_code',
 'state_census_code',
 'total_corrected',
 'rural_corrected',
 'urban_corrected',
 'indicator_code']

In [24]:
#now we use the list above to rearrange merged_BP_MW and create a new dataframe

merged_BP_MW_v2 = merged_BP_MW[col_order]

merged_BP_MW_v2.head()

,district,state,district_census_code,state_census_code,total_corrected,rural_corrected,urban_corrected,indicator_code
0,Nicobar,Andaman & Nicobar Islands,638,35,43.0,43.0,NaN,BPM
1,North & Middle Andaman,Andaman & Nicobar Islands,639,35,18.6,20.3,NaN,BPM
2,South Andaman,Andaman & Nicobar Islands,640,35,30.6,37.7,26.0,BPM
3,Anantapur,Andhra Pradesh,553,28,22.7,19.3,NaN,BPM
4,Chittoor,Andhra Pradesh,554,28,14.4,11.6,NaN,BPM

In [25]:
#now there are some Nan values in the dataframe, let's replace them with 0

merged_BP_MW_v3 = merged_BP_MW_v2.fillna(0)

merged_BP_MW_v3.head()

,district,state,district_census_code,state_census_code,total_corrected,rural_corrected,urban_corrected,indicator_code
0,Nicobar,Andaman & Nicobar Islands,638,35,43.0,43.0,0.0,BPM
1,North & Middle Andaman,Andaman & Nicobar Islands,639,35,18.6,20.3,0.0,BPM
2,South Andaman,Andaman & Nicobar Islands,640,35,30.6,37.7,26.0,BPM
3,Anantapur,Andhra Pradesh,553,28,22.7,19.3,0.0,BPM
4,Chittoor,Andhra Pradesh,554,28,14.4,11.6,0.0,BPM

In [26]:
#now to bring everything together

merged_all_six = pd.concat([culled_SUG_BMI_v2,merged_BP_MW_v3])
merged_all_six.shape

(3840, 8)

In [27]:
#just changing the names of a few columns

merged_all_six_v2 = merged_all_six.rename(columns={'total_corrected': 'total',\
                                                   'rural_corrected': 'rural',\
                                                   'urban_corrected': 'urban'})

merged_all_six_v2.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_code
0,Kupwara,Jammu & Kashmir,1,1,20.5,16.1,0.0,BMIW
1,Badgam,Jammu & Kashmir,2,1,31.4,29.1,0.0,BMIW
2,Leh(Ladakh),Jammu & Kashmir,3,1,19.2,19.2,19.2,BMIW
3,Kargil,Jammu & Kashmir,4,1,13.6,11.2,0.0,BMIW
4,Punch,Jammu & Kashmir,5,1,21.1,19.9,0.0,BMIW

In [41]:
#now to programatically check the data and see if I've done my operations right
#am just restricting my check to the indicators relating to blood pressure

#what I'm doing below is getting a list of districts where 
#there was no data or null values or insufficient data on blood pressure in the original dataframe
#in the rural or urban column for either men or women

#and if the value for that district isn't 0 in the corresponding cell in the merged_all_six_v2 dataframe, call it out

for gender in ['BPM','BPW']:
    for area in ['rural','urban']:
        
        drop_list_null = culled_cleaned[(culled_cleaned[area].isnull() == True)&\
                                        (culled_cleaned['indicator_code'] == gender)]\
        ['district_census_code'].unique().tolist()
        
        for dcc in drop_list_null:
            if merged_all_six_v2[(merged_all_six_v2['district_census_code'] == dcc)&\
                                 (merged_all_six_v2['indicator_code'] == gender)][area].item() != 0:
                
                print ('Issue with district code {} for indicator {} in {} column from null.').format(dcc,gender,area)
            

        filled = area + '_filled'
        
        drop_list_asterisk = culled_cleaned[(culled_cleaned[filled].str.contains('\*'))&\
                                             (culled_cleaned['indicator_code'] == gender)]\
        ['district_census_code'].unique().tolist()
        
        for dcc in drop_list_asterisk:
            if merged_all_six_v2[(merged_all_six_v2['district_census_code'] == dcc)&\
                                 (merged_all_six_v2['indicator_code'] == gender)][area].item() != 0:
                
                print ('Issue with district code {} for indicator {} in {} column from asterisk.').format(dcc,gender,area)
                
print ('program done')

program done

In [51]:
#ok so it seems we're fine on that front
#now what we'll do is change the district census code to a three digit code by adding leading 0s to it
#that will help us in visualising the data on a map

merged_all_six_v2.dtypes

district                 object
state                    object
district_census_code      int64
state_census_code         int64
total                   float64
rural                   float64
urban                   float64
indicator_code           object
dtype: object

In [52]:
#changing the type of the census code columns

merged_all_six_v2['district_census_code'] = merged_all_six_v2['district_census_code'].astype(str)
merged_all_six_v2['state_census_code'] = merged_all_six_v2['state_census_code'].astype(str)

In [45]:


drop_list = culled_BP[((culled_BP['rural_filled'].str.contains('\*'))|\
                       (culled_BP['rural'].isnull() == True))]['district_census_code'].unique().tolist()
drop_list

[10,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 283,
 322,
 342,
 439,
 444,
 474,
 492,
 495,
 517,
 518,
 519,
 536,
 537,
 572,
 603,
 629,
 632,
 634,
 636,
 243,
 55]

In [53]:
merged_all_six_v2.dtypes

district                 object
state                    object
district_census_code     object
state_census_code        object
total                   float64
rural                   float64
urban                   float64
indicator_code           object
dtype: object

In [54]:
#putting leading 0s in the two columns 
#code from https://stackoverflow.com/questions/23836277/add-leading-zeros-to-strings-in-pandas-dataframe

merged_all_six_v2['district_census_code'] = merged_all_six_v2['district_census_code'].str.zfill(3)
merged_all_six_v2['state_census_code'] = merged_all_six_v2['state_census_code'].str.zfill(3)

In [60]:
#oops the state_census_code is actually a two-digit code, let me strip one zero out

merged_all_six_v2['state_census_code'] = merged_all_six_v2['state_census_code'].str[1:]

In [61]:
merged_all_six_v2.head()

,district,state,district_census_code,state_census_code,total,rural,urban,indicator_code
0,Kupwara,Jammu & Kashmir,001,01,20.5,16.1,0.0,BMIW
1,Badgam,Jammu & Kashmir,002,01,31.4,29.1,0.0,BMIW
2,Leh(Ladakh),Jammu & Kashmir,003,01,19.2,19.2,19.2,BMIW
3,Kargil,Jammu & Kashmir,004,01,13.6,11.2,0.0,BMIW
4,Punch,Jammu & Kashmir,005,01,21.1,19.9,0.0,BMIW

In [ ]:
#now what i'll do is reshape the table so that it's more crosstab. Instead of just three columns with data
#total, rural and urban, once we're done there'll be 18 columns with data. So there'll be BMIM_total, BMIM_rural,
#BMIM_urban, BMIW_total etc.

In [64]:
#will use the pandas pivot_table function to get this done
#code below from http://pbpython.com/pandas-pivot-table-explained.html

pivot_trial = pd.pivot_table(merged_all_six_v2,\
                             index=['district', 'district_census_code', 'state','state_census_code'],
                             values=['total','rural','urban'],\
                             columns=['indicator_code']
                            )

pivot_trial

                                                                          rural  \
indicator_code                                                             BMIM
district         district_census_code state             state_census_code
Adilabad         532                  Telangana         28                  6.2
Agra             146                  Uttar Pradesh     09                 15.1
Ahmadabad        474                  Gujarat           24                  0.0
Ahmednagar       522                  Maharashtra       27                 15.1
Aizawl           283                  Mizoram           15                  0.0
Ajmer            119                  Rajasthan         08                 13.9
Akola            501                  Maharashtra       27                  7.7
Alappuzha        598                  Kerala            32                 26.8
Aligarh          143                  Uttar Pradesh     09                  6.4
Alirajpur        465                  Madhya Pradesh    23                  6.0
Allahabad        175                  Uttar Pradesh     09                  6.9
Almora           064                  Uttarakhand       05                 13.8
Alwar            104                  Rajasthan         08                 18.1
Ambala           070                  Haryana           06                  7.1
Ambedkar Nagar   178                  Uttar Pradesh     09                 10.7
Amravati         503                  Maharashtra       27                 17.6
Amreli           480                  Gujarat           24                 22.5
Amritsar         049                  Punjab            03                 33.0
Anand            482                  Gujarat           24                  9.6
Anantapur        553                  Andhra Pradesh    28                 20.2
Anantnag         014                  Jammu & Kashmir   01                 11.3
Anjaw            260                  Arunachal Pradesh 12                 24.7
Anugul           384                  Odisha            21                 10.7
Anuppur          461                  Madhya Pradesh    23                  3.4
Araria           209                  Bihar             10                  6.1
Ariyalur         616                  Tamil Nadu        33                 29.0
Arwal            240                  Bihar             10                  6.1
Ashoknagar       459                  Madhya Pradesh    23                  6.6
Auraiya          162                  Uttar Pradesh     09                  5.9
Aurangabad       235                  Bihar             10                 21.6
...                                                                         ...
Uttarkashi       056                  Uttarakhand       05                  7.5
Vadodara         486                  Gujarat           24                 12.9
Vaishali         220                  Bihar             10                 11.4
Valsad           491                  Gujarat           24                 17.4
Varanasi         197                  Uttar Pradesh     09                 12.2
Vellore          605                  Tamil Nadu        33                 26.1
Vidisha          443                  Madhya Pradesh    23                  4.6
Viluppuram       607                  Tamil Nadu        33                 33.4
Virudhunagar     625                  Tamil Nadu        33                 15.1
Visakhapatnam    544                  Andhra Pradesh    28                 14.8
Vizianagaram     543                  Andhra Pradesh    28                 28.0
Warangal         540                  Telangana         28                 23.9
Wardha           504                  Maharashtra       27                 13.2
Washim           502                  Maharashtra       27                 11.3
Wayanad          590                  Kerala            32                 32.9
West             096                  NCT Delhi         07                  0.0
West District    242                  Sikkim            11                 29.3
West Garo Hills  293                  Meghalaya         17                 12.9
West Godavari    546                  Andhra Pradesh    28                 39.5
West Kameng      246                  Arunachal Pradesh 12                 15.1
West Khasi Hills 296                  Meghalaya         17                  8.9
West Siang       250                  Arunachal Pradesh 12                 16.7
West Tripura     289                  Tripura           16                 18.4
Wokha            264                  Nagaland          13                 11.8
Y.S.R. Cuddapah  551                  Andhra Pradesh    28                 32.0
Yadgir           580                  Karnataka         29                  9.2
Yamunanagar      071                  Haryana           06                 19.2
Yanam            634                  Puducherry        34                  0.0
Yavatmal         510                  Maharashtra       27                 12.7
Zunheboto        263                  Nagaland          13                  7.8

                                                                                 \
indicator_code                                                             BMIW
district         district_census_code state             state_census_code
Adilabad         532                  Telangana         28                 11.6
Agra             146                  Uttar Pradesh     09                 12.2
Ahmadabad        474                  Gujarat           24                  0.0
Ahmednagar       522                  Maharashtra       27                 13.9
Aizawl           283                  Mizoram           15                  0.0
Ajmer            119                  Rajasthan         08                 11.6
Akola            501                  Maharashtra       27                 14.3
Alappuzha        598                  Kerala            32                 36.8
Aligarh          143                  Uttar Pradesh     09                 13.6
Alirajpur        465                  Madhya Pradesh    23                  5.1
Allahabad        175                  Uttar Pradesh     09                 14.4
Almora           064                  Uttarakhand       05                  7.7
Alwar            104                  Rajasthan         08                 10.9
Ambala           070                  Haryana           06                 13.3
Ambedkar Nagar   178                  Uttar Pradesh     09                 11.7
Amravati         503                  Maharashtra       27                 11.7
Amreli           480                  Gujarat           24                 25.7
Amritsar         049                  Punjab            03                 30.1
Anand            482                  Gujarat           24                 12.5
Anantapur        553                  Andhra Pradesh    28                 20.1
Anantnag         014                  Jammu & Kashmir   01                 29.8
Anjaw            260                  Arunachal Pradesh 12                 18.4
Anugul           384                  Odisha            21                 13.1
Anuppur          461                  Madhya Pradesh    23                  4.6
Araria           209                  Bihar             10                  4.6
Ariyalur         616                  Tamil Nadu        33                 20.8
Arwal            240                  Bihar             10                  7.8
Ashoknagar       459                  Madhya Pradesh    23                  8.3
Auraiya          162                  Uttar Pradesh     09                  9.4
Aurangabad       235                  Bihar             10                 10.7
...                                                                         ...
Uttarkashi       056                  Uttarakhand       05                 10.3
Vadodara         486                  Gujarat           24                 14.1
Vaishali         220                  Bihar             10                 12.6
Valsad           491                  Gujarat           24                 20.1
Varanasi         197                  Uttar Pradesh     09                 13.2
Vellore          605                  Tamil Nadu        33                 34.6
Vidisha          443                  Madhya Pradesh    23                 11.1
Viluppuram       607                  Tamil Nadu        33                 23.0
Virudhunagar     625                  Tamil Nadu        33                 22.9
Visakhapatnam    544                  Andhra Pradesh    28                 15.3
Vizianagaram     543                  Andhra Pradesh    28                 16.0
Warangal         540                  Telangana         28                 18.7
Wardha           504                  Maharashtra       27                 11.8
Washim           502                  Maharashtra       27                  8.8
Wayanad          590                  Kerala            32                 23.7
West             096                  NCT Delhi         07                  0.0
West District    242                  Sikkim            11                 22.0
West Garo Hills  293                  Meghalaya         17                 10.4
West Godavari    546                  Andhra Pradesh    28                 36.9
West Kameng      246                  Arunachal Pradesh 12                 29.2
West Khasi Hills 296                  Meghalaya         17                  7.7
West Siang       250                  Arunachal Pradesh 12                 19.9
West Tripura     289                  Tripura           16                 14.2
Wokha            264                  Nagaland          13                  8.1
Y.S.R. Cuddapah  551                  Andhra Pradesh    28                 19.6
Yadgir           580                  Karnataka         29                  9.3
Yamunanagar      071                  Haryana           06                 17.9
Yanam            634                  Puducherry        34                  0.0
Yavatmal         510                  Maharashtra       27                 10.6
Zunheboto        263                  Nagaland          13                 16.8

                                                                                 \
indicator_code                                                              BPM
district         district_census_code state             state_census_code
Adilabad         532                  Telangana         28                  9.1
Agra             146                  Uttar Pradesh     09                  7.1
Ahmadabad        474                  Gujarat           24                  0.0
Ahmednagar       522                  Maharashtra       27                 13.9
Aizawl           283                  Mizoram           15                  0.0
Ajmer            119                  Rajasthan         08                 13.3
Akola            501                  Maharashtra       27                 11.6
Alappuzha        598                  Kerala            32                 10.0
Aligarh          143                  Uttar Pradesh     09                  6.3
Alirajpur        465                  Madhya Pradesh    23                 12.7
Allahabad        175                  Uttar Pradesh     09                  7.6
Almora           064                  Uttarakhand       05                 21.9
Alwar            104                  Rajasthan         08                 13.4
Ambala           070                  Haryana           06                  8.0
Ambedkar Nagar   178                  Uttar Pradesh     09                  8.4
Amravati         503                  Maharashtra       27                 16.0
Amreli           480                  Gujarat           24                 12.4
Amritsar         049                  Punjab            03                 16.3
Anand            482                  Gujarat           24                 24.7
Anantapur        553                  Andhra Pradesh    28                 19.3
Anantnag         014                  Jammu & Kashmir   01                 10.6
Anjaw            260                  Arunachal Pradesh 12                 37.6
Anugul           384                  Odisha            21                 23.0
Anuppur          461                  Madhya Pradesh    23                 10.4
Araria           209                  Bihar             10                  6.1
Ariyalur         616                  Tamil Nadu        33                 24.4
Arwal            240                  Bihar             10                  3.9
Ashoknagar       459                  Madhya Pradesh    23                  5.5
Auraiya          162                  Uttar Pradesh     09                  6.7
Aurangabad       235                  Bihar             10                  4.2
...                                                                         ...
Uttarkashi       056                  Uttarakhand       05                  7.0
Vadodara         486                  Gujarat           24                 13.8
Vaishali         220                  Bihar             10                  9.7
Valsad           491                  Gujarat           24                  9.9
Varanasi         197                  Uttar Pradesh     09                  5.6
Vellore          605                  Tamil Nadu        33                  6.4
Vidisha          443                  Madhya Pradesh    23                  6.2
Viluppuram       607                  Tamil Nadu        33                 14.6
Virudhunagar     625                  Tamil Nadu        33                 27.6
Visakhapatnam    544                  Andhra Pradesh    28                 14.3
Vizianagaram     543                  Andhra Pradesh    28                 19.4
Warangal         540                  Telangana         28                 13.6
Wardha           504                  Maharashtra       27                  9.3
Washim           502                  Maharashtra       27                 15.8
Wayanad          590                  Kerala            32                 17.6
West             096                  NCT Delhi         07                  0.0
West District    242                  Sikkim            11                 24.1
West Garo Hills  293                  Meghalaya         17                  9.2
West Godavari    546                  Andhra Pradesh    28                 18.7
West Kameng      246                  Arunachal Pradesh 12                 31.4
West Khasi Hills 296                  Meghalaya         17                  6.2
West Siang       250                  Arunachal Pradesh 12                 34.3
West Tripura     289                  Tripura           16                 19.7
Wokha            264                  Nagaland          13                 12.7
Y.S.R. Cuddapah  551                  Andhra Pradesh    28                 18.1
Yadgir           580                  Karnataka         29                  7.7
Yamunanagar      071                  Haryana           06                 20.3
Yanam            634                  Puducherry        34                  0.0
Yavatmal         510                  Maharashtra       27                  6.2
Zunheboto        263                  Nagaland          13                 14.5

                                                                                 \
indicator_code                                                              BPW
district         district_census_code state             state_census_code
Adilabad         532                  Telangana         28                 11.1
Agra             146                  Uttar Pradesh     09                  4.2
Ahmadabad        474                  Gujarat           24                  0.0
Ahmednagar       522                  Maharashtra       27                  6.7
Aizawl           283                  Mizoram           15                  0.0
Ajmer            119                  Rajasthan         08                  5.3
Akola            501                  Maharashtra       27                  9.9
Alappuzha        598                  Kerala            32                  6.9
Aligarh          143                  Uttar Pradesh     09                  4.6
Alirajpur        465                  Madhya Pradesh    23                  9.0
Allahabad        175                  Uttar Pradesh     09                  6.4
Almora           064                  Uttarakhand       05                  9.0
Alwar            104                  Rajasthan         08                  7.7
Ambala           070                  Haryana           06                  8.1
Ambedkar Nagar   178                  Uttar Pradesh     09                  8.1
Amravati         503                  Maharashtra       27                 10.5
Amreli           480                  Gujarat           24                  8.5
Amritsar         049                  Punjab            03                 15.0
Anand            482                  Gujarat           24                 13.7
Anantapur        553                  Andhra Pradesh    28                 10.8
Anantnag         014                  Jammu & Kashmir   01                 15.5
Anjaw            260                  Arunachal Pradesh 12                 22.3
Anugul           384                  Odisha            21                 12.0
Anuppur          461                  Madhya Pradesh    23                  8.4
Araria           209                  Bihar             10                  6.9
Ariyalur         616                  Tamil Nadu        33                  7.3
Arwal            240                  Bihar             10                  5.4
Ashoknagar       459                  Madhya Pradesh    23                  5.2
Auraiya          162                  Uttar Pradesh     09                  4.1
Aurangabad       235                  Bihar             10                  7.9
...                                                                         ...
Uttarkashi       056                  Uttarakhand       05                  6.3
Vadodara         486                  Gujarat           24                 11.9
Vaishali         220                  Bihar             10                  5.2
Valsad           491                  Gujarat           24                 11.3
Varanasi         197                  Uttar Pradesh     09                  4.8
Vellore          605                  Tamil Nadu        33                  4.6
Vidisha          443                  Madhya Pradesh    23                 12.2
Viluppuram       607                  Tamil Nadu        33                  6.1
Virudhunagar     625                  Tamil Nadu        33                  7.3
Visakhapatnam    544                  Andhra Pradesh    28                  8.7
Vizianagaram     543                  Andhra Pradesh    28                  7.8
Warangal         540                  Telangana         28                  8.5
Wardha           504                  Maharashtra       27                  9.3
Washim           502                  Maharashtra       27                  7.3
Wayanad          590                  Kerala            32                  9.5
West             096                  NCT Delhi         07                  0.0
West District    242                  Sikkim            11                 13.6
West Garo Hills  293                  Meghalaya         17                 12.4
West Godavari    546                  Andhra Pradesh    28                 10.6
West Kameng      246                  Arunachal Pradesh 12                 22.8
West Khasi Hills 296                  Meghalaya         17                  7.8
West Siang       250                  Arunachal Pradesh 12                 24.8
West Tripura     289                  Tripura           16                 16.1
Wokha            264                  Nagaland          13                 13.0

In [65]:
#code for flattening pivot table from https://stackoverflow.com/questions/42708193/pandas-pivot-table-to-data-frame

flattened = pd.DataFrame(pivot_trial.to_records())
flattened

,district,district_census_code,state,state_census_code,"('rural', 'BMIM')","('rural', 'BMIW')","('rural', 'BPM')","('rural', 'BPW')","('rural', 'SUGM')","('rural', 'SUGW')",...,"('total', 'BPM')","('total', 'BPW')","('total', 'SUGM')","('total', 'SUGW')","('urban', 'BMIM')","('urban', 'BMIW')","('urban', 'BPM')","('urban', 'BPW')","('urban', 'SUGM')","('urban', 'SUGW')"
0,Adilabad,532,Telangana,28,6.2,11.6,9.1,11.1,4.9,4.5,...,12.8,10.4,4.6,6.5,0.0,0.0,0.0,0.0,0.0,0.0
1,Agra,146,Uttar Pradesh,09,15.1,12.2,7.1,4.2,5.1,2.8,...,9.4,5.5,4.9,3.2,22.6,30.4,11.7,6.9,4.6,3.6
2,Ahmadabad,474,Gujarat,24,0.0,0.0,0.0,0.0,0.0,0.0,...,15.7,10.2,5.4,6.0,29.4,34.0,19.1,10.0,5.6,6.1
3,Ahmednagar,522,Maharashtra,27,15.1,13.9,13.9,6.7,2.7,4.4,...,12.8,7.5,5.1,4.3,0.0,0.0,0.0,0.0,0.0,0.0
4,Aizawl,283,Mizoram,15,0.0,0.0,0.0,0.0,0.0,0.0,...,20.6,11.3,11.1,9.5,31.2,29.6,21.7,11.5,11.9,9.6
5,Ajmer,119,Rajasthan,08,13.9,11.6,13.3,5.3,7.4,5.4,...,14.0,6.5,7.1,5.7,24.7,25.0,15.1,8.5,6.7,6.1
6,Akola,501,Maharashtra,27,7.7,14.3,11.6,9.9,9.3,4.3,...,12.9,9.8,8.9,5.3,41.6,30.7,16.1,9.5,8.2,6.8
7,Alappuzha,598,Kerala,32,26.8,36.8,10.0,6.9,13.6,8.3,...,8.9,6.3,14.2,10.1,16.3,38.4,7.5,6.0,14.9,11.7
8,Aligarh,143,Uttar Pradesh,09,6.4,13.6,6.3,4.6,13.1,4.5,...,8.6,6.0,12.0,4.5,25.5,27.5,12.7,8.5,9.9,4.7
9,Alirajpur,465,Madhya Pradesh,23,6.0,5.1,12.7,9.0,7.4,4.2,...,11.6,9.5,7.4,4.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Allahabad,175,Uttar Pradesh,09,6.9,14.4,7.6,6.4,3.3,3.3,...,10.2,6.5,2.8,3.3,0.0,0.0,0.0,0.0,0.0,0.0
11,Almora,064,Uttarakhand,05,13.8,7.7,21.9,9.0,6.5,4.6,...,19.4,9.6,5.4,4.8,0.0,0.0,0.0,0.0,0.0,0.0
12,Alwar,104,Rajasthan,08,18.1,10.9,13.4,7.7,8.4,2.4,...,15.7,8.0,6.7,2.6,0.0,0.0,0.0,0.0,0.0,0.0
13,Ambala,070,Haryana,06,7.1,13.3,8.0,8.1,5.7,3.6,...,11.3,11.5,5.1,4.4,19.6,12.1,16.1,15.5,4.4,5.4
14,Ambedkar Nagar,178,Uttar Pradesh,09,10.7,11.7,8.4,8.1,4.9,2.8,...,8.1,8.1,4.3,2.9,0.0,0.0,0.0,0.0,0.0,0.0
15,Amravati,503,Maharashtra,27,17.6,11.7,16.0,10.5,10.2,5.5,...,15.4,10.4,7.9,5.9,26.8,29.7,14.3,10.1,4.5,6.6
16,Amreli,480,Gujarat,24,22.5,25.7,12.4,8.5,9.2,6.0,...,10.7,8.7,8.2,5.1,0.0,0.0,0.0,0.0,0.0,0.0
17,Amritsar,049,Punjab,03,33.0,30.1,16.3,15.0,7.2,6.2,...,17.8,12.4,5.6,4.9,33.1,30.6,19.2,10.3,3.9,3.8
18,Anand,482,Gujarat,24,9.6,12.5,24.7,13.7,8.7,5.2,...,25.9,14.3,8.7,5.5,38.7,35.2,28.9,15.7,8.6,6.4
19,Anantapur,553,Andhra Pradesh,28,20.2,20.1,19.3,10.8,10.6,5.6,...,22.7,11.9,8.9,6.9,0.0,0.0,0.0,0.0,0.0,0.0
20,Anantnag,014,Jammu & Kashmir,01,11.3,29.8,10.6,15.5,3.6,6.6,...,11.0,17.2,3.8,7.5,0.0,0.0,0.0,0.0,0.0,0.0
21,Anjaw,260,Arunachal Pradesh,12,24.7,18.4,37.6,22.3,9.5,4.6,...,39.6,22.1,8.8,4.5,0.0,0.0,0.0,0.0,0.0,0.0
22,Anugul,384,Odisha,21,10.7,13.1,23.0,12.0,9.7,5.3,...,20.9,11.2,9.6,5.9,0.0,0.0,0.0,0.0,0.0,0.0
23,Anuppur,461,Madhya Pradesh,23,3.4,4.6,10.4,8.4,7.2,4.8,...,11.5,8.8,9.2,5.3,0.0,0.0,0.0,0.0,0.0,0.0
24,Araria,209,Bihar,10,6.1,4.6,6.1,6.9,6.6,4.1,...,5.8,6.7,6.7,4.2,0.0,0.0,0.0,0.0,0.0,0.0
25,Ariyalur,616,Tamil Nadu,33,29.0,20.8,24.4,7.3,10.5,7.4,...,21.1,6.8,14.0,8.1,0.0,0.0,0.0,0.0,0.0,0.0
26,Arwal,240,Bihar,10,6.1,7.8,3.9,5.4,7.6,4.1,...,3.9,5.2,7.6,4.3,0.0,0.0,0.0,0.0,0.0,0.0
27,Ashoknagar,459,Madhya Pradesh,23,6.6,8.3,5.5,5.2,3.1,1.6,...,5.5,5.2,2.6,1.8,0.0,0.0,0.0,0.0,0.0,0.0
28,Auraiya,162,Uttar Pradesh,09,5.9,9.4,6.7,4.1,0.0,2.4,...,6.7,4.7,1.3,2.5,0.0,0.0,0.0,0.0,0.0,0.0
29,Aurangabad,235,Bihar,10,21.6,10.7,4.2,7.9,20.2,5.2,...,3.5,7.5,17.6,5.4,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,Uttarkashi,056,Uttarakhand,05,7.5,10.3,7.0,6.3,10.4,4.3,...,10.4,6.6,10.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0
611,Vadodara,486,Gujarat,24,12.9,14.1,13.8,11.9,6.1,5.1,...,15.4,13.8,6.5,6.5,27.3,29.3,16.8,15.7,6.8,7.8
612,Vaishali,220,Bihar,10,11.4,12.6,9.7,5.2,5.4,3.3,...,9.2,5.3,6.3,4.3,0.0,0.0,0.0,0.0,0.0,0.0
613,Valsad,491,Gujarat,24,17.4,20.1,9.9,11.3,7.6,5.6,...,8.4,9.3,7.8,6.8,31.4,32.3,5.9,6.3,7.9,8.8
614,Varanasi,197,Uttar Pradesh,09,12.2,13.2,5.6,4.8,1.6,3.8,...,6.4,5.1,3.7,4.5,16.1,23.3,7.4,5.6,5.9,5.3
615,Vellore,605,Tamil Nadu,33,26.1,34.6,6.4,4.6,11.6,9.3,...,10.6,5.7,10.3,8.5,26.1,34.0,14.0,6.7,9.2,7.8
616,Vidisha,443,Madhya Pradesh,23,4.6,11.1,6.2,12.2,9.0,7.9,...,13.3,12.4,8.6,8.1,0.0,0.0,0.0,0.0,0.0,0.0
617,Viluppuram,607,Tamil Nadu,33,33.4,23.0,14.6,6.1,13.4,5.5,...,14.6,6.7,12.1,5.7,0.0,0.0,0.0,0.0,0.0,0.0
618,Virudhunagar,625,Tamil Nadu,33,15.1,22.9,27.6,7.3,9.9,9.0,...,22.8,9.6,6.7,8.4,20.1,43.2,18.3,12.0,3.9,7.7
619,Visakhapatnam,544,Andhra Pradesh,28,14.8,15.3,14.3,8.7,12.3,4.0,...,13.1,10.2,7.4,6.6,40.2,41.6,12.2,11.6,3.5,9.0
620,Vizianagaram,543,Andhra Pradesh,28,28.0,16.0,19.4,7.8,8.7,6.1,...,18.6,8.5,12.0,7.4,0.0,0.0,0.0,0.0,0.0,0.0
621,Warangal,540,Telangana,28,23.9,18.7,13.6,8.5,7.8,4.9,...,14.8,10.0,7.4,5.1,0.0,0.0,0.0,0.0,0.0,0.0
622,Wardha,504,Maharashtra,27,13.2,11.8,9.3,9.3,1.6,4.3,...,10.7,9.8,3.9,4.2,16.1,26.8,12.8,10.7,7.3,4.1
623,Washim,502,Maharashtra,27,11.3,8.8,15.8,7.3,7.9,3.4,...,15.1,7.9,8.9,4.0,0.0,0.0,0.0,0.0,0.0,0.0
624,Wayanad,590,Kerala,32,32.9,23.7,17.6,9.5,20.4,11.5,...,17.0,9.5,20.5,11.9,0.0,0.0,0.0,0.0,0.0,0.0
625,West,096,NCT Delhi,07,0.0,0.0,0.0,0.0,0.0,0.0,...,0.6,6.3,8.3,6.5,22.5,33.6,0.6,6.3,8.3,6.5
626,West District,242,Sikkim,11,29.3,22.0,24.1,13.6,9.3,7.0,...,25.0,13.7,10.5,6.9,0.0,0.0,0.0,0.0,0.0,0.0
627,West Garo Hills,293,Meghalaya,17,12.9,10.4,9.2,12.4,7.6,3.5,...,10.1,12.0,6.8,3.7,0.0,0.0,0.0,0.0,0.0,0.0
628,West Godavari,546,Andhra Pradesh,28,39.5,36.9,18.7,10.6,6.7,6.1,...,17.0,10.2,9.9,7.6,0.0,0.0,0.0,0.0,0.0,0.0
629,West Kameng,246,Arunachal Pradesh,12,15.1,29.2,31.4,22.8,3.7,3.4,...,31.9,23.2,3.1,3.1,0.0,0.0,0.0,0.0,0.0,0.0
630,West Khasi Hills,296,Meghalaya,17,8.9,7.7,6.2,7.8,3.3,2.9,...,7.4,8.3,3.4,3.6,0.0,0.0,0.0,0.0,0.0,0.0
631,West Siang,250,Arunachal Pradesh,12,16.7,19.9,34.3,24.8,5.0,5.0,...,31.5,23.6,5.2,4.3,0.0,0.0,0.0,0.0,0.0,0.0
632,West Tripura,289,Tripura,16,18.4,14.2,19.7,16.1,11.4,7.7,...,16.1,15.4,10.2,8.6,18.8,23.9,11.3,14.2,8.8,9.8
633,Wokha,264,Nagaland,13,11.8,8.1,12.7,13.0,14.7,10.7,...,28.4,16.5,9.2,10.9,0.0,0.0,0.0,0.0,0.0,0.0
634,Y.S.R. Cuddapah,551,Andhra Pradesh,28,32.0,19.6,18.1,6.7,19.0,7.3,...,22.0,7.5,18.2,8.4,52.1,39.6,26.9,9.0,17.3,10.3
635,Yadgir,580,Karnataka,29,9.2,9.3,7.7,4.5,9.2,7.3,...,11.2,5.3,8.4,6.8,0.0,0.0,0.0,0.0,0.0,0.0
636,Yamunanagar,071,Haryana,06,19.2,17.9,20.3,10.2,7.6,4.9,...,20.2,11.5,6.1,4.9,24.7,20.8,20.0,13.6,3.4,4.7
637,Yanam,634,Puducherry,34,0.0,0.0,0.0,0.0,0.0,0.0,...,10.5,10.2,4.0,7.6,35.8,36.2,10.5,10.2,4.0,7.6
638,Yavatmal,510,Maharashtra,27,12.7,10.6,6.2,7.0,4.3,4.1,...,6.1,7.4,5.3,3.5,0.0,0.0,0.0,0.0,0.0,0.0
639,Zunheboto,263,Nagaland,13,7.8,16.8,14.5,14.3,4.5,9.6,...,20.4,16.5,6.4,9.3,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
#getting all the column names, will have to fix them

flattened.columns.tolist()

['district',
 'district_census_code',
 'state',
 'state_census_code',
 "('rural', 'BMIM')",
 "('rural', 'BMIW')",
 "('rural', 'BPM')",
 "('rural', 'BPW')",
 "('rural', 'SUGM')",
 "('rural', 'SUGW')",
 "('total', 'BMIM')",
 "('total', 'BMIW')",
 "('total', 'BPM')",
 "('total', 'BPW')",
 "('total', 'SUGM')",
 "('total', 'SUGW')",
 "('urban', 'BMIM')",
 "('urban', 'BMIW')",
 "('urban', 'BPM')",
 "('urban', 'BPW')",
 "('urban', 'SUGM')",
 "('urban', 'SUGW')"]

In [68]:
#getting rid of the first four column names

flat_col_names = flattened.columns.tolist()[4:]
flat_col_names

["('rural', 'BMIM')",
 "('rural', 'BMIW')",
 "('rural', 'BPM')",
 "('rural', 'BPW')",
 "('rural', 'SUGM')",
 "('rural', 'SUGW')",
 "('total', 'BMIM')",
 "('total', 'BMIW')",
 "('total', 'BPM')",
 "('total', 'BPW')",
 "('total', 'SUGM')",
 "('total', 'SUGW')",
 "('urban', 'BMIM')",
 "('urban', 'BMIW')",
 "('urban', 'BPM')",
 "('urban', 'BPW')",
 "('urban', 'SUGM')",
 "('urban', 'SUGW')"]

In [71]:
#am going to create a dictionary that will help us fix the column names

import re

name_dict = dict()

for col_name in flat_col_names:
    part1 = re.findall(r"'(.*?)'", col_name)[0]
    part2 = re.findall(r"'(.*?)'", col_name)[1]
    parts_joined = part1 + '_' + part2
    name_dict[col_name] = parts_joined

name_dict

{"('rural', 'BMIM')": 'rural_BMIM',
 "('rural', 'BMIW')": 'rural_BMIW',
 "('rural', 'BPM')": 'rural_BPM',
 "('rural', 'BPW')": 'rural_BPW',
 "('rural', 'SUGM')": 'rural_SUGM',
 "('rural', 'SUGW')": 'rural_SUGW',
 "('total', 'BMIM')": 'total_BMIM',
 "('total', 'BMIW')": 'total_BMIW',
 "('total', 'BPM')": 'total_BPM',
 "('total', 'BPW')": 'total_BPW',
 "('total', 'SUGM')": 'total_SUGM',
 "('total', 'SUGW')": 'total_SUGW',
 "('urban', 'BMIM')": 'urban_BMIM',
 "('urban', 'BMIW')": 'urban_BMIW',
 "('urban', 'BPM')": 'urban_BPM',
 "('urban', 'BPW')": 'urban_BPW',
 "('urban', 'SUGM')": 'urban_SUGM',
 "('urban', 'SUGW')": 'urban_SUGW'}

In [72]:
flattened_v2 = flattened.rename(columns = name_dict)

flattened_v2.head()

,district,district_census_code,state,state_census_code,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,...,total_BPM,total_BPW,total_SUGM,total_SUGW,urban_BMIM,urban_BMIW,urban_BPM,urban_BPW,urban_SUGM,urban_SUGW
0,Adilabad,532,Telangana,28,6.2,11.6,9.1,11.1,4.9,4.5,...,12.8,10.4,4.6,6.5,0.0,0.0,0.0,0.0,0.0,0.0
1,Agra,146,Uttar Pradesh,09,15.1,12.2,7.1,4.2,5.1,2.8,...,9.4,5.5,4.9,3.2,22.6,30.4,11.7,6.9,4.6,3.6
2,Ahmadabad,474,Gujarat,24,0.0,0.0,0.0,0.0,0.0,0.0,...,15.7,10.2,5.4,6.0,29.4,34.0,19.1,10.0,5.6,6.1
3,Ahmednagar,522,Maharashtra,27,15.1,13.9,13.9,6.7,2.7,4.4,...,12.8,7.5,5.1,4.3,0.0,0.0,0.0,0.0,0.0,0.0
4,Aizawl,283,Mizoram,15,0.0,0.0,0.0,0.0,0.0,0.0,...,20.6,11.3,11.1,9.5,31.2,29.6,21.7,11.5,11.9,9.6

In [73]:
flattened_v2.columns

Index(['district', 'district_census_code', 'state', 'state_census_code',
       'rural_BMIM', 'rural_BMIW', 'rural_BPM', 'rural_BPW', 'rural_SUGM',
       'rural_SUGW', 'total_BMIM', 'total_BMIW', 'total_BPM', 'total_BPW',
       'total_SUGM', 'total_SUGW', 'urban_BMIM', 'urban_BMIW', 'urban_BPM',
       'urban_BPW', 'urban_SUGM', 'urban_SUGW'],
      dtype='object')

In [74]:
#now saving this as a csv
flattened_v2.to_csv('my_data/culled_merged.csv', index=False)

In [1]:
import pandas as pd

flat_file = pd.read_csv('my_data/culled_merged.csv') #, encoding='latin-1'

flat_file.head()

,district,district_census_code,state,state_census_code,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,...,total_BPM,total_BPW,total_SUGM,total_SUGW,urban_BMIM,urban_BMIW,urban_BPM,urban_BPW,urban_SUGM,urban_SUGW
0,Adilabad,532,Telangana,28,6.2,11.6,9.1,11.1,4.9,4.5,...,12.8,10.4,4.6,6.5,0.0,0.0,0.0,0.0,0.0,0.0
1,Agra,146,Uttar Pradesh,9,15.1,12.2,7.1,4.2,5.1,2.8,...,9.4,5.5,4.9,3.2,22.6,30.4,11.7,6.9,4.6,3.6
2,Ahmadabad,474,Gujarat,24,0.0,0.0,0.0,0.0,0.0,0.0,...,15.7,10.2,5.4,6.0,29.4,34.0,19.1,10.0,5.6,6.1
3,Ahmednagar,522,Maharashtra,27,15.1,13.9,13.9,6.7,2.7,4.4,...,12.8,7.5,5.1,4.3,0.0,0.0,0.0,0.0,0.0,0.0
4,Aizawl,283,Mizoram,15,0.0,0.0,0.0,0.0,0.0,0.0,...,20.6,11.3,11.1,9.5,31.2,29.6,21.7,11.5,11.9,9.6

In [3]:
flat_file.shape

(640, 22)

In [2]:
flat_file.dtypes

district                 object
district_census_code      int64
state                    object
state_census_code         int64
rural_BMIM              float64
rural_BMIW              float64
rural_BPM               float64
rural_BPW               float64
rural_SUGM              float64
rural_SUGW              float64
total_BMIM              float64
total_BMIW              float64
total_BPM               float64
total_BPW               float64
total_SUGM              float64
total_SUGW              float64
urban_BMIM              float64
urban_BMIW              float64
urban_BPM               float64
urban_BPW               float64
urban_SUGM              float64
urban_SUGW              float64
dtype: object

In [ ]:
#I've decided to just focus on the districts where there is a prevalence of high BP, high BMI and High SUGar levels
    #among rural people

#So what I'll do is have one graphic for each of the indicators with different sets of districts visualised
    #and one final graphic showing the intersection or the districts that are common to all three, so getting
    # an idea of the districts where rural people are showing signs of poor health that are usually associated 
    # with urban living  

#Now I'll be using percentiles in the visualisation. Meaning I would find the districts with the most rural men and women
    #having high BMI, then find out the districts with the most rural men and women having high BP , 
    #then find the districts with the most rural men and women having high SUGar levels and then find the
    #intersection of the three lists

In [15]:
#Now I need to figure out what percentile to use. Do I find the worst 10%, or the worst 20% of districts etc.?
    
#used a dictionary to count values below
#code from https://stackoverflow.com/questions/1692388/python-list-of-dict-if-exists-increment-a-dict-value-if-not-append-a-new-dic

from collections import defaultdict

percentile_list = [0.4, 0.5, 0.6, 0.7, 0.75, 0.8]

for percentile in percentile_list:
    
    #code below for BMI index
    
    dist_BMI = flat_file[(flat_file['rural_BMIM'] > flat_file['rural_BMIM'][flat_file['rural_BMIM']>0].quantile(percentile))\
                         & (flat_file['rural_BMIW'] > flat_file['rural_BMIW'][flat_file['rural_BMIW']>0].quantile(percentile))]\
    ['district_census_code'].unique().tolist()
    
    #I'm excluding all the districts with null values and insufficient data above by doing '>0' and filtering out the 0s.
    
    len_dist_BMI = len(dist_BMI)
    
    state_BMI = []
    
    count_BMI = defaultdict(int)
    
    for dcc in dist_BMI:
        statex = flat_file[flat_file['district_census_code'] == dcc]['state'].item()
        
        count_BMI[statex] += 1
        
        if statex not in state_BMI:
            state_BMI.append(statex)
            
    len_state_BMI = len(state_BMI)
    

    #code below for blood pressure
    
    dist_BP = flat_file[(flat_file['rural_BPM'] > flat_file['rural_BPM'][flat_file['rural_BPM']>0].quantile(percentile))\
                        & (flat_file['rural_BPW'] > flat_file['rural_BPW'][flat_file['rural_BPW']>0].quantile(percentile))]\
    ['district_census_code'].unique().tolist()
    
    len_dist_BP = len(dist_BP)

    state_BP = []
    
    count_BP = defaultdict(int)

    for dcc in dist_BP:
        statex = flat_file[flat_file['district_census_code'] == dcc]['state'].item()
        
        count_BP[statex] += 1
        
        if statex not in state_BP:
            state_BP.append(statex)
            
    len_state_BP = len(state_BP)

    #code below for blood sugar
    
    dist_SUG = flat_file[(flat_file['rural_SUGM'] > flat_file['rural_SUGM'][flat_file['rural_SUGM']>0].quantile(percentile)) &\
                         (flat_file['rural_SUGW'] > flat_file['rural_SUGW'][flat_file['rural_SUGW']>0].quantile(percentile))]\
    ['district_census_code'].unique().tolist()
    
    len_dist_SUG = len(dist_SUG)

    state_SUG = []
    
    count_SUG = defaultdict(int)

    for dcc in dist_SUG:
        statex = flat_file[flat_file['district_census_code'] == dcc]['state'].item()
        
        count_SUG[statex] += 1
        
        if statex not in state_SUG:
            state_SUG.append(statex)
            
    len_state_SUG = len(state_SUG)
    
    dist_ALL = list(set(dist_BMI) & set(dist_BP) & set(dist_SUG))

    
    #code below for districts common between all three
    
    len_dist_ALL = len(dist_ALL)

    state_ALL = []
    
    count_ALL = defaultdict(int)

    for dcc in dist_ALL:
        statex = flat_file[flat_file['district_census_code'] == dcc]['state'].item()
        
        count_ALL[statex] += 1
        
        if statex not in state_ALL:
            state_ALL.append(statex)
            
    len_state_ALL = len(state_ALL)

    
    percentile_100 = int(percentile*100)
    
    print ('If we fix the percentile at {}:'.format(percentile))
    print()
    print ('The districts that have the most rural men and women with high BMI (>{}th percentile) are {} in number\
    spread over {} states.'.format(percentile_100, len_dist_BMI, len_state_BMI))
    print()
    print('This is the state count for rural BMI:')
    print (count_BMI)
    print('')
    print ('The districts that have the most rural men and women with high BP (>{}th percentile) are {} in number\
    spread over {} states.'.format(percentile_100, len_dist_BP, len_state_BP))
    print()
    print('This is the state count for rural BP:')
    print (count_BP)

    print()
    print ('The districts that have the most rural men and women with high SUG levels (>{}th percentile) are {} in number\
    spread over {} states.'.format(percentile_100, len_dist_SUG, len_state_SUG))
    print()
    print('This is the state count for rural SUG:')
    print (count_SUG)

    print()
    print ('The intersection of the three lists above is {} districts spread over {} states'\
           .format(len_dist_ALL, len_state_ALL))
    print()
    print('This is the state count for rural ALL:')
    print (count_ALL)
    print('This is the list of codes for districts appearing in all three {}.'.format(dist_ALL))
    print()
    print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
    print()

If we fix the percentile at 0.4:

The districts that have the most rural men and women with high BMI (>40th percentile) are 304 in number    spread over 32 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Uttar Pradesh': 21, 'Maharashtra': 18, 'Rajasthan': 8, 'Kerala': 13, 'Gujarat': 14, 'Punjab': 20, 'Andhra Pradesh': 13, 'Jammu & Kashmir': 20, 'Arunachal Pradesh': 15, 'Odisha': 11, 'Tamil Nadu': 29, 'Karnataka': 20, 'Assam': 9, 'Haryana': 18, 'Himachal Pradesh': 12, 'Manipur': 7, 'Uttarakhand': 8, 'Mizoram': 2, 'West Bengal': 7, 'Tripura': 3, 'Nagaland': 3, 'Daman & Diu': 1, 'Sikkim': 3, 'Bihar': 7, 'Madhya Pradesh': 5, 'Puducherry': 2, 'Telangana': 7, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 3, 'Goa': 2, 'Chhattisgarh': 1, 'Meghalaya': 1})

The districts that have the most rural men and women with high BP (>40th percentile) are 278 in number    spread over 31 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Maharashtra': 17, 'Madhya Pradesh': 13, 'Uttarakhand': 7, 'Rajasthan': 5, 'Gujarat': 11, 'Punjab': 20, 'Andhra Pradesh': 9, 'Arunachal Pradesh': 15, 'Odisha': 11, 'Jammu & Kashmir': 13, 'Karnataka': 19, 'Uttar Pradesh': 15, 'Assam': 22, 'Haryana': 15, 'Himachal Pradesh': 11, 'Manipur': 9, 'Mizoram': 4, 'West Bengal': 8, 'Tamil Nadu': 12, 'Nagaland': 10, 'Sikkim': 3, 'Meghalaya': 2, 'Kerala': 3, 'Jharkhand': 5, 'Bihar': 2, 'Chhattisgarh': 6, 'Telangana': 4, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Tripura': 2})

The districts that have the most rural men and women with high SUG levels (>40th percentile) are 267 in number    spread over 32 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Rajasthan': 1, 'Kerala': 12, 'Uttar Pradesh': 25, 'Uttarakhand': 6, 'Maharashtra': 7, 'Gujarat': 14, 'Punjab': 10, 'Andhra Pradesh': 9, 'Arunachal Pradesh': 5, 'Odisha': 26, 'Madhya Pradesh': 17, 'Tamil Nadu': 20, 'Bihar': 7, 'Assam': 12, 'West Bengal': 14, 'Chhattisgarh': 11, 'Manipur': 5, 'Jharkhand': 9, 'Mizoram': 6, 'Karnataka': 14, 'Tripura': 4, 'Nagaland': 9, 'Meghalaya': 2, 'Haryana': 4, 'Himachal Pradesh': 5, 'Jammu & Kashmir': 2, 'Puducherry': 1, 'Telangana': 3, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Sikkim': 2, 'Goa': 2})

The intersection of the three lists above is 104 districts spread over 27 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Maharashtra': 4, 'Jammu & Kashmir': 2, 'Himachal Pradesh': 5, 'Telangana': 2, 'Andhra Pradesh': 5, 'Punjab': 10, 'Karnataka': 8, 'Uttarakhand': 5, 'Haryana': 4, 'Goa': 2, 'Lakshadweep': 1, 'Kerala': 3, 'Tamil Nadu': 9, 'Andaman & Nicobar Islands': 1, 'Uttar Pradesh': 4, 'Sikkim': 2, 'Arunachal Pradesh': 5, 'Nagaland': 3, 'Manipur': 5, 'Mizoram': 2, 'Tripura': 2, 'Meghalaya': 1, 'Assam': 6, 'West Bengal': 3, 'Odisha': 4, 'Madhya Pradesh': 3, 'Gujarat': 3})
This is the list of codes for districts appearing in all three [528, 529, 531, 21, 22, 24, 28, 541, 29, 31, 540, 545, 33, 543, 36, 37, 546, 550, 40, 553, 41, 43, 48, 49, 562, 50, 52, 54, 567, 569, 571, 573, 62, 575, 576, 65, 577, 66, 68, 69, 67, 71, 585, 586, 587, 590, 595, 85, 86, 599, 604, 608, 609, 610, 611, 619, 623, 628, 630, 640, 186, 188, 190, 193, 241, 242, 249, 251, 252, 253, 260, 262, 265, 270, 274, 275, 277, 278, 280, 284, 286, 289, 290, 295, 303, 307, 308, 311, 313, 320, 337, 338, 341, 377, 380, 383, 384, 432, 448, 452, 473, 480, 490, 503].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.5:

The districts that have the most rural men and women with high BMI (>50th percentile) are 243 in number    spread over 30 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Maharashtra': 12, 'Kerala': 13, 'Gujarat': 13, 'Punjab': 19, 'Andhra Pradesh': 13, 'Arunachal Pradesh': 13, 'Tamil Nadu': 29, 'Uttar Pradesh': 10, 'Jammu & Kashmir': 17, 'Karnataka': 18, 'Odisha': 6, 'Haryana': 15, 'Himachal Pradesh': 12, 'Manipur': 7, 'Uttarakhand': 7, 'Mizoram': 1, 'Assam': 3, 'West Bengal': 5, 'Nagaland': 3, 'Daman & Diu': 1, 'Sikkim': 3, 'Rajasthan': 3, 'Bihar': 3, 'Puducherry': 2, 'Telangana': 7, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 3, 'Goa': 2, 'Meghalaya': 1, 'Tripura': 1})

The districts that have the most rural men and women with high BP (>50th percentile) are 219 in number    spread over 27 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Madhya Pradesh': 11, 'Uttarakhand': 6, 'Maharashtra': 12, 'Gujarat': 10, 'Punjab': 18, 'Andhra Pradesh': 6, 'Arunachal Pradesh': 15, 'Odisha': 9, 'Jammu & Kashmir': 8, 'Uttar Pradesh': 12, 'Assam': 20, 'Karnataka': 14, 'Himachal Pradesh': 10, 'Manipur': 6, 'Mizoram': 1, 'West Bengal': 7, 'Tamil Nadu': 8, 'Nagaland': 10, 'Sikkim': 3, 'Kerala': 3, 'Haryana': 12, 'Jharkhand': 4, 'Rajasthan': 3, 'Chhattisgarh': 4, 'Telangana': 4, 'Andaman & Nicobar Islands': 1, 'Tripura': 2})

The districts that have the most rural men and women with high SUG levels (>50th percentile) are 214 in number    spread over 32 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Rajasthan': 1, 'Kerala': 12, 'Maharashtra': 5, 'Gujarat': 12, 'Punjab': 10, 'Andhra Pradesh': 7, 'Odisha': 22, 'Tamil Nadu': 18, 'Bihar': 3, 'Uttar Pradesh': 19, 'Assam': 8, 'West Bengal': 12, 'Chhattisgarh': 10, 'Manipur': 5, 'Uttarakhand': 5, 'Mizoram': 5, 'Arunachal Pradesh': 4, 'Karnataka': 12, 'Jharkhand': 5, 'Tripura': 3, 'Madhya Pradesh': 10, 'Meghalaya': 1, 'Haryana': 3, 'Himachal Pradesh': 5, 'Jammu & Kashmir': 1, 'Puducherry': 1, 'Telangana': 1, 'Nagaland': 7, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Sikkim': 2, 'Goa': 2})

The intersection of the three lists above is 57 districts spread over 22 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Nagaland': 1, 'Maharashtra': 2, 'Manipur': 2, 'Jammu & Kashmir': 1, 'Himachal Pradesh': 4, 'Telangana': 1, 'Mizoram': 1, 'Tripura': 1, 'Punjab': 9, 'Andhra Pradesh': 2, 'Karnataka': 5, 'Assam': 2, 'Uttar Pradesh': 1, 'Uttarakhand': 4, 'Haryana': 3, 'Kerala': 3, 'West Bengal': 1, 'Gujarat': 2, 'Tamil Nadu': 6, 'Sikkim': 2, 'Odisha': 1, 'Arunachal Pradesh': 3})
This is the list of codes for districts appearing in all three [262, 528, 529, 275, 21, 278, 24, 28, 541, 29, 31, 284, 289, 36, 37, 550, 40, 553, 41, 43, 48, 49, 562, 50, 307, 54, 567, 569, 188, 575, 320, 65, 577, 66, 68, 69, 67, 590, 338, 595, 85, 86, 599, 480, 610, 611, 490, 619, 623, 241, 242, 628, 630, 380, 249, 251, 252].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.6:

The districts that have the most rural men and women with high BMI (>60th percentile) are 195 in number    spread over 26 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 13, 'Gujarat': 7, 'Punjab': 18, 'Andhra Pradesh': 12, 'Arunachal Pradesh': 10, 'Tamil Nadu': 28, 'Jammu & Kashmir': 12, 'Karnataka': 13, 'Haryana': 13, 'Himachal Pradesh': 12, 'Manipur': 7, 'Odisha': 5, 'West Bengal': 4, 'Uttarakhand': 3, 'Nagaland': 3, 'Daman & Diu': 1, 'Sikkim': 3, 'Rajasthan': 2, 'Uttar Pradesh': 4, 'Bihar': 2, 'Maharashtra': 9, 'Puducherry': 2, 'Telangana': 6, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 3, 'Goa': 2})

The districts that have the most rural men and women with high BP (>60th percentile) are 155 in number    spread over 26 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Maharashtra': 7, 'Punjab': 15, 'Gujarat': 4, 'Andhra Pradesh': 5, 'Arunachal Pradesh': 14, 'Odisha': 3, 'Jammu & Kashmir': 6, 'Uttar Pradesh': 9, 'Assam': 19, 'Karnataka': 11, 'Himachal Pradesh': 10, 'Manipur': 4, 'Uttarakhand': 3, 'Mizoram': 1, 'West Bengal': 4, 'Nagaland': 9, 'Sikkim': 3, 'Tamil Nadu': 4, 'Haryana': 9, 'Chhattisgarh': 4, 'Telangana': 2, 'Madhya Pradesh': 3, 'Andaman & Nicobar Islands': 1, 'Jharkhand': 2, 'Tripura': 2, 'Kerala': 1})

The districts that have the most rural men and women with high SUG levels (>60th percentile) are 153 in number    spread over 30 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 12, 'Gujarat': 5, 'Andhra Pradesh': 6, 'Tamil Nadu': 13, 'Uttar Pradesh': 16, 'Odisha': 16, 'West Bengal': 9, 'Punjab': 6, 'Chhattisgarh': 8, 'Uttarakhand': 5, 'Mizoram': 5, 'Manipur': 4, 'Arunachal Pradesh': 3, 'Karnataka': 7, 'Jharkhand': 4, 'Assam': 5, 'Meghalaya': 1, 'Haryana': 2, 'Jammu & Kashmir': 1, 'Puducherry': 1, 'Madhya Pradesh': 7, 'Lakshadweep': 1, 'Nagaland': 4, 'Andaman & Nicobar Islands': 2, 'Sikkim': 2, 'Goa': 2, 'Bihar': 1, 'Maharashtra': 2, 'Himachal Pradesh': 1, 'Tripura': 2})

The intersection of the three lists above is 20 districts spread over 12 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Uttarakhand': 1, 'Tamil Nadu': 1, 'Punjab': 6, 'Nagaland': 1, 'Andhra Pradesh': 1, 'Kerala': 1, 'Maharashtra': 1, 'Sikkim': 2, 'Jammu & Kashmir': 1, 'Haryana': 2, 'Manipur': 1, 'Arunachal Pradesh': 2})
This is the list of codes for districts appearing in all three [66, 611, 36, 262, 40, 553, 43, 590, 48, 529, 50, 241, 242, 21, 54, 85, 86, 278, 251, 252].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.7:

The districts that have the most rural men and women with high BMI (>70th percentile) are 143 in number    spread over 24 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 13, 'Gujarat': 7, 'Punjab': 16, 'Andhra Pradesh': 10, 'Tamil Nadu': 26, 'Jammu & Kashmir': 6, 'Karnataka': 8, 'Haryana': 10, 'Himachal Pradesh': 10, 'Manipur': 4, 'Odisha': 5, 'Uttarakhand': 2, 'Arunachal Pradesh': 6, 'Daman & Diu': 1, 'Sikkim': 3, 'Rajasthan': 1, 'Uttar Pradesh': 1, 'West Bengal': 2, 'Puducherry': 2, 'Telangana': 2, 'Maharashtra': 3, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2})

The districts that have the most rural men and women with high BP (>70th percentile) are 105 in number    spread over 22 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Punjab': 13, 'Gujarat': 3, 'Andhra Pradesh': 3, 'Arunachal Pradesh': 11, 'Odisha': 2, 'Assam': 18, 'Uttar Pradesh': 4, 'Karnataka': 7, 'Himachal Pradesh': 8, 'Uttarakhand': 2, 'West Bengal': 4, 'Nagaland': 8, 'Sikkim': 3, 'Jammu & Kashmir': 3, 'Manipur': 1, 'Maharashtra': 3, 'Telangana': 1, 'Chhattisgarh': 3, 'Haryana': 3, 'Madhya Pradesh': 3, 'Andaman & Nicobar Islands': 1, 'Tripura': 1})

The districts that have the most rural men and women with high SUG levels (>70th percentile) are 108 in number    spread over 27 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 11, 'Tamil Nadu': 9, 'Uttar Pradesh': 13, 'Odisha': 14, 'West Bengal': 8, 'Uttarakhand': 4, 'Mizoram': 4, 'Arunachal Pradesh': 3, 'Karnataka': 4, 'Andhra Pradesh': 4, 'Manipur': 3, 'Jharkhand': 2, 'Chhattisgarh': 5, 'Punjab': 2, 'Jammu & Kashmir': 1, 'Puducherry': 1, 'Assam': 2, 'Lakshadweep': 1, 'Madhya Pradesh': 4, 'Nagaland': 3, 'Gujarat': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Bihar': 1, 'Maharashtra': 1, 'Tripura': 2, 'Sikkim': 1})

The intersection of the three lists above is 5 districts spread over 4 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Punjab': 1, 'Sikkim': 1, 'Manipur': 1, 'Arunachal Pradesh': 2})
This is the list of codes for districts appearing in all three [43, 242, 278, 251, 252].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.75:

The districts that have the most rural men and women with high BMI (>75th percentile) are 111 in number    spread over 20 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 12, 'Gujarat': 5, 'Punjab': 16, 'Tamil Nadu': 25, 'Jammu & Kashmir': 4, 'Manipur': 3, 'Andhra Pradesh': 8, 'Odisha': 5, 'Daman & Diu': 1, 'Sikkim': 3, 'Arunachal Pradesh': 3, 'Himachal Pradesh': 9, 'Karnataka': 3, 'Haryana': 4, 'Puducherry': 2, 'Maharashtra': 2, 'Lakshadweep': 1, 'Telangana': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2})

The districts that have the most rural men and women with high BP (>75th percentile) are 78 in number    spread over 20 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Gujarat': 2, 'Arunachal Pradesh': 10, 'Odisha': 2, 'Assam': 16, 'Uttar Pradesh': 3, 'Punjab': 12, 'Himachal Pradesh': 7, 'West Bengal': 2, 'Nagaland': 7, 'Sikkim': 3, 'Andhra Pradesh': 1, 'Jammu & Kashmir': 3, 'Manipur': 1, 'Maharashtra': 2, 'Madhya Pradesh': 2, 'Andaman & Nicobar Islands': 1, 'Chhattisgarh': 1, 'Uttarakhand': 1, 'Karnataka': 1, 'Tripura': 1})

The districts that have the most rural men and women with high SUG levels (>75th percentile) are 81 in number    spread over 23 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 10, 'Tamil Nadu': 8, 'Uttar Pradesh': 11, 'Odisha': 10, 'Uttarakhand': 3, 'Arunachal Pradesh': 3, 'Karnataka': 1, 'Manipur': 3, 'Jharkhand': 1, 'Chhattisgarh': 3, 'Punjab': 2, 'Andhra Pradesh': 3, 'West Bengal': 5, 'Puducherry': 1, 'Mizoram': 2, 'Assam': 1, 'Lakshadweep': 1, 'Madhya Pradesh': 3, 'Nagaland': 3, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Maharashtra': 1, 'Tripura': 2})

The intersection of the three lists above is 3 districts spread over 3 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Punjab': 1, 'Manipur': 1, 'Arunachal Pradesh': 1})
This is the list of codes for districts appearing in all three [43, 278, 251].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.8:

The districts that have the most rural men and women with high BMI (>80th percentile) are 80 in number    spread over 19 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 11, 'Gujarat': 3, 'Punjab': 14, 'Odisha': 3, 'Tamil Nadu': 14, 'Daman & Diu': 1, 'Sikkim': 2, 'Andhra Pradesh': 6, 'Himachal Pradesh': 6, 'Manipur': 2, 'Jammu & Kashmir': 3, 'Puducherry': 2, 'Haryana': 3, 'Karnataka': 2, 'Maharashtra': 2, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Arunachal Pradesh': 1})

The districts that have the most rural men and women with high BP (>80th percentile) are 65 in number    spread over 15 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Gujarat': 2, 'Arunachal Pradesh': 9, 'Assam': 15, 'Uttar Pradesh': 3, 'Punjab': 11, 'Himachal Pradesh': 7, 'West Bengal': 2, 'Odisha': 1, 'Nagaland': 6, 'Sikkim': 3, 'Andhra Pradesh': 1, 'Maharashtra': 2, 'Andaman & Nicobar Islands': 1, 'Jammu & Kashmir': 1, 'Tripura': 1})

The districts that have the most rural men and women with high SUG levels (>80th percentile) are 63 in number    spread over 22 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 10, 'Tamil Nadu': 5, 'Uttar Pradesh': 9, 'Odisha': 8, 'Uttarakhand': 2, 'Arunachal Pradesh': 2, 'Karnataka': 1, 'Manipur': 2, 'Jharkhand': 1, 'Punjab': 1, 'Andhra Pradesh': 2, 'West Bengal': 5, 'Puducherry': 1, 'Mizoram': 1, 'Lakshadweep': 1, 'Madhya Pradesh': 2, 'Nagaland': 3, 'Andaman & Nicobar Islands': 1, 'Goa': 2, 'Chhattisgarh': 1, 'Maharashtra': 1, 'Tripura': 2})

The intersection of the three lists above is 1 districts spread over 1 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Punjab': 1})
This is the list of codes for districts appearing in all three [43].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [ ]:
#so I've decided to go for the 50th percentile or the median. So if a district is in the top half of all districts 
    #with high BMI among rural men and women, top half of all districts with high BP among rural men and women
    #or in the top half of all districts with high SUGar levels among rural men and women, if there is a district
    #appearing in all three graphics, I'll be interested in what is going on with rural people living in that district.
    #Why do they have conditions that usually only urban dwellers suffer from?

In [6]:
#now what I'll do is create columns in the dataframe that will make it easier for us to visualise the data in d3
    #and reduce some of the work we'll have to do there
#To do that we'll the 50th percentile or median values for each column after excluding the 0s representing nulls and 
    #insufficient data
    
rural_BMIM_median = flat_file[flat_file['rural_BMIM']>0]['rural_BMIM'].quantile(0.5)
rural_BMIM_median

12.2

In [7]:
rural_BMIW_median = flat_file[flat_file['rural_BMIW']>0]['rural_BMIW'].quantile(0.5)
rural_BMIW_median

12.8

In [8]:
rural_BPM_median = flat_file[flat_file['rural_BPM']>0]['rural_BPM'].quantile(0.5)
rural_BPM_median

12.350000000000001

In [9]:
rural_BPW_median = flat_file[flat_file['rural_BPW']>0]['rural_BPW'].quantile(0.5)
rural_BPW_median

8.399999999999999

In [10]:
rural_SUGM_median = flat_file[flat_file['rural_SUGM']>0]['rural_SUGM'].quantile(0.5)
rural_SUGM_median

6.9

In [11]:
rural_SUGW_median = flat_file[flat_file['rural_SUGW']>0]['rural_SUGW'].quantile(0.5)
rural_SUGW_median

4.9

In [16]:
#what we're doing below is creating columns that tell us which district should be visualised in which graphic

def BMI_vis (row):
    if (row['rural_BMIM'] > rural_BMIM_median) & (row['rural_BMIW'] > rural_BMIW_median):
        return 'yes'
    else:
        return 'no'

flat_file['rural_BMI_visualise'] = flat_file.apply (lambda row: BMI_vis (row),axis=1)

In [21]:
#just checking if we've done things right and the figure tallies with the one from the code block when we were choosing
    #a percentile
    
flat_file['rural_BMI_visualise'].value_counts()

no     397
yes    243
Name: rural_BMI_visualise, dtype: int64

In [22]:
def BP_vis (row):
    if (row['rural_BPM'] > rural_BPM_median) & (row['rural_BPW'] > rural_BPW_median):
        return 'yes'
    else:
        return 'no'

flat_file['rural_BP_visualise'] = flat_file.apply (lambda row: BP_vis (row),axis=1)

In [23]:
def SUG_vis (row):
    if (row['rural_SUGM'] > rural_SUGM_median) & (row['rural_SUGW'] > rural_SUGW_median):
        return 'yes'
    else:
        return 'no'

flat_file['rural_SUG_visualise'] = flat_file.apply (lambda row: SUG_vis (row),axis=1)

In [24]:
#the is the column for districts common to all three

def ALL_vis (row):
    if (row['rural_BMI_visualise'] == 'yes') & (row['rural_BP_visualise'] == 'yes') & (row['rural_SUG_visualise'] == 'yes'):
        return 'yes'
    else:
        return 'no'

flat_file['rural_ALL_visualise'] = flat_file.apply (lambda row: ALL_vis (row),axis=1)

In [25]:
flat_file['rural_ALL_visualise'].value_counts()

no     583
yes     57
Name: rural_ALL_visualise, dtype: int64

In [27]:
#now to drop all the columns with 'urban' and 'total' data

#first let's get a list of all the column names as it stands now

col_list = flat_file.columns.tolist()
col_list

['district',
 'district_census_code',
 'state',
 'state_census_code',
 'rural_BMIM',
 'rural_BMIW',
 'rural_BPM',
 'rural_BPW',
 'rural_SUGM',
 'rural_SUGW',
 'total_BMIM',
 'total_BMIW',
 'total_BPM',
 'total_BPW',
 'total_SUGM',
 'total_SUGW',
 'urban_BMIM',
 'urban_BMIW',
 'urban_BPM',
 'urban_BPW',
 'urban_SUGM',
 'urban_SUGW',
 'rural_BMI_visualise',
 'rural_BP_visualise',
 'rural_SUG_visualise',
 'rural_ALL_visualise']

In [36]:
del_list = [name for name in col_list if 'urban'  in name]
del_list

['urban_BMIM',
 'urban_BMIW',
 'urban_BPM',
 'urban_BPW',
 'urban_SUGM',
 'urban_SUGW']

In [39]:
#now getting a list of the columns to delete
del_list = []
string_list = ['urban','total']

for name in col_list:
    for string in string_list:
        if string in name:
            del_list.append(name)
del_list

['total_BMIM',
 'total_BMIW',
 'total_BPM',
 'total_BPW',
 'total_SUGM',
 'total_SUGW',
 'urban_BMIM',
 'urban_BMIW',
 'urban_BPM',
 'urban_BPW',
 'urban_SUGM',
 'urban_SUGW']

In [40]:
#now dropping the columns and creating a new dataframe

flat_file_v2 = flat_file.drop(del_list, axis=1)
flat_file_v2.head()

,district,district_census_code,state,state_census_code,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,rural_BMI_visualise,rural_BP_visualise,rural_SUG_visualise,rural_ALL_visualise
0,Adilabad,532,Telangana,28,6.2,11.6,9.1,11.1,4.9,4.5,no,no,no,no
1,Agra,146,Uttar Pradesh,9,15.1,12.2,7.1,4.2,5.1,2.8,no,no,no,no
2,Ahmadabad,474,Gujarat,24,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no
3,Ahmednagar,522,Maharashtra,27,15.1,13.9,13.9,6.7,2.7,4.4,yes,no,no,no
4,Aizawl,283,Mizoram,15,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no

In [41]:
#will also drop the column for state census code because I realised later on that 'Andhra Pradesh' and 'Telangana'
    #have the same state code of 28, so can't rely on that column to distinguish districts belonging to different states
    #will use the state name instead. Could have created a proxy code like 99 or something but since the 'state name'
    #column is already there and no states/UTs have the same name, it's better to use that instead

flat_file_v3 = flat_file_v2.drop('state_census_code',axis = 1)
flat_file_v3.head()

,district,district_census_code,state,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,rural_BMI_visualise,rural_BP_visualise,rural_SUG_visualise,rural_ALL_visualise
0,Adilabad,532,Telangana,6.2,11.6,9.1,11.1,4.9,4.5,no,no,no,no
1,Agra,146,Uttar Pradesh,15.1,12.2,7.1,4.2,5.1,2.8,no,no,no,no
2,Ahmadabad,474,Gujarat,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no
3,Ahmednagar,522,Maharashtra,15.1,13.9,13.9,6.7,2.7,4.4,yes,no,no,no
4,Aizawl,283,Mizoram,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no

In [44]:
#realised some of the column names are a mouthful (eg. rural_BMI_visualise) so am going to simplify them a bit
flat_file_v4 = flat_file_v3.rename(columns={'rural_BMI_visualise': 'rural_BMI_show',\
                                            'rural_BP_visualise': 'rural_BP_show',\
                                            'rural_SUG_visualise': 'rural_SUG_show',\
                                            'rural_ALL_visualise': 'rural_ALL_show'})
flat_file_v4.head()

,district,district_census_code,state,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,rural_BMI_show,rural_BP_show,rural_SUG_show,rural_ALL_show
0,Adilabad,532,Telangana,6.2,11.6,9.1,11.1,4.9,4.5,no,no,no,no
1,Agra,146,Uttar Pradesh,15.1,12.2,7.1,4.2,5.1,2.8,no,no,no,no
2,Ahmadabad,474,Gujarat,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no
3,Ahmednagar,522,Maharashtra,15.1,13.9,13.9,6.7,2.7,4.4,yes,no,no,no
4,Aizawl,283,Mizoram,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no

In [45]:
#now having looked at map we'll be using to visualise the data, I'm adding an extra row to the dataframe
    #for Pakistan occupied Kashmir, it will have the district name 'PoK' , district census code of 0 and state name of
    #Jammu & Kashmir. I'll put 0 in all the data columns and set it to not show. 
    #Not trying to be a nationalist here, just want to make the map work :)

#first let me get a list of the columns we have now

col_list_new = flat_file_v4.columns.tolist()
col_list_new

['district',
 'district_census_code',
 'state',
 'rural_BMIM',
 'rural_BMIW',
 'rural_BPM',
 'rural_BPW',
 'rural_SUGM',
 'rural_SUGW',
 'rural_BMI_show',
 'rural_BP_show',
 'rural_SUG_show',
 'rural_ALL_show']

In [55]:
#just getting the datatypes of each column as well. This will be helpful in creating the row for PoK
flat_file_v4.dtypes

district                 object
district_census_code      int64
state                    object
rural_BMIM              float64
rural_BMIW              float64
rural_BPM               float64
rural_BPW               float64
rural_SUGM              float64
rural_SUGW              float64
rural_BMI_show           object
rural_BP_show            object
rural_SUG_show           object
rural_ALL_show           object
dtype: object

In [64]:
#getting the spelling of Jammu & Kashmir used in the dataframe
flat_file_v4[flat_file_v4['state'].str.contains('Kashmir')]['state'].head(1)

20    Jammu & Kashmir
Name: state, dtype: object

In [65]:
df_pok = pd.DataFrame([['PoK',0,'Jammu & Kashmir',0,0,0,0,0,0,'no','no','no','no']], columns=col_list_new)
df_pok

,district,district_census_code,state,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,rural_BMI_show,rural_BP_show,rural_SUG_show,rural_ALL_show
0,PoK,0,Jammu & Kashmir,0,0,0,0,0,0,no,no,no,no

In [66]:
#putting the df_pok at the bottom of the main dataframe flat_file_v4 and creating a new one

flat_file_v5 = pd.concat([flat_file_v4,df_pok])

In [67]:
#just checking it it's there

flat_file_v5[flat_file_v5['district_census_code']==0]

,district,district_census_code,state,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,rural_BMI_show,rural_BP_show,rural_SUG_show,rural_ALL_show
0,PoK,0,Jammu & Kashmir,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no

In [69]:
flat_file_v5.shape

(641, 13)

In [71]:
flat_file_v5.to_csv('my_data/culled_for_d3.csv', index=False)

In [ ]:
'''
After creating the dataset for the d3 visualisation, i set about creating the maps using QGIS
Unfortunately, that's not in code, used the QGIS GUI for doing all this.

Am using the maps from the github repo for datameet,
specifically the district map from https://github.com/datameet/maps/tree/master/Districts/Census_2011
The NFHS surveys were done according to 2011 census boundaries so it's safe to use the datameet map even though 
some districts have since then been officially to UP

Made the following changes to the datameet shape file:

--added state name to telangana for ten districts
--deleted state census code (since Telangana and Andhra Pradesh share the same state code, I decided not to use it)
--deleted the column showing the no. of districts in a state

just left with three columns now -- district name, district census code and state name
simplified the district map in mapshaper, saved it as geojson

I then merged the dataset we got at the end of this python notebook with this  geojson file

I also created a state map with just the state boundaries

After this I moved on to writing the visualisation code using the D3 library. It can be seen in the index.html file

'''

In [1]:
#just ran some further analysis on the data to help me write copy for the data viz, this and the two code blocks below
    #aren't that important

import pandas as pd

culled_check = pd.read_csv('my_data/culled_for_d3.csv') #, encoding='latin-1'
culled_check.head()

,district,district_census_code,state,rural_BMIM,rural_BMIW,rural_BPM,rural_BPW,rural_SUGM,rural_SUGW,rural_BMI_show,rural_BP_show,rural_SUG_show,rural_ALL_show
0,Adilabad,532,Telangana,6.2,11.6,9.1,11.1,4.9,4.5,no,no,no,no
1,Agra,146,Uttar Pradesh,15.1,12.2,7.1,4.2,5.1,2.8,no,no,no,no
2,Ahmadabad,474,Gujarat,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no
3,Ahmednagar,522,Maharashtra,15.1,13.9,13.9,6.7,2.7,4.4,yes,no,no,no
4,Aizawl,283,Mizoram,0.0,0.0,0.0,0.0,0.0,0.0,no,no,no,no

In [2]:
from collections import defaultdict

percent_list = [5,10,15,20,25,30,35,40,45,50]

for percent in percent_list:
    
    #code below for BMI index
    
    dist_BMI = culled_check[(culled_check['rural_BMIM'] >= percent)\
                         & (culled_check['rural_BMIW'] >= percent)]\
    ['district_census_code'].unique().tolist()
    
    
    len_dist_BMI = len(dist_BMI)
    
    state_BMI = []
    
    count_BMI = defaultdict(int)
    
    for dcc in dist_BMI:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_BMI[statex] += 1
        
        if statex not in state_BMI:
            state_BMI.append(statex)
            
    len_state_BMI = len(state_BMI)
    
    #code below for blood pressure
    
    dist_BP = culled_check[(culled_check['rural_BPM'] >= percent)\
                        & (culled_check['rural_BPW'] >= percent)]\
    ['district_census_code'].unique().tolist()
    
    len_dist_BP = len(dist_BP)

    state_BP = []
    
    count_BP = defaultdict(int)

    for dcc in dist_BP:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_BP[statex] += 1
        
        if statex not in state_BP:
            state_BP.append(statex)
            
    len_state_BP = len(state_BP)

    #code below for blood sugar
    
    dist_SUG = culled_check[(culled_check['rural_SUGM'] >= percent) &\
                         (culled_check['rural_SUGW'] >= percent)]\
    ['district_census_code'].unique().tolist()
    
    len_dist_SUG = len(dist_SUG)

    state_SUG = []
    
    count_SUG = defaultdict(int)

    for dcc in dist_SUG:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_SUG[statex] += 1
        
        if statex not in state_SUG:
            state_SUG.append(statex)
            
    len_state_SUG = len(state_SUG)
    
    dist_ALL = list(set(dist_BMI) & set(dist_BP) & set(dist_SUG))

    
    #code below for districts common between all three
    
    len_dist_ALL = len(dist_ALL)

    state_ALL = []
    
    count_ALL = defaultdict(int)

    for dcc in dist_ALL:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_ALL[statex] += 1
        
        if statex not in state_ALL:
            state_ALL.append(statex)
            
    len_state_ALL = len(state_ALL)

    
  
    print ('If we fix the percent at {}:'.format(percent))
    print()
    print ('The districts where at least {} percent of rural men and {} percent of rural women have high BMI are {} in number\
    spread over {} states.'.format(percent,percent, len_dist_BMI, len_state_BMI))
    print()
    print('This is the state count for rural BMI:')
    print (count_BMI)
    print('')
    print ('The districts  where at least {} percent of rural men and {} percent of rural women have high BP are {} in number\
    spread over {} states.'.format(percent,percent, len_dist_BP, len_state_BP))
    print()
    print('This is the state count for rural BP:')
    print (count_BP)

    print()
    print ('The districts  where at least {} percent of rural men and {} percent of rural women have high SUG levels are {} in number\
    spread over {} states.'.format(percent,percent, len_dist_SUG, len_state_SUG))
    print()
    print('This is the state count for rural SUG:')
    print (count_SUG)

    print()
    print ('The intersection of the three lists above is {} districts spread over {} states'\
           .format(len_dist_ALL, len_state_ALL))
    print()
    print('This is the state count for rural ALL:')
    print (count_ALL)
    print('This is the list of codes for districts appearing in all three {}.'.format(dist_ALL))
    print()
    print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
    print()

If we fix the percent at 5:

The districts where at least 5 percent of rural men and 5 percent of rural women have high BMI are 543 in number    spread over 34 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Telangana': 8, 'Uttar Pradesh': 56, 'Maharashtra': 28, 'Rajasthan': 32, 'Kerala': 14, 'Madhya Pradesh': 33, 'Uttarakhand': 12, 'Haryana': 20, 'Gujarat': 22, 'Punjab': 20, 'Andhra Pradesh': 13, 'Jammu & Kashmir': 21, 'Arunachal Pradesh': 15, 'Odisha': 30, 'Tamil Nadu': 29, 'Bihar': 36, 'Karnataka': 29, 'Assam': 24, 'West Bengal': 17, 'Himachal Pradesh': 12, 'Chhattisgarh': 12, 'Manipur': 8, 'Mizoram': 7, 'Dadra and Nagar Haveli': 1, 'Tripura': 4, 'Jharkhand': 14, 'Nagaland': 9, 'Daman & Diu': 1, 'Sikkim': 3, 'Meghalaya': 5, 'Puducherry': 2, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 3, 'Goa': 2})

The districts  where at least 5 percent of rural men and 5 percent of rural women have high BP are 532 in number    spread over 34 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Telangana': 8, 'Maharashtra': 32, 'Rajasthan': 25, 'Kerala': 10, 'Madhya Pradesh': 38, 'Uttar Pradesh': 48, 'Uttarakhand': 12, 'Haryana': 19, 'Gujarat': 20, 'Punjab': 20, 'Andhra Pradesh': 13, 'Jammu & Kashmir': 21, 'Arunachal Pradesh': 16, 'Odisha': 26, 'Bihar': 22, 'Tamil Nadu': 27, 'Karnataka': 27, 'Assam': 26, 'West Bengal': 18, 'Chhattisgarh': 17, 'Himachal Pradesh': 12, 'Manipur': 9, 'Jharkhand': 24, 'Mizoram': 7, 'Dadra and Nagar Haveli': 1, 'Tripura': 4, 'Nagaland': 11, 'Daman & Diu': 1, 'Sikkim': 3, 'Meghalaya': 7, 'Puducherry': 2, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 3, 'Goa': 2})

The districts  where at least 5 percent of rural men and 5 percent of rural women have high SUG levels are 265 in number    spread over 33 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Rajasthan': 1, 'Kerala': 13, 'Maharashtra': 6, 'Gujarat': 15, 'Punjab': 11, 'Andhra Pradesh': 9, 'Odisha': 26, 'Tamil Nadu': 22, 'Bihar': 7, 'Uttar Pradesh': 22, 'Assam': 13, 'West Bengal': 15, 'Chhattisgarh': 10, 'Himachal Pradesh': 6, 'Manipur': 6, 'Uttarakhand': 6, 'Mizoram': 6, 'Arunachal Pradesh': 6, 'Karnataka': 15, 'Jharkhand': 5, 'Tripura': 3, 'Nagaland': 9, 'Madhya Pradesh': 12, 'Daman & Diu': 1, 'Sikkim': 3, 'Meghalaya': 1, 'Haryana': 5, 'Jammu & Kashmir': 2, 'Puducherry': 1, 'Telangana': 3, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2})

The intersection of the three lists above is 235 districts spread over 32 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Maharashtra': 6, 'Jammu & Kashmir': 2, 'Telangana': 3, 'Himachal Pradesh': 6, 'Andhra Pradesh': 9, 'Punjab': 11, 'Karnataka': 14, 'Uttarakhand': 6, 'Haryana': 5, 'Goa': 2, 'Lakshadweep': 1, 'Kerala': 9, 'Tamil Nadu': 20, 'Rajasthan': 1, 'Puducherry': 1, 'Andaman & Nicobar Islands': 2, 'Uttar Pradesh': 16, 'Bihar': 5, 'Sikkim': 3, 'Arunachal Pradesh': 6, 'Nagaland': 7, 'Manipur': 6, 'Mizoram': 6, 'Tripura': 3, 'Assam': 12, 'West Bengal': 15, 'Jharkhand': 2, 'Odisha': 24, 'Chhattisgarh': 7, 'Madhya Pradesh': 9, 'Gujarat': 15, 'Daman & Diu': 1})
This is the list of codes for districts appearing in all three [516, 528, 529, 531, 21, 534, 22, 24, 538, 28, 29, 542, 543, 541, 33, 30, 31, 548, 37, 36, 549, 40, 553, 554, 43, 41, 550, 551, 560, 49, 562, 48, 51, 52, 54, 567, 568, 50, 570, 571, 569, 61, 573, 575, 576, 65, 577, 66, 68, 581, 582, 69, 67, 73, 585, 587, 588, 589, 586, 590, 592, 593, 595, 83, 85, 598, 86, 599, 601, 604, 606, 607, 608, 609, 610, 611, 613, 615, 616, 618, 619, 620, 621, 623, 625, 627, 628, 630, 119, 633, 637, 639, 640, 132, 135, 136, 137, 150, 151, 180, 181, 182, 183, 185, 186, 187, 188, 546, 190, 193, 204, 212, 219, 233, 237, 241, 242, 244, 249, 250, 251, 252, 253, 257, 262, 264, 265, 266, 268, 269, 270, 272, 563, 274, 275, 277, 278, 280, 281, 282, 284, 285, 286, 287, 289, 290, 291, 300, 303, 304, 306, 307, 308, 311, 312, 313, 62, 320, 324, 325, 328, 329, 330, 331, 332, 333, 335, 336, 337, 338, 339, 341, 343, 344, 345, 354, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 387, 388, 391, 393, 394, 396, 397, 398, 403, 405, 407, 409, 411, 412, 413, 424, 427, 432, 433, 435, 448, 450, 452, 456, 470, 471, 476, 479, 480, 481, 482, 483, 484, 486, 487, 488, 490, 491, 493, 494, 498, 503].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 10:

The districts where at least 10 percent of rural men and 10 percent of rural women have high BMI are 335 in number    spread over 32 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Uttar Pradesh': 26, 'Maharashtra': 19, 'Rajasthan': 12, 'Kerala': 13, 'Gujarat': 16, 'Punjab': 20, 'Andhra Pradesh': 13, 'Jammu & Kashmir': 21, 'Arunachal Pradesh': 15, 'Odisha': 13, 'Tamil Nadu': 29, 'Bihar': 9, 'Karnataka': 24, 'Assam': 13, 'Haryana': 18, 'Himachal Pradesh': 12, 'Manipur': 7, 'Uttarakhand': 8, 'Mizoram': 4, 'West Bengal': 7, 'Madhya Pradesh': 8, 'Tripura': 3, 'Nagaland': 3, 'Daman & Diu': 1, 'Sikkim': 3, 'Puducherry': 2, 'Telangana': 7, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 3, 'Goa': 2, 'Chhattisgarh': 1, 'Meghalaya': 2})

The districts  where at least 10 percent of rural men and 10 percent of rural women have high BP are 178 in number    spread over 26 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Maharashtra': 7, 'Punjab': 18, 'Gujarat': 8, 'Andhra Pradesh': 6, 'Jammu & Kashmir': 10, 'Arunachal Pradesh': 13, 'Odisha': 5, 'Uttar Pradesh': 10, 'Assam': 23, 'West Bengal': 7, 'Madhya Pradesh': 7, 'Karnataka': 11, 'Himachal Pradesh': 8, 'Uttarakhand': 3, 'Manipur': 5, 'Nagaland': 10, 'Sikkim': 3, 'Meghalaya': 1, 'Tamil Nadu': 4, 'Haryana': 5, 'Chhattisgarh': 5, 'Telangana': 3, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 1, 'Jharkhand': 3, 'Tripura': 1})

The districts  where at least 10 percent of rural men and 10 percent of rural women have high SUG levels are 16 in number    spread over 10 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Uttar Pradesh': 1, 'Odisha': 2, 'Manipur': 1, 'Arunachal Pradesh': 1, 'Kerala': 5, 'West Bengal': 1, 'Puducherry': 1, 'Mizoram': 1, 'Nagaland': 2, 'Goa': 1})

The intersection of the three lists above is 3 districts spread over 3 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'West Bengal': 1, 'Arunachal Pradesh': 1, 'Nagaland': 1})
This is the list of codes for districts appearing in all three [338, 251, 262].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 15:

The districts where at least 15 percent of rural men and 15 percent of rural women have high BMI are 195 in number    spread over 26 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 13, 'Gujarat': 8, 'Punjab': 18, 'Andhra Pradesh': 11, 'Arunachal Pradesh': 11, 'Tamil Nadu': 28, 'Jammu & Kashmir': 11, 'Karnataka': 14, 'Haryana': 13, 'Himachal Pradesh': 11, 'Manipur': 7, 'Odisha': 5, 'West Bengal': 4, 'Uttarakhand': 3, 'Nagaland': 3, 'Daman & Diu': 1, 'Sikkim': 3, 'Rajasthan': 2, 'Uttar Pradesh': 4, 'Bihar': 2, 'Maharashtra': 9, 'Puducherry': 2, 'Telangana': 6, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 3, 'Goa': 2})

The districts  where at least 15 percent of rural men and 15 percent of rural women have high BP are 47 in number    spread over 11 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Punjab': 8, 'Arunachal Pradesh': 11, 'Assam': 16, 'Sikkim': 2, 'Himachal Pradesh': 1, 'West Bengal': 1, 'Nagaland': 4, 'Andaman & Nicobar Islands': 1, 'Chhattisgarh': 1, 'Tamil Nadu': 1, 'Tripura': 1})

The districts  where at least 15 percent of rural men and 15 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 20:

The districts where at least 20 percent of rural men and 20 percent of rural women have high BMI are 105 in number    spread over 19 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 12, 'Gujarat': 5, 'Punjab': 15, 'Andhra Pradesh': 9, 'Tamil Nadu': 22, 'Karnataka': 4, 'Manipur': 3, 'Odisha': 4, 'Daman & Diu': 1, 'Sikkim': 3, 'Arunachal Pradesh': 3, 'Haryana': 5, 'Himachal Pradesh': 7, 'Jammu & Kashmir': 3, 'Puducherry': 2, 'Maharashtra': 2, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2})

The districts  where at least 20 percent of rural men and 20 percent of rural women have high BP are 13 in number    spread over 5 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 6, 'Punjab': 1, 'Assam': 3, 'Nagaland': 2, 'Andaman & Nicobar Islands': 1})

The districts  where at least 20 percent of rural men and 20 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})

This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 25:

The districts where at least 25 percent of rural men and 25 percent of rural women have high BMI are 43 in number    spread over 15 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 6, 'Punjab': 9, 'Daman & Diu': 1, 'Sikkim': 1, 'Andhra Pradesh': 5, 'Himachal Pradesh': 2, 'Odisha': 1, 'Puducherry': 2, 'Tamil Nadu': 8, 'Karnataka': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Maharashtra': 1, 'Haryana': 1, 'Arunachal Pradesh': 1})

The districts  where at least 25 percent of rural men and 25 percent of rural women have high BP are 1 in number    spread over 1 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 1})

The districts  where at least 25 percent of rural men and 25 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 30:

The districts where at least 30 percent of rural men and 30 percent of rural women have high BMI are 13 in number    spread over 5 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Punjab': 4, 'Kerala': 4, 'Andhra Pradesh': 3, 'Himachal Pradesh': 1, 'Puducherry': 1})

The districts  where at least 30 percent of rural men and 30 percent of rural women have high BP are 0 in number    spread over 0 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {})

The districts  where at least 30 percent of rural men and 30 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 35:

The districts where at least 35 percent of rural men and 35 percent of rural women have high BMI are 5 in number    spread over 3 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 2, 'Punjab': 1, 'Andhra Pradesh': 2})

The districts  where at least 35 percent of rural men and 35 percent of rural women have high BP are 0 in number    spread over 0 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {})

The districts  where at least 35 percent of rural men and 35 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 40:

The districts where at least 40 percent of rural men and 40 percent of rural women have high BMI are 0 in number    spread over 0 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {})

The districts  where at least 40 percent of rural men and 40 percent of rural women have high BP are 0 in number    spread over 0 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {})

The districts  where at least 40 percent of rural men and 40 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 45:

The districts where at least 45 percent of rural men and 45 percent of rural women have high BMI are 0 in number    spread over 0 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {})

The districts  where at least 45 percent of rural men and 45 percent of rural women have high BP are 0 in number    spread over 0 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {})

The districts  where at least 45 percent of rural men and 45 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percent at 50:

The districts where at least 50 percent of rural men and 50 percent of rural women have high BMI are 0 in number    spread over 0 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {})

The districts  where at least 50 percent of rural men and 50 percent of rural women have high BP are 0 in number    spread over 0 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {})

The districts  where at least 50 percent of rural men and 50 percent of rural women have high SUG levels are 0 in number    spread over 0 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {})

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [4]:
from collections import defaultdict

percentile_list = [0.7, 0.75, 0.8, 0.85, 0.9, 0.95,0.96,0.97,0.98,0.99,0.9925,0.995]

for percentile in percentile_list:
    
    #code below for BMI index
    
    dist_BMI = culled_check[(culled_check['rural_BMIM'] > culled_check['rural_BMIM'][culled_check['rural_BMIM']>0].quantile(percentile))\
                         & (culled_check['rural_BMIW'] > culled_check['rural_BMIW'][culled_check['rural_BMIW']>0].quantile(percentile))]\
    ['district_census_code'].unique().tolist()
    
    #I'm excluding all the districts with null values and insufficient data above by doing '>0' and filtering out the 0s.
    
    len_dist_BMI = len(dist_BMI)
    
    state_BMI = []
    
    count_BMI = defaultdict(int)
    
    for dcc in dist_BMI:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_BMI[statex] += 1
        
        if statex not in state_BMI:
            state_BMI.append(statex)
            
    len_state_BMI = len(state_BMI)
    

    #code below for blood pressure
    
    dist_BP = culled_check[(culled_check['rural_BPM'] > culled_check['rural_BPM'][culled_check['rural_BPM']>0].quantile(percentile))\
                        & (culled_check['rural_BPW'] > culled_check['rural_BPW'][culled_check['rural_BPW']>0].quantile(percentile))]\
    ['district_census_code'].unique().tolist()
    
    len_dist_BP = len(dist_BP)

    state_BP = []
    
    count_BP = defaultdict(int)

    for dcc in dist_BP:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_BP[statex] += 1
        
        if statex not in state_BP:
            state_BP.append(statex)
            
    len_state_BP = len(state_BP)

    #code below for blood sugar
    
    dist_SUG = culled_check[(culled_check['rural_SUGM'] > culled_check['rural_SUGM'][culled_check['rural_SUGM']>0].quantile(percentile)) &\
                         (culled_check['rural_SUGW'] > culled_check['rural_SUGW'][culled_check['rural_SUGW']>0].quantile(percentile))]\
    ['district_census_code'].unique().tolist()
    
    len_dist_SUG = len(dist_SUG)

    state_SUG = []
    
    count_SUG = defaultdict(int)

    for dcc in dist_SUG:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_SUG[statex] += 1
        
        if statex not in state_SUG:
            state_SUG.append(statex)
            
    len_state_SUG = len(state_SUG)
    
    dist_ALL = list(set(dist_BMI) & set(dist_BP) & set(dist_SUG))

    
    #code below for districts common between all three
    
    len_dist_ALL = len(dist_ALL)

    state_ALL = []
    
    count_ALL = defaultdict(int)

    for dcc in dist_ALL:
        statex = culled_check[culled_check['district_census_code'] == dcc]['state'].item()
        
        count_ALL[statex] += 1
        
        if statex not in state_ALL:
            state_ALL.append(statex)
            
    len_state_ALL = len(state_ALL)

    
    percentile_100 = int(percentile*100)
    
    print ('If we fix the percentile at {}:'.format(percentile))
    print()
    print ('The districts that have the most rural men and women with high BMI (>{}th percentile) are {} in number\
    spread over {} states.'.format(percentile_100, len_dist_BMI, len_state_BMI))
    print()
    print('This is the state count for rural BMI:')
    print (count_BMI)
    print('This is the list of codes for districts {}.'.format(dist_BMI))
    
    print('')
    print ('The districts that have the most rural men and women with high BP (>{}th percentile) are {} in number\
    spread over {} states.'.format(percentile_100, len_dist_BP, len_state_BP))
    print()
    print('This is the state count for rural BP:')
    print (count_BP)
    print('This is the list of codes for districts {}.'.format(dist_BP))

    print()
    print ('The districts that have the most rural men and women with high SUG levels (>{}th percentile) are {} in number\
    spread over {} states.'.format(percentile_100, len_dist_SUG, len_state_SUG))
    print()
    print('This is the state count for rural SUG:')
    print (count_SUG)
    print('This is the list of codes for districts {}.'.format(dist_SUG))

    print()
    print ('The intersection of the three lists above is {} districts spread over {} states'\
           .format(len_dist_ALL, len_state_ALL))
    print()
    print('This is the state count for rural ALL:')
    print (count_ALL)
    print('This is the list of codes for districts appearing in all three {}.'.format(dist_ALL))
    print()
    print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
    print()

If we fix the percentile at 0.7:

The districts that have the most rural men and women with high BMI (>70th percentile) are 143 in number    spread over 24 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 13, 'Gujarat': 7, 'Punjab': 16, 'Andhra Pradesh': 10, 'Tamil Nadu': 26, 'Jammu & Kashmir': 6, 'Karnataka': 8, 'Haryana': 10, 'Himachal Pradesh': 10, 'Manipur': 4, 'Odisha': 5, 'Uttarakhand': 2, 'Arunachal Pradesh': 6, 'Daman & Diu': 1, 'Sikkim': 3, 'Rajasthan': 1, 'Uttar Pradesh': 1, 'West Bengal': 2, 'Puducherry': 2, 'Telangana': 2, 'Maharashtra': 3, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2})
This is the list of codes for districts [598, 480, 49, 553, 616, 9, 583, 8, 54, 46, 481, 81, 30, 275, 554, 617, 381, 575, 60, 630, 257, 612, 494, 244, 545, 251, 595, 40, 43, 99, 141, 548, 86, 28, 574, 38, 338, 596, 278, 277, 380, 37, 21, 477, 83, 479, 468, 73, 604, 24, 589, 36, 637, 74, 613, 588, 541, 386, 34, 576, 530, 600, 597, 547, 631, 26, 552, 72, 25, 587, 3, 255, 41, 623, 592, 573, 42, 44, 577, 618, 66, 539, 609, 385, 639, 241, 585, 593, 69, 75, 248, 599, 48, 615, 549, 635, 621, 12, 521, 345, 387, 476, 584, 626, 52, 39, 608, 22, 531, 53, 33, 32, 79, 31, 76, 640, 586, 550, 50, 245, 620, 611, 624, 602, 601, 619, 627, 276, 594, 614, 628, 633, 606, 569, 29, 252, 491, 605, 607, 590, 242, 546, 551].

The districts that have the most rural men and women with high BP (>70th percentile) are 105 in number    spread over 22 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Punjab': 13, 'Gujarat': 3, 'Andhra Pradesh': 3, 'Arunachal Pradesh': 11, 'Odisha': 2, 'Assam': 18, 'Uttar Pradesh': 4, 'Karnataka': 7, 'Himachal Pradesh': 8, 'Uttarakhand': 2, 'West Bengal': 4, 'Nagaland': 8, 'Sikkim': 3, 'Jammu & Kashmir': 3, 'Manipur': 1, 'Maharashtra': 3, 'Telangana': 1, 'Chhattisgarh': 3, 'Haryana': 3, 'Madhya Pradesh': 3, 'Andaman & Nicobar Islands': 1, 'Tripura': 1})
This is the list of codes for districts [49, 482, 553, 260, 384, 324, 182, 54, 303, 185, 488, 558, 557, 30, 319, 65, 320, 575, 327, 373, 562, 308, 257, 310, 315, 265, 244, 545, 247, 251, 40, 43, 11, 313, 183, 28, 574, 38, 278, 37, 499, 328, 312, 24, 314, 317, 541, 269, 329, 270, 300, 530, 404, 26, 72, 189, 25, 307, 268, 255, 41, 84, 27, 454, 433, 47, 42, 262, 44, 323, 490, 432, 638, 241, 248, 48, 271, 266, 403, 6, 22, 53, 529, 32, 311, 306, 401, 50, 245, 309, 267, 326, 67, 569, 29, 252, 249, 330, 563, 242, 546, 246, 250, 289, 71].

The districts that have the most rural men and women with high SUG levels (>70th percentile) are 108 in number    spread over 27 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 11, 'Tamil Nadu': 9, 'Uttar Pradesh': 13, 'Odisha': 14, 'West Bengal': 8, 'Uttarakhand': 4, 'Mizoram': 4, 'Arunachal Pradesh': 3, 'Karnataka': 4, 'Andhra Pradesh': 4, 'Manipur': 3, 'Jharkhand': 2, 'Chhattisgarh': 5, 'Punjab': 2, 'Jammu & Kashmir': 1, 'Puducherry': 1, 'Assam': 2, 'Lakshadweep': 1, 'Madhya Pradesh': 4, 'Nagaland': 3, 'Gujarat': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Bihar': 1, 'Maharashtra': 1, 'Tripura': 2, 'Sikkim': 1})
This is the list of codes for districts [598, 616, 139, 180, 393, 377, 182, 339, 335, 150, 185, 378, 65, 284, 253, 570, 554, 274, 381, 350, 383, 409, 251, 595, 43, 388, 183, 188, 548, 341, 338, 596, 278, 277, 380, 382, 21, 405, 371, 589, 36, 637, 613, 588, 386, 282, 600, 560, 597, 591, 307, 587, 287, 286, 623, 187, 411, 592, 332, 433, 573, 376, 262, 135, 304, 66, 452, 490, 385, 432, 639, 585, 593, 426, 344, 615, 151, 62, 204, 345, 387, 403, 136, 396, 608, 369, 181, 184, 529, 640, 586, 290, 343, 542, 620, 611, 267, 67, 252, 413, 605, 625, 590, 242, 289, 264, 551, 580].

The intersection of the three lists above is 5 districts spread over 4 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Punjab': 1, 'Sikkim': 1, 'Manipur': 1, 'Arunachal Pradesh': 2})
This is the list of codes for districts appearing in all three [43, 242, 278, 251, 252].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.75:

The districts that have the most rural men and women with high BMI (>75th percentile) are 111 in number    spread over 20 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 12, 'Gujarat': 5, 'Punjab': 16, 'Tamil Nadu': 25, 'Jammu & Kashmir': 4, 'Manipur': 3, 'Andhra Pradesh': 8, 'Odisha': 5, 'Daman & Diu': 1, 'Sikkim': 3, 'Arunachal Pradesh': 3, 'Himachal Pradesh': 9, 'Karnataka': 3, 'Haryana': 4, 'Puducherry': 2, 'Maharashtra': 2, 'Lakshadweep': 1, 'Telangana': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2})
This is the list of codes for districts [598, 480, 49, 616, 9, 54, 46, 481, 275, 554, 617, 381, 630, 612, 494, 244, 545, 251, 595, 40, 43, 548, 28, 574, 38, 596, 278, 277, 380, 37, 21, 477, 479, 73, 604, 24, 589, 36, 637, 74, 613, 386, 34, 576, 530, 600, 597, 547, 26, 552, 25, 587, 41, 623, 592, 573, 42, 44, 618, 539, 609, 385, 639, 241, 585, 593, 75, 248, 599, 48, 615, 549, 635, 621, 12, 387, 476, 626, 52, 39, 608, 22, 531, 53, 33, 32, 31, 76, 640, 586, 550, 50, 245, 620, 611, 624, 602, 601, 619, 627, 594, 614, 628, 633, 606, 29, 605, 607, 590, 242, 546].

The districts that have the most rural men and women with high BP (>75th percentile) are 78 in number    spread over 20 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Gujarat': 2, 'Arunachal Pradesh': 10, 'Odisha': 2, 'Assam': 16, 'Uttar Pradesh': 3, 'Punjab': 12, 'Himachal Pradesh': 7, 'West Bengal': 2, 'Nagaland': 7, 'Sikkim': 3, 'Andhra Pradesh': 1, 'Jammu & Kashmir': 3, 'Manipur': 1, 'Maharashtra': 2, 'Madhya Pradesh': 2, 'Andaman & Nicobar Islands': 1, 'Chhattisgarh': 1, 'Uttarakhand': 1, 'Karnataka': 1, 'Tripura': 1})
This is the list of codes for districts [482, 260, 384, 324, 182, 54, 303, 185, 30, 319, 320, 327, 373, 308, 257, 310, 315, 265, 244, 545, 247, 251, 40, 43, 11, 313, 183, 28, 38, 278, 37, 328, 312, 24, 314, 269, 270, 300, 530, 26, 307, 255, 41, 27, 433, 47, 42, 262, 44, 490, 432, 638, 241, 48, 271, 266, 6, 22, 53, 529, 32, 311, 306, 401, 50, 245, 309, 267, 326, 67, 29, 252, 249, 563, 242, 246, 250, 289].

The districts that have the most rural men and women with high SUG levels (>75th percentile) are 81 in number    spread over 23 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 10, 'Tamil Nadu': 8, 'Uttar Pradesh': 11, 'Odisha': 10, 'Uttarakhand': 3, 'Arunachal Pradesh': 3, 'Karnataka': 1, 'Manipur': 3, 'Jharkhand': 1, 'Chhattisgarh': 3, 'Punjab': 2, 'Andhra Pradesh': 3, 'West Bengal': 5, 'Puducherry': 1, 'Mizoram': 2, 'Assam': 1, 'Lakshadweep': 1, 'Madhya Pradesh': 3, 'Nagaland': 3, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Maharashtra': 1, 'Tripura': 2})
This is the list of codes for districts [598, 616, 139, 180, 377, 182, 150, 185, 378, 65, 253, 570, 274, 381, 350, 383, 409, 251, 595, 43, 388, 183, 548, 341, 338, 596, 278, 277, 371, 589, 36, 637, 386, 282, 600, 597, 591, 307, 587, 286, 623, 187, 411, 592, 332, 433, 376, 262, 66, 385, 432, 639, 585, 593, 426, 615, 151, 345, 387, 403, 136, 608, 181, 184, 529, 640, 586, 290, 343, 542, 620, 611, 267, 67, 252, 605, 625, 590, 289, 264, 551].

The intersection of the three lists above is 3 districts spread over 3 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Punjab': 1, 'Manipur': 1, 'Arunachal Pradesh': 1})
This is the list of codes for districts appearing in all three [43, 278, 251].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.8:

The districts that have the most rural men and women with high BMI (>80th percentile) are 80 in number    spread over 19 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 11, 'Gujarat': 3, 'Punjab': 14, 'Odisha': 3, 'Tamil Nadu': 14, 'Daman & Diu': 1, 'Sikkim': 2, 'Andhra Pradesh': 6, 'Himachal Pradesh': 6, 'Manipur': 2, 'Jammu & Kashmir': 3, 'Puducherry': 2, 'Haryana': 3, 'Karnataka': 2, 'Maharashtra': 2, 'Lakshadweep': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Arunachal Pradesh': 1})
This is the list of codes for districts [598, 480, 49, 46, 481, 381, 630, 494, 244, 545, 595, 40, 43, 548, 28, 38, 596, 278, 277, 380, 37, 21, 604, 24, 589, 36, 637, 74, 34, 576, 530, 597, 547, 587, 41, 623, 592, 573, 42, 618, 639, 241, 585, 593, 75, 599, 48, 549, 635, 12, 387, 476, 626, 52, 39, 608, 22, 531, 53, 33, 32, 76, 640, 586, 550, 50, 245, 620, 624, 602, 601, 594, 628, 633, 606, 29, 605, 607, 590, 546].

The districts that have the most rural men and women with high BP (>80th percentile) are 65 in number    spread over 15 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Gujarat': 2, 'Arunachal Pradesh': 9, 'Assam': 15, 'Uttar Pradesh': 3, 'Punjab': 11, 'Himachal Pradesh': 7, 'West Bengal': 2, 'Odisha': 1, 'Nagaland': 6, 'Sikkim': 3, 'Andhra Pradesh': 1, 'Maharashtra': 2, 'Andaman & Nicobar Islands': 1, 'Jammu & Kashmir': 1, 'Tripura': 1})
This is the list of codes for districts [482, 260, 324, 182, 54, 303, 185, 30, 319, 320, 327, 373, 308, 257, 310, 315, 265, 244, 545, 247, 251, 40, 43, 313, 183, 28, 38, 328, 312, 24, 269, 270, 300, 530, 26, 307, 255, 41, 27, 47, 42, 262, 44, 490, 638, 241, 48, 271, 266, 22, 53, 529, 32, 311, 306, 50, 245, 309, 326, 29, 249, 242, 246, 250, 289].

The districts that have the most rural men and women with high SUG levels (>80th percentile) are 63 in number    spread over 22 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 10, 'Tamil Nadu': 5, 'Uttar Pradesh': 9, 'Odisha': 8, 'Uttarakhand': 2, 'Arunachal Pradesh': 2, 'Karnataka': 1, 'Manipur': 2, 'Jharkhand': 1, 'Punjab': 1, 'Andhra Pradesh': 2, 'West Bengal': 5, 'Puducherry': 1, 'Mizoram': 1, 'Lakshadweep': 1, 'Madhya Pradesh': 2, 'Nagaland': 3, 'Andaman & Nicobar Islands': 1, 'Goa': 2, 'Chhattisgarh': 1, 'Maharashtra': 1, 'Tripura': 2})
This is the list of codes for districts [598, 616, 180, 377, 150, 185, 378, 65, 253, 570, 274, 381, 350, 383, 251, 595, 43, 183, 548, 341, 338, 596, 277, 371, 589, 637, 282, 600, 597, 591, 587, 187, 592, 332, 433, 376, 262, 66, 385, 639, 585, 593, 426, 615, 151, 345, 387, 403, 136, 181, 184, 529, 586, 290, 343, 620, 611, 267, 605, 590, 289, 264, 551].

The intersection of the three lists above is 1 districts spread over 1 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Punjab': 1})
This is the list of codes for districts appearing in all three [43].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.85:

The districts that have the most rural men and women with high BMI (>85th percentile) are 52 in number    spread over 17 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 8, 'Punjab': 11, 'Daman & Diu': 1, 'Sikkim': 1, 'Andhra Pradesh': 6, 'Himachal Pradesh': 3, 'Manipur': 1, 'Odisha': 1, 'Puducherry': 2, 'Tamil Nadu': 8, 'Karnataka': 1, 'Andaman & Nicobar Islands': 2, 'Goa': 2, 'Haryana': 2, 'Gujarat': 1, 'Maharashtra': 1, 'Arunachal Pradesh': 1})
This is the list of codes for districts [598, 49, 494, 244, 545, 595, 40, 43, 548, 28, 38, 596, 278, 380, 37, 589, 36, 637, 597, 547, 623, 592, 573, 42, 639, 585, 75, 599, 48, 549, 635, 476, 626, 39, 531, 53, 33, 76, 640, 586, 550, 50, 245, 620, 602, 594, 628, 633, 606, 29, 605, 546].

The districts that have the most rural men and women with high BP (>85th percentile) are 48 in number    spread over 11 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Gujarat': 2, 'Arunachal Pradesh': 9, 'Assam': 12, 'Uttar Pradesh': 2, 'Punjab': 9, 'Nagaland': 4, 'Sikkim': 3, 'Himachal Pradesh': 4, 'Andaman & Nicobar Islands': 1, 'Jammu & Kashmir': 1, 'Maharashtra': 1})
This is the list of codes for districts [482, 260, 324, 182, 54, 303, 319, 320, 257, 310, 265, 244, 247, 251, 40, 43, 183, 28, 312, 24, 270, 300, 26, 307, 255, 47, 42, 262, 44, 490, 638, 241, 48, 271, 22, 53, 529, 311, 306, 50, 245, 309, 326, 29, 249, 242, 246, 250].

The districts that have the most rural men and women with high SUG levels (>85th percentile) are 45 in number    spread over 17 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 9, 'Uttar Pradesh': 6, 'Odisha': 6, 'Uttarakhand': 2, 'Manipur': 1, 'Punjab': 1, 'Andhra Pradesh': 1, 'West Bengal': 5, 'Puducherry': 1, 'Mizoram': 1, 'Lakshadweep': 1, 'Nagaland': 3, 'Andaman & Nicobar Islands': 1, 'Tamil Nadu': 4, 'Chhattisgarh': 1, 'Maharashtra': 1, 'Goa': 1})
This is the list of codes for districts [598, 180, 377, 150, 185, 378, 65, 274, 381, 383, 595, 43, 548, 341, 338, 596, 371, 589, 637, 282, 600, 597, 591, 587, 187, 592, 332, 262, 66, 639, 615, 151, 345, 387, 403, 184, 529, 586, 343, 620, 611, 267, 605, 590, 264].

The intersection of the three lists above is 1 districts spread over 1 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {'Punjab': 1})
This is the list of codes for districts appearing in all three [43].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.9:

The districts that have the most rural men and women with high BMI (>90th percentile) are 28 in number    spread over 11 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 5, 'Punjab': 7, 'Daman & Diu': 1, 'Andhra Pradesh': 5, 'Himachal Pradesh': 2, 'Puducherry': 2, 'Andaman & Nicobar Islands': 1, 'Haryana': 1, 'Goa': 1, 'Arunachal Pradesh': 1, 'Tamil Nadu': 2})
This is the list of codes for districts [598, 49, 494, 595, 40, 548, 28, 37, 589, 36, 637, 547, 592, 639, 599, 48, 549, 635, 39, 33, 76, 586, 550, 50, 245, 602, 633, 546].

The districts that have the most rural men and women with high BP (>90th percentile) are 33 in number    spread over 7 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 8, 'Assam': 10, 'Punjab': 9, 'Sikkim': 2, 'Himachal Pradesh': 1, 'Nagaland': 2, 'Andaman & Nicobar Islands': 1})
This is the list of codes for districts [260, 324, 54, 303, 319, 320, 257, 310, 244, 251, 40, 43, 28, 312, 270, 300, 307, 255, 47, 42, 262, 44, 638, 241, 48, 53, 50, 245, 309, 326, 249, 246, 250].

The districts that have the most rural men and women with high SUG levels (>90th percentile) are 28 in number    spread over 14 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 7, 'Odisha': 5, 'Uttarakhand': 1, 'Manipur': 1, 'Punjab': 1, 'West Bengal': 2, 'Puducherry': 1, 'Mizoram': 1, 'Lakshadweep': 1, 'Uttar Pradesh': 3, 'Nagaland': 2, 'Andaman & Nicobar Islands': 1, 'Chhattisgarh': 1, 'Goa': 1})
This is the list of codes for districts [598, 377, 378, 65, 274, 381, 383, 595, 43, 338, 596, 589, 637, 282, 591, 587, 187, 592, 262, 639, 151, 345, 387, 403, 184, 586, 590, 264].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.95:

The districts that have the most rural men and women with high BMI (>95th percentile) are 11 in number    spread over 4 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 4, 'Punjab': 3, 'Andhra Pradesh': 3, 'Puducherry': 1})
This is the list of codes for districts [595, 40, 548, 589, 36, 547, 592, 599, 48, 635, 546].

The districts that have the most rural men and women with high BP (>95th percentile) are 15 in number    spread over 6 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 5, 'Punjab': 2, 'Assam': 4, 'Nagaland': 2, 'Andaman & Nicobar Islands': 1, 'Sikkim': 1})
This is the list of codes for districts [260, 54, 303, 320, 270, 300, 307, 262, 44, 638, 241, 245, 249, 246, 250].

The districts that have the most rural men and women with high SUG levels (>95th percentile) are 13 in number    spread over 8 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Odisha': 2, 'Manipur': 1, 'Kerala': 4, 'Puducherry': 1, 'Mizoram': 1, 'Nagaland': 2, 'Chhattisgarh': 1, 'Uttar Pradesh': 1})
This is the list of codes for districts [378, 274, 381, 596, 589, 637, 282, 591, 262, 403, 184, 590, 264].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.96:

The districts that have the most rural men and women with high BMI (>96th percentile) are 10 in number    spread over 3 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 4, 'Punjab': 3, 'Andhra Pradesh': 3})
This is the list of codes for districts [595, 40, 548, 589, 36, 547, 592, 599, 48, 546].

The districts that have the most rural men and women with high BP (>96th percentile) are 12 in number    spread over 5 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 5, 'Punjab': 2, 'Assam': 3, 'Andaman & Nicobar Islands': 1, 'Sikkim': 1})
This is the list of codes for districts [260, 54, 303, 320, 300, 44, 638, 241, 245, 249, 246, 250].

The districts that have the most rural men and women with high SUG levels (>96th percentile) are 7 in number    spread over 6 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Odisha': 1, 'Manipur': 1, 'Kerala': 2, 'Puducherry': 1, 'Mizoram': 1, 'Nagaland': 1})
This is the list of codes for districts [378, 274, 589, 637, 282, 262, 590].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.97:

The districts that have the most rural men and women with high BMI (>97th percentile) are 6 in number    spread over 3 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Kerala': 2, 'Punjab': 2, 'Andhra Pradesh': 2})
This is the list of codes for districts [595, 40, 547, 599, 48, 546].

The districts that have the most rural men and women with high BP (>97th percentile) are 8 in number    spread over 4 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 5, 'Punjab': 1, 'Assam': 1, 'Andaman & Nicobar Islands': 1})
This is the list of codes for districts [260, 54, 303, 638, 245, 249, 246, 250].

The districts that have the most rural men and women with high SUG levels (>97th percentile) are 5 in number    spread over 4 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Manipur': 1, 'Kerala': 2, 'Mizoram': 1, 'Nagaland': 1})
This is the list of codes for districts [274, 589, 282, 262, 590].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.98:

The districts that have the most rural men and women with high BMI (>98th percentile) are 4 in number    spread over 3 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Punjab': 1, 'Andhra Pradesh': 2, 'Kerala': 1})
This is the list of codes for districts [40, 547, 599, 546].

The districts that have the most rural men and women with high BP (>98th percentile) are 7 in number    spread over 3 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 5, 'Punjab': 1, 'Andaman & Nicobar Islands': 1})
This is the list of codes for districts [260, 54, 638, 245, 249, 246, 250].

The districts that have the most rural men and women with high SUG levels (>98th percentile) are 5 in number    spread over 4 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Manipur': 1, 'Kerala': 2, 'Mizoram': 1, 'Nagaland': 1})
This is the list of codes for districts [274, 589, 282, 262, 590].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.99:

The districts that have the most rural men and women with high BMI (>99th percentile) are 2 in number    spread over 2 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Punjab': 1, 'Andhra Pradesh': 1})
This is the list of codes for districts [40, 547].

The districts that have the most rural men and women with high BP (>99th percentile) are 3 in number    spread over 2 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 2, 'Andaman & Nicobar Islands': 1})
This is the list of codes for districts [260, 638, 245].

The districts that have the most rural men and women with high SUG levels (>99th percentile) are 2 in number    spread over 1 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 2})
This is the list of codes for districts [589, 590].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.9925:

The districts that have the most rural men and women with high BMI (>99th percentile) are 1 in number    spread over 1 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {'Punjab': 1})
This is the list of codes for districts [40].

The districts that have the most rural men and women with high BP (>99th percentile) are 1 in number    spread over 1 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 1})
This is the list of codes for districts [245].

The districts that have the most rural men and women with high SUG levels (>99th percentile) are 2 in number    spread over 1 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 2})
This is the list of codes for districts [589, 590].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

If we fix the percentile at 0.995:

The districts that have the most rural men and women with high BMI (>99th percentile) are 0 in number    spread over 0 states.

This is the state count for rural BMI:
defaultdict(<class 'int'>, {})
This is the list of codes for districts [].

The districts that have the most rural men and women with high BP (>99th percentile) are 1 in number    spread over 1 states.

This is the state count for rural BP:
defaultdict(<class 'int'>, {'Arunachal Pradesh': 1})
This is the list of codes for districts [245].

The districts that have the most rural men and women with high SUG levels (>99th percentile) are 1 in number    spread over 1 states.

This is the state count for rural SUG:
defaultdict(<class 'int'>, {'Kerala': 1})
This is the list of codes for districts [589].

The intersection of the three lists above is 0 districts spread over 0 states

This is the state count for rural ALL:
defaultdict(<class 'int'>, {})
This is the list of codes for districts appearing in all three [].

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>